
<div class="container">
    <br>
    <br>
    <h2 class="text-center">Agenda Cita</h2>
    <br>
    <br>
    <div class="row">
     
      <div class="col-md-4">
        <form [formGroup]="formCita" class="form-horizontal" style="margin:0 auto" >
          <mat-form-field class="form-group">
            <mat-label>Nombre:</mat-label>
            <input matInput type="text" id="nombre" name="nombre" required>
          </mat-form-field>
  
           <mat-form-field class="form-group">
            <mat-label>Correo</mat-label>
            <input matInput type="text" id="apellidoPaterno" name="apellidoPaterno"  required>
          </mat-form-field> 
          

          <mat-form-field class="example-full-width">
            <mat-label>Motivo</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
  
          
        </form>
      </div> 
  

     <div class="col-md-4">
        <form >
         
            <mat-form-field class="form-group">
              <mat-label>Apellido Paterno:</mat-label>
              <input matInput type="text" id="apellidoPaterno" name="apellidoPaterno"  required>
            </mat-form-field>
  
          <mat-form-field class="form-group">
            <mat-label> Contacto Principal</mat-label>
            <input matInput type="text" id="rfc" name="rfc"  required>
          </mat-form-field>
        </form>
      </div> 
      <div class="col-md-4">
        <form >
          <mat-form-field class="form-group">
            <mat-label>Apellido Materno:</mat-label>
            <input matInput type="text" id="contactoPrincipal" name="contactoPrincipal"  required>
          </mat-form-field>
  
          <!-- <mat-form-field>
            <mat-label>Fecha</mat-label>
            <input matInput [matDatepicker]="picker">
          
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
          </mat-form-field> -->
          <mat-form-field>
            <mat-label>Fecha</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          
        
  
          
        </form>
      </div> 
     </div>
    <br>
    <br>
    <div class="col-md-12 text-center">
      
        <button type="submit" class="btn ">Agendra Cita</button>
        &nbsp;&nbsp;&nbsp;
        
    </div>
   
  </div>
   
