.orderinput{
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.cssbutton button{
    width: 100%;
    color: #ffffff;
    margin-bottom: 10px;
    margin-top: 5%;
    background-color: #264D5E;
    
    } 
