<div class="container-fluit">
    <h1 class="titulo">Asignar-Reasignar Usuario</h1>
     </div>
       
     <div class="contenidouser">
     
    <div class="contenedoruno">
    <div class="contenedorunouno">
        <h1 class="subtitulos">Asignar Usuario</h1>
    </div>
    <div class="unodiv">
     
            <h2 class="labelss">Mis Brokers:</h2>
            <br>
            <select class="opciones">
              <option value="opcion1">Opción 1</option>
              <option value="opcion2">Opción 2</option>
              <option value="opcion3">Opción 3</option>
            </select>
        
    </div>
    <div class="dosdiv">
        <h2  class="labelss" >Mis Asesores:</h2>
        <br>
        <select class="opciones">
          <option value="opcion1">Opción 1</option>
          <option value="opcion2">Opción 2</option>
          <option value="opcion3">Opción 3</option>
        </select>
    </div>
    <button class="buttonss"><h2>Asignar</h2></button>
    </div>
    
    <div class="contenedordos">
    <div class="contenedordosdos">
        <h1 class="subtitulos">Reasignar Usuario</h1>
 </div>
    <div class="divuno">
        <h2 class="labelss">Mis Brokers:</h2>        <br>
        <select class="opciones">
          <option value="opcion1">Opción 1</option>
          <option value="opcion2">Opción 2</option>
          <option value="opcion3">Opción 3</option>
        </select>
    </div>
    <div class="divdos">
        <h2  class="labelss" >Mis Asesores:</h2>
        <br>
        <select class="opciones">
          <option value="opcion1">Opción 1</option>
          <option value="opcion2">Opción 2</option>
          <option value="opcion3">Opción 3</option>
        </select>
    </div>
    <button class="buttonss"><h2>Reasignar</h2></button>
    </div>
    

    </div>
    
   
