<div class="contenedorselect">
    <form class="insertar-dialog-content" [formGroup]="formGeneral"> 
      <h1> Selecciona Asesor</h1>
     <mat-form-field>
     
           <mat-label><b>Selecciona Asesor</b></mat-label>
           <mat-select formControlName="Nombres" >
             <mat-option *ngFor="let Asesor of asesores" [value]="Asesor.Id_Usuario">{{Asesor.Nombres}}</mat-option>
           </mat-select>
           <mat-error>
             Tipo Asesor
           </mat-error>
       </mat-form-field>
   
        <br> 
       <button mat-button type="button" [disabled]="loading" color="secondary" (click)="prueba()">
         <span>Asignar</span>
       </button>
        <br>
       <button mat-button type="button" [disabled]="loading" color="warn" (click)="closeDialog()">
         <span>Cancelar</span>
       </button>
         <br>
   
    </form> 
   </div>
   

