<app-menu></app-menu>



<div class="navbar">

  <input  class="inputBuscador" placeholder="Ingresa tu ciudad o Localidad">

  <button class="buttonnavbar" mat-stroked-button type="submit" (click)="mostrar()" ><img class="lupa"></button>
  <button class="buttonnavbar" mat-stroked-button>Precio</button>
  <button class="buttonnavbar" mat-stroked-button>Tipo de Oferta</button>
  <button class="buttonnavbar" mat-stroked-button>Inmueble</button>
  <button class="buttonnavbar" mat-stroked-button>Recamaras</button>
  <button class="buttonnavbar" mat-stroked-button>Filtros avanzados</button>
 


</div>







<div class="container1">
<div class="content-right pr-4"> 
  
</div>

  <div class="row">
    <div class="col-md-6" *ngFor="let res of datosInmueble">
      <div class="producto">
        <table class="table">
          <thead class="productstyle">
            <td colspan="2">
              <h2>{{res.Nombre_Publicacion}}</h2>
            </td>  
            <td colspan="1">

              <h2>${{res.Precio_Final}}</h2>
            </td>
          </thead>
          <thead>
            <td><img src="{{res.Picture1}}" width="275px" height="250px" alt="img"></td>

            <td colspan="2">
              <h1>{{res.Estado}}</h1>
              <h4>{{res.Municipio}}</h4>
              <h3>{{res.Descripcion_Publicacion}}</h3>
            </td>
          </thead>
          <thead>
            <td>
              
                <button (click)="detalles(res.Id_Inmueble, res.Id_Publicador)" class="btn btn-secondary container" id="moreinfo">Más Información</button>
             
            </td>
          </thead>
        </table>
      </div>
    </div>
  </div>

</div>


<pre>
  {{inmueble | json}}
</pre>



<mat-paginator style="justify-content: center;" [length]="100" [pageSize]="8" [pageSizeOptions]="[4, 8, 16, 100]" aria-label="Select page">
</mat-paginator>
<app-footer></app-footer>