//All Pages
.font-Roboto-Condensed {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: medium;
}

.size-icon {
    font-size: 24px;
}

.title-map {
    font-size: 40px;
}

.content-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-size-80x60 {
    width: 80px;
    height: 60px;
    margin-top: -1px;
}

.img-size-60x40 {
    width: 80px;
    height: 60px;
    margin-top: -1px;
}