<app-menu></app-menu>
 <br>
<div class="container">
    <nav class="navbar navbar-light navbar-custom">
        <div class="container-fluid">
           
            height="90px"> 
        </div>
      </nav>
      
     <hr>
      <div class="row g-0">    
</div>
</div>
  <div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="assets/img/Contact.gif" alt="Imagen" class="img-fluid">
        </div>
        
        <div class="col-md-6">
            <br>
             <br>
             <br>
               <h1> Desarrollos inmobiliarios</h1>
               <br>
               <br>
               <br>
               <h4>Anuncia tus desarrollos</h4>
             </div>

             <hr>
             <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="container mt-5">
                        <h1>Por qué elegir </h1>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Nuestros representantes estarán a tu lado en todo momento, proporcionándote las respuestas y las soluciones que necesitas.</li>
                            <li class="list-group-item">Soluciones personalizadas - Ajustamos nuestros servicios según tus requerimientos y tu presupuesto.</li>
                            <li class="list-group-item">Incrementa tu presencia - Fusionamos tecnología, innovación y experiencia del usuario.</li>
                            <li class="list-group-item">Sube imágenes, planos y tours virtuales.</li>
                        </ul>
                    </div>


                </div>
                <div class="col-md-5">
                    <img src="assets/img/Houses-pana.png" alt="Imagen"  width="400px"
                    height="400px" >


                </div>
            </div>
            <hr>
            <br>
               <br>
               <br>
            </div>
        <h2>Nuestra agenda de publicaciones</h2>
        <br>
        <br>  
        <br>
        <br>   
        <div class="card-container" class="col-sm-12" >
              
            <div class="card">
             
              <div class="card-content">
             <h3> Destacado Premium</h3>
             <hr style="border:0px; border-top: 1px dotted #959193;">
             <ul class="list-unstyled">
                 <ul>

                    <li>  Destaque de Alto Nivel</li>
                        <li>  Promoción de Élite</li>
                            <li> Puesto en lo más Alto</li>
                                <li>Distinguido</li>
                                    <li>Destacado Principal</li>
                  </ul>  
              </ul>
              </div>
            </div>
           
            <div class="card">
              <div class="card-content">
                <h3> Destacado </h3>
                <hr style="border:0px; border-top: 1px dotted #959193;">
                <ul class="list-unstyled">
                    <ul>
                        <li>Intermedia</li> 
                        <li>Exposición del Logotipo del Desarrollo y de la Inmobiliaria/Desarrolladora.</li>
                       <li>Opción de Cargar Todas las Unidades de Desarrollo.</li>
                    </ul>
                 </ul>

              </div>
            </div>
            <div class="card">
              <div class="card-content">
                <h3> BÁSICO </h3>
                <hr style="border:0px; border-top: 1px dotted #959193;">
                <ul class="list-unstyled">
                    <ul>
                        <li>Visibilidad convencional</li>
                        <li>Presentación del logotipo del proyecto y de la compañía constructora/promotora.</li>
                        <li> Capacidad para cargar todas las unidades disponibles en el desarrollo.</li>



                    </ul>


                </ul>
              
              </div>
            </div>
          </div>   
    </div>

<br>

<app-footer></app-footer>
  

