<br>
<nav class="nav">
    <img src="assets/img/logo.png" alt="Imagen" width="150px" height="100px">
    <a class="nav-link active" aria-current="page" >Inicio</a>
    <a class="nav-link" >Mercado Inmobiliario</a>
    <a class="nav-link" >Precios</a>
    <a class="nav-link">Decoracion</a>
    <a class="nav-link" >Tips</a>
    <a class="nav-link" >Especiales</a>
    <a class="nav-link" >Corredor Inmobiliarios</a>
    

    
  </nav>
  <br>
  <div class="container">
    <div class="card">
        <div class="row g-0">
          <div class="col-5 col-sm-4">
            <img src="assets/img/Apartment.gif" class="img-fluid" alt="img-fluid">
          </div>
          <div class="col-7 col-sm-8">
            <div class="card-body">
                <br> 
                <br>
                <br>
                <br>
              <h2 class="card-title">Guía para rentar un inmueble</h2>
              <br>
                <br>
              <br>
              <br>
              <div class="text-center">
                <button  class="btn">Renta
                    </button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <br>
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-7"> <!-- Columna de texto con más espacio -->
        <p>
            Antes de iniciar la búsqueda de tu futura residencia, es fundamental tener en consideración todos los aspectos, 
            papeles y aspectos que requieres tener en cuenta. <br>
            Por esta razón, en Inmobe wise, te ofrecemos un manual para alquilar una propiedad.
             Si eres nuevo en este proceso, notarás que hay múltiples elementos que necesitas resolver antes de 
            seleccionar el apartamento que siempre has deseado. En cambio, si ya cuentas con experiencia en este ámbito, 
            estos consejos te serán útiles para refinar y acelerar el proceso.</p>
            <br>
            <h3>Guía esencial para alquilar una propiedad: requisitos fundamentales</h3>
            <p>
                Uno de los desafíos principales que enfrentan los posibles inquilinos es la variabilidad en los procedimientos, ya que, aunque se trata de un proceso de alquiler, los propietarios pueden solicitar diferentes documentos y tiempos para llegar a la firma del contrato.

No obstante, los requisitos más comunes incluyen:
<br>

✦ Documento de identificación oficial o pasaporte válido durante la duración del contrato.
<br>

✦ Prueba de ingresos, que puede ser un comprobante de nómina o un estado de cuenta actualizado de los últimos tres meses.
<br>

✦ Garantía de alquiler: esta garantía protege tanto al propietario como a la propiedad en caso de incumplimiento del contrato.
<br>

La gran mayoría de los propietarios exigen un aval o fiador que sea propietario en la misma ciudad como un requisito indispensable.

En caso de no contar con un aval, existen alternativas como realizar un segundo depósito equivalente al monto del alquiler mensual, firmar pagarés o contratar un seguro de arrendamiento que indemnice al propietario en caso de incumplimiento de pago por parte del inquilino, con una cobertura de hasta 36 meses, entre otros beneficios.
<br>

✦ Depósito de seguridad: es una cantidad de dinero que el propietario solicita como garantía de que cumplirás con los términos del contrato de arrendamiento.

El monto suele equivaler a un mes de alquiler. Este depósito se reembolsa al inquilino al finalizar el contrato, siempre y cuando no haya habido ningún incumplimiento, y suele utilizarse para cubrir eventuales daños causados durante la estancia.







            </p>

      </div>
      <div class="col-md-5"> <!-- Columna de imagen -->
        <img src="assets/img/hause.gif" class="img-fluid" alt="Imagen">
      </div>
    </div>
</div>
<h3> Recomendados </h3>
  <br>
  <br>
  <div class="car-container">
    <div class="car">
      <div class="car-details">
        <img  class="car-image"src="assets/img/contratos.jpeg" alt="Imagen 1">
       
        <p class="text-body">Mercado Inmobiliario Renta
        </p>
      </div>
      <button class="car-button">Mas info </button>
    </div>
  
    <div class="car">
      <div class="car-details">
        <img  class="car-image"src="assets/img/deposito.jpg" alt="Imagen 1">
        <p class="text-title"></p>
        <p class="text-body">Mercado InmobiliarioComprar / VenderRenta</p>
      </div>
      <button class="car-button">Mas info</button>
    </div>
  
    <div class="car">
      <div class="car-details">
        <img  class="car-image"src="assets/img/alquilar.jpg" alt="Imagen 1">
        <p class="text-body">Renta</p>
      </div>
      <button class="car-button">Mas info</button>
    </div>
  </div>

  <div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Comentarios</h2>
            <!-- Aquí se mostrarán los comentarios -->
        </div>
    </div>
</div>

  
 
  

    
      
    










    




<!-- <img src="assets/Apartment.gif" class="img-fluid" alt="img-fluid">  -->









    <!-- <img src="assets/Apartment.gif" class="card-img w-100" alt="GIF en la tarjeta" style="height: 200px;"> -->
   

