<div class="contenedorgeneral">
<div class="container-fluit">
    <div class="contenedorlogo">
        <img src="assets/img/logo.png">
    </div>
    <div class="contenedortext" >
        <h1> ¿Que es un fraude? </h1>
        <p> Consiste en engañar a una persona que esté interesada en comprar una casa o inmueble, de manera que invierta su dinero en ofertas engañosas o realice depósitos sin ningún tipo de garantías. <br>Al ingresar al portal de InmobeWise y al ser de pago las probabilidades de fraudes son bajas.
        </p>
        <br>
        <h1> Evita fraudes </h1>
        <ul>
            <li>
              <p>Evita tratos con quien no puedas contactar fácilmente, que diga que no  esta disponible para encontrarse en persona.
              </p>
            </li>
          </ul>
          <ul>
            <li>
              <p>Tratos de palabra o solicitudes de pagos anticipados sin garantías, bajo la excusa de “apartar” una propiedad.</p>
            </li>
          </ul>
          <ul>
            <li>
              <p>Debes prestar atencion cuando el costo de los inmuebles, esta muy por debajo del precio del mercado.</p>
            </li>
          </ul>
          <ul>
            <li>
              <p>No brindes tu informacion personal o bancaria a un desconocido.</p>
            </li>
          </ul>
          <ul>
            <li>
              <p>No aceptes dar anticipos antes de visitar la casa o firmar algún contrato de compra-venta.</p>
            </li>
          </ul>
          <br>
          <p>Evita cualquier fraude inmobiliario adquiriendo tu casa nueva a través de una empresa confiable como InmobeWise. Los trámites de compra se realizan en condiciones transparentes para brindarte la mayor seguridad al momento de invertir.</p>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <button mat-raised-button  (click)="Index()">Regresar</button>
        </div>
    
</div>

</div>