<div class="container">
    <h1>Eliminar Asesor</h1>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="searchInput">Buscar Asesor:</label>
          <div class="input-group">
            <input  type="text" class="form-control" id="searchInput" placeholder="Ingrese el nombre del asesor" [(ngModel)]="searchTerm">
            
            <div class="input-group-append">
              <button class="btn btn-primary" (click)="buscarAsesor()">Buscar</button>
            </div>
          </div>
    <br>
    <br>
    <div class="row">
      <div class="col-md-6">
        <table class="table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let asesor of asesores" >
              <td>{{ asesor.Nombres + " "+ asesor.Apellido_Paterno +" "+ asesor.Apellido_Materno }}</td>
              <td>

                <button class="btn btn-danger" (click)="mostrarConfirmacion(asesor.Nombres+ ' '+ asesor.Apellido_Paterno +' '+ asesor.Apellido_Materno, asesor.Id_Usuario)">
                  <p  class="paragraph"> Eliminar </p>  
                
                   
                 </button>
              </td>
               </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row" *ngIf="confirmacionVisible">
      <div class="col-md-6">
        <div class="alert alert-warning">
          <p>¿Está seguro de que desea eliminar a {{ asesorSeleccionado }}?</p>
          <button class="btn btn-danger" (click)="eliminarAsesor()">Sí</button>
          <button class="btn btn-secondary" (click)="cancelarEliminar()">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  
