/*.custom-button {
    background-color: #ff5733; /* Cambia el color de fondo */
   /* color: #fff; /* Cambia el color del texto */
   /* border: 2px solid #ff5733; /* Cambia el borde */
    /* Agrega más estilos según tus preferencias */
/*}*/



  
  
  
  
  
  
  /* ------------------------------------------------- */

  button {
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #e62222;
   }
   
   button, button span {
    transition: 200ms;
   }
   
   button .text {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
   }
   
   button .icon {
    position: absolute;
    border-left: 1px solid #c41b1b;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
   button svg {
    width: 15px;
    fill: #eee;
   }
   
   button:hover {
    background: #ff3636;
   }
   
   button:hover .text {
    color: transparent;
   }
   
   button:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
   }
   
   button:focus {
    outline: none;
   }
   
   button:active .icon svg {
    transform: scale(0.8);
   }

/* 
   ---------------------------------------------- */

   .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
    background-color: #007ACC;
    outline: 3px #007ACC solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;
  }
  
  .btn .text {
    color: white;
    font-weight: 700;
    font-size: 1em;
    transition: 400ms;
  }
  
  .btn svg path {
    transition: 400ms;
  }
  
  .btn:hover {
    background-color: transparent;
  }
  
  .btn:hover .text {
    color: #007ACC;
  }
  
  .btn:hover svg path {
    fill: #007ACC;
  }
  .botonera {
    display: flex;
    justify-content: space-between; /* Espacio entre los botones */
}
