<div class="container-fluit">
    <form class="insertar-dialog-content" [formGroup]="formGeneral">
        <div class="contenedorgeneral">
            <div class="col-md-12">
                <div class="contenedortext">
                    <h1> CAMBIO DE ASESOR </h1>
                </div>
                <div class="contenedorimagen">
                    <img src="assets/img/cambio_asesor.png">
                </div>
            </div>



            <div class="row">
                <div class="col-md-6 ">
                    <form class="insertar-dialog-content" [formGroup]="formGeneral">
                        <mat-form-field appearance="fill" style="width: 95%;">
                            <mat-label ><b> Selecciona tu Inmuble Publicado </b> </mat-label>
                            <mat-select formControlName="estatus" required>
                                <!-- <mat-option *ngFor="let est of estados" [value]="est.value">
                                    {{est.viewValue}}</mat-option> -->
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="fill" style="width: 95%;">
                            <textarea matInput rows="4" type="text" placeholder=""
                                formControlName="motivosolicitud"></textarea>
                            <mat-label><b> Motivo </b></mat-label>
                            <mat-error *ngIf="this.formGeneral.get('motivosolicitud')?.hasError('required')">
                                <strong>Obligatorio</strong>
                            </mat-error>
                        </mat-form-field>
                    </form>
                </div>
                <div class="col-md-6 alineabutton">
                    <button mat-raised-button (click)="Guardardatos()">Enviar Solicitud</button>
                </div>
            </div>


        </div>
    </form>
</div>