<div class="container-fluid espacio" >
  <div class="row" >
    <div class="col-3 ">
     <button class="ordenimgtex sinborde" type="button" (click)="ResultadoosBusqueda()">
      <img src="assets/img/Renta.png">
      <h4>Nuevos departamentos en renta</h4>
    </button>

    </div>
    <div class="col-3 ">
      <button class="ordenimgtex sinborde" type="button" (click)="ResultadoosBusqueda()">
      <img src="assets/img/Bajo_Precio.png">
      <h4>Inmuebles en bajo precio</h4>
    </button>
    </div>
    <div class="col-3 ">
      <button class="ordenimgtex sinborde" type="button" (click)="ResultadoosBusqueda()">
      <img src="assets/img/vistos.png">
      <h4>Renta de departamentos mas vistos</h4>
    </button>
     </div>
    <div class="col-3 ">
      <button class="ordenimgtex sinborde" type="button" (click)="ResultadoosBusqueda()">
      <img src="assets/img/Publicados.png">
      <h4>Inmuebles recien publicados</h4>
    </button>
    </div>
  </div>
  </div>