@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
h2{
  color: #264D5E;

}

h4{
  color: #264D5E;
}


body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "lato", sans-serif;
}


.container-fluit {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start;
}

.encabezado{
  padding-top: 25px;
  padding-left: 25px;
  background-color: #f5f5f5;
  width: 20%;
  height: 650px;
  justify-content: center;
  align-items: center;
}
.calendario{
  padding-top: 25px;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.detallesfecha {
  padding-top: 25px;
  padding-left: 25px;
  width: 30%;
  justify-content: center;
  align-items: center;
}

.btnAdd {
  color: #264D5E;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 90px;
  border-radius: 25px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.btnAdd:hover{
  background-color: #e8e8e8;
}

.btnAdd mat-icon {
  margin-right: 5px; 
}


.ShowAddEvent {
  height: 500px;
  width: 700px;
  border-radius: 5px;
  border: 1px solid #ccc;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 0.3s, transform 0.3s;
  background-color: white;
  padding: 20px 40px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}
.ShowAddEvent.mostrar {
  opacity: 1;
  transform: scale(1);
}

.content-addevent {
  max-height: 450px;
  overflow-y: auto;
  list-style: none;
  padding-right: 25px;
  padding-left: 25px;
  
}

.inputAsunto{
  border-radius: 15px;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid #DADCE0;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
}
::placeholder {
  color: transparent;
}
.inputAsunto:focus + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  color: #264D5E;
}
.inputAsunto:focus {
  border: 2px solid #264D5E;
}
.inputAsunto:not(:placeholder-shown)+ .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
}

.inputContainer {
  margin-top: 25px;
  position: relative;
  height: 45px;
  width: 90%;
  margin-bottom: 17px;
}
.inputContainer label {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0 4px;
  background-color: white;
  color: #DADCE0;
  font-size: 16px;
  transition: 0.5s;
  z-index: 0;
}
.submitBtn {
  display: block;
  margin-left: auto;
  padding: 15px 30px;
  border: none;
  background-color: #264D5E;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
}

.submitBtn:hover {
  background-color: #4e7f93;
  transform: translateY(-2px);
}