<div class="container">
    <div class="encabezado">
      <h4>Encabezado</h4>
      <button mat-fab extended (click)="addEvent()"><mat-icon>add</mat-icon></button>
      <ul *ngIf="ShowAddEvent" class="ShowAddEvent">
        <ul class="content-addevent">
          <h4>hola</h4>

        </ul>
      </ul>
    </div>
   
      <div class="calendario">
        <h4>Calendario</h4>
        <mat-card class="demo-inline-calendar-card">
          <mat-calendar [(selected)]="selected"></mat-calendar>
        </mat-card>
        
        
      </div>
   
    <div class="detallesfecha">
      <h4>Detalles de la Fecha</h4>
      <p>Dato seleccionado: {{selected}}</p>
    </div>
  </div>

  