<div class="container-fluit">
    <div class="encabezado">
      <h2>Calendario</h2>
      <button class="btnAdd" (click)="addEvent()"><mat-icon>add</mat-icon> Crear </button>
      <ul *ngIf="ShowAddEvent" class="ShowAddEvent">
        <ul class="content-addevent">
            <div class="inputContainer">
              <input type="text" class="inputAsunto" placeholder="">
              <label for="" class="label">Asunto</label>

            </div>
            <div style="display: flex;">
              <div style="margin-right: 60px;"><h4>fecha de inicio</h4>
               
              </div>
              <div><h4>fecha de cierre</h4>
               
              </div>
            </div>
            <button class="submitBtn">Añadir</button>          
        </ul>
      </ul>
    </div>
   
      <div class="calendario">
        <mat-card class="demo-inline-calendar-card">
          <mat-calendar [(selected)]="selected"></mat-calendar>
        </mat-card>
        
        
        
      </div>
   
    <div class="detallesfecha">
      <h2>Detalles de Fecha</h2>
      <p>Dato seleccionado: {{selected}}</p>
    </div>
  </div>

  