<div class="insertar-dialog">
    <h1 mat-dialog-title>CAMBIAR CONTRASEÑA</h1>
    <div mat-dialog-content>

        <form class="insertar-dialog-content" [formGroup]="formGeneral">

            

            <mat-form-field appearance="fill">
                <mat-label>Ingresa tu contraseña</mat-label>
                <input matInput type="text" [type]="hide ? 'password' : 'text'"  formControlName="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                <mat-error *ngIf="this.formGeneral.get('password')?.hasError('required')">
                    Ingrese una contraseña es <strong>obligatorio</strong>
                </mat-error>
            </mat-form-field>


            <mat-form-field appearance="fill">
                <mat-label>Ingresa nuevamente tu contraseña</mat-label>
                <input matInput type="text" [type]="hide2 ? 'password' : 'text'"  formControlName="password2">
                <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'hide2 password'" [attr.aria-pressed]="hide2">
                    <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                <mat-error *ngIf="this.formGeneral.get('password2')?.hasError('required')">
                    Ingrese una contraseña es <strong>obligatorio</strong>
                </mat-error>
            </mat-form-field>


            <button mat-button (click)="actualizarpassword()" type="submit" [class.spinner]="loading" [disabled]="loading" color="secondary">
                <span>{{ loading ? 'Cargando...' : 'Registrar' }}</span>
            </button><br>

            <button mat-button type="button" [disabled]="loading" color="warn" (click)="closeDialog()">
                <span>Cancelar</span>
            </button><br>

        </form>

    </div>
</div>
