<div class="container">
  <div class="content">
      <img src="assets/img/logo.png" width="150px" height="150px">
      <div>
          <h1 id="saludo">{{ saludo }}</h1>
          <h2 class="typewriter">Bienvenido a inmobewise</h2>
      </div>
  </div>
</div>
<div class="imagen-contenedor">
  <img src="assets/img/Azul_Casas_Vector.png" alt="Casita"  >
</div>



<!-- <div class="container-fluit">
  <div class="perfilcontenedor">
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-md-12">
        <div class="left box-primary">
          <img class="image"
            src="https://yt3.ggpht.com/-Y4ybONkbdYA/AAAAAAAAAAI/AAAAAAAAAAA/SCMi3HFru2w/s100-c-k-no-rj-c0xffffff/photo.jpg"
            alt="" />
          <br>
          <br>
          <a class="btn btn-primary btn-block"><b>Editar foto</b></a>
        </div>
      </div>
    </div>
  </div>


<div class="contenidoperfil">
  <form class="insertar-dialog-content" [formGroup]="formGeneral">
    <div class="row">

      <div class="col-md-3">
        <mat-form-field appearance="fill">
          <input matInput type="text" placeholder="" formControlName="nombre" [(ngModel)]="datos.Nombres">
          <mat-label>
            <b>Nombre</b></mat-label>
          <mat-error *ngIf="this.formGeneral.get('nombre')?.hasError('required')">
            El nombre es <strong>obligatorio</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-3">
        <mat-form-field appearance="fill">
          <input matInput type="text" placeholder="" formControlName="apellidopaterno"
            [(ngModel)]="datos.Apellido_Paterno">
          <mat-label>
            <b>Apellido Paterno</b></mat-label>
          <mat-error *ngIf="this.formGeneral.get('apellidopaterno')?.hasError('required')">
            Apellido Paterno<strong>Obligatorio</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-3">
        <mat-form-field appearance="fill">
          <input matInput type="text" placeholder="" formControlName="apellidomaterno"
            [(ngModel)]="datos.Apellido_Materno">
          <mat-label>
            <b> apellidomaterno </b></mat-label>
          <mat-error *ngIf="this.formGeneral.get('apellidomaterno')?.hasError('required')">
            Apellido Paterno <strong>obligatorio</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-3 ">
        <mat-form-field appearance="fill">
          <input matInput type="text" placeholder="" formControlName="curp" [(ngModel)]="datos.CURP">
          <mat-label>
            <b>CURP</b></mat-label>
          <mat-error *ngIf="this.formGeneral.get('curp')?.hasError('required')">
            CURP <strong>Obligatorio</strong>
          </mat-error>
        </mat-form-field>
      </div>

    </div>

    <div class="row">
      <div class="col-md-3">
        <mat-form-field appearance="fill">
          <input matInput type="text" placeholder="" formControlName="rfc" [(ngModel)]="datos.RFC">
          <mat-label>
            <b>RFC</b></mat-label>
          <mat-error *ngIf="this.formGeneral.get('rfc')?.hasError('required')">
            RFC <strong>Obligatorio</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-3">
        <mat-form-field appearance="fill">
          <mat-label><b>Contacto Principal</b></mat-label>
          <input matInput type="text" placeholder="Telefono" formControlName="contactoprincipal" maxlength="10"
            style="margin-left:6%;" [(ngModel)]="datos.Contacto_Principal">
          <mat-error *ngIf="this.formGeneral.get('contactoprincipal')?.hasError('required')">
            El número de teléfono <strong>es requerido</strong>
          </mat-error>
        </mat-form-field>

      </div>

      <div class="col-md-3">
        <mat-form-field appearance="fill">
          <mat-label><b>Contacto Emergencia</b></mat-label>
          <input matInput type="text" placeholder="Telefono" formControlName="contactoemergencia" maxlength="10"
            style="margin-left:6%;" [(ngModel)]="datos.Contacto_Emergencia">
          <mat-error *ngIf="this.formGeneral.get('contactoemergencia')?.hasError('required')">
            El número de Emergencia <strong>es requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-3 alinea">
        <mat-form-field appearance="legacy" style="width: 100%;">
          <mat-label><b>Correo</b></mat-label>
          <input matInput type="email" placeholder="Correo electronico" formControlName="email"
            [(ngModel)]="datos.Email">
          <mat-error *ngIf="this.formGeneral.get('email')?.hasError('required')">
            Correo es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
      
    </div>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-md-6 cssbutton">
        <button (click)="Guardardatos()" mat-raised-button>Actualizar</button>
      </div>
      <div class="col-md-6 cssbutton">
        <button mat-raised-button color="#264D5E" (click)="openpassword()">cambio de Password</button>
      </div>
    </div>

  </form>
</div>
</div> -->