.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 20%;
    padding: 20px;
  }
  .container img {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  .buttons {
    margin-top: 20px;
  }
  .buttons button {
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 16px;
    cursor: pointer;
  }

    
  button{
    background-color: #264D5E;
    color: white;
  }
  
  .cssbutton button{
    width: 60%;
    color: #ffffff;
    
  } 

  @media (max-width: 500px){

    
    .cssbutton button{
      width: 100%;
      color: #ffffff;
      margin-bottom: 10px;
      
      } 
    
    }