.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
  }
  .container img {
    width: 150px;
    height: 150px;
    margin: 20px;
    object-fit: cover;
  }
  @media (max-width: 500px) {
    .container {
      flex-direction: column;
      align-items: center;
    }
  }
  .buttons {
    margin-top: 20px;
  }
  .buttons button {
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 16px;
    cursor: pointer;
  }
    
  
  .cssbutton button{
    width: 60%;
    color: #ffffff;
    
  } 

  @media (max-width: 500px){
    .cssbutton button{
      width: 100%;
      color: #ffffff;
      margin-bottom: 10px;
      
      } 
    
    }

    .botones {
      margin-top: 5%;
      display: flex;
      justify-content: center;
    }
    
    .botones button {
      margin: 0 20px;
      background-color: #264D5E;
      color: white;
    }
    
    @media (max-width: 768px) {
      .botones {
        flex-direction: column;
        align-items: center;
      }
    
      .botones button {
        margin: 20px 0; 
      }
    }
    