<body>
    <div class="container">
      <img src={{imagen1}} alt="Imagen 1">
      <img src={{imagen2}} alt="Imagen 2">
      <img src={{imagen3}} alt="Imagen 3">
      <img src={{imagen4}} alt="Imagen 4">
      <img src={{imagen5}} alt="Imagen 5">
    </div>
    <div class="row">
    <div class="col-sm cssbutton">
      <button  mat-raised-button (click)="autorizar()">Autorizar</button>
      <button  mat-raised-button (click)="denegar()">Denegar</button>
      <button  mat-raised-button (click)="CerraDialogo()">Cancelar</button>
    </div>
    </div>
</body>  
