
<form class="insertar-dialog-content" [formGroup]="formGeneral">
  <!-- <h1>Detalles del Inmueble </h1> -->
  <div class="container-fluid">
      <div class="row">
          <br>
          <hr>
          <h1 class="text-center">Informacion general del Inmueble <i class="bi bi-info">
                  <i class="bi bi-houses"></i>
              </i></h1>
          <hr>
          <div class="col-md-4 ordenainput">
              <mat-form-field appearance="fill">
                  <input matInput type="text" placeholder="" formControlName="Nombre_Inmueble"
                      [ngModel]="Nombre_Inmueble">
                  <mat-label> Nombre del Inmueble </mat-label>
                  <mat-icon matSuffix>
                      <img src="assets/img/edificio1.png" alt="Icono" width="30" height="30">
                  </mat-icon>
              </mat-form-field>
          </div>

          <div class="col-md-4 ordenainput">
              <mat-form-field appearance="fill">
                  <textarea matInput type="text" placeholder="" formControlName="Descripcion_Inmueble"
                      [ngModel]="Descripcion_Inmueble"> </textarea>
                  <mat-label> Descripcion </mat-label>
                  <mat-icon matSuffix>
                      <img src="assets/img/bienes-raices.png" alt="Icono" width="30" height="30">
                  </mat-icon>
              </mat-form-field>
          </div>

          <div class="col-md-4 ordenainput">
              <mat-form-field appearance="fill">
                  <input matInput type="text" placeholder="" formControlName="Calle" [ngModel]="Calle">
                  <mat-label>Calle</mat-label>
                  <mat-icon matSuffix>
                      <img src="assets/img/mapa-de-la-calle.png" alt="Icono" width="30" height="30">
                  </mat-icon>
              </mat-form-field>
          </div>
<!-- ----------------------------------------------------------------------------- -->

          <div class="col-md-4 ordenainput">
              <mat-form-field appearance="fill">
                  <input matInput type="text" placeholder="" formControlName="Num_Ext" [ngModel]="Num_Ext">
                  <mat-label>No Exterior</mat-label>
                  <mat-icon matSuffix>
                      <img src="assets/img/entrega-a-domicilio.png" alt="Icono" width="30" height="30">
                  </mat-icon>
              </mat-form-field>
          </div>

          <div class="col-md-4 ordenainput">
              <mat-form-field appearance="fill">
                  <input matInput type="text" placeholder="" formControlName="Num_Int" [ngModel]="Num_Int">
                  <mat-label>No Interior</mat-label>
                  <mat-icon matSuffix>
                      <img src="assets/img/entrega-a-domicilio.png" alt="Icono" width="30" height="30">
                  </mat-icon>
              </mat-form-field>
          </div>

          <div class="col-md-4 ordenainput">
              <mat-form-field appearance="fill">
                  <input matInput type="text" placeholder="" formControlName="Terrenometros"
                      [ngModel]="Terrenometros">
                  <mat-label> Terreno metros </mat-label>
                  <mat-error *ngIf="this.formGeneral.get('Terrenometros')?.hasError('required')">
                      <strong>obligatorio</strong>
                  </mat-error>
                  <mat-icon matSuffix><img src="assets/img/mtrs_construidos.png" alt="Icono" width="25"
                          height="25">
                  </mat-icon>
              </mat-form-field>
          </div>
<!-- ----------------------------------------------------------- -->
          <div class="col-md-4 ordenainput">
          </div>
          <div class="col-md-4 ordenainput">
              <mat-form-field appearance="fill" class="textinput">
                  <input matInput type="text" placeholder="" formControlName="Construccion"
                      [ngModel]="construccion">
                  <mat-label>Construccion</mat-label>
                  <mat-error *ngIf="this.formGeneral.get('Construccion')?.hasError('required')">
                      <!-- <strong>obligatorio</strong> -->
                  </mat-error>
                  <mat-icon matSuffix>
                      <img src="assets/img/construir.png" alt="Icono" width="25" height="25">
                  </mat-icon>
              </mat-form-field>
          </div>
          <div class="col-md-4 ordenainput">
          </div>
<!-- ------------------------------------------------------- -->
          <br>
          <hr>
          <h1 class="text-center"> Caracteristicas del Inmueble <i class="bi bi-pencil">
                  <i class="bi bi-houses"></i>
              </i>
          </h1>
          <hr>
          <br>
          <div class="col-md-4 ordenainput">
              <mat-form-field appearance="fill" class="textinput">
                  <!-- <input matInput type="email" placeholder="Correo electronico" formControlName="email" [(ngModel)]="datos.Email"> -->
                  <input matInput type="text" placeholder="" formControlName="Numero_de_recamaras"
                      [ngModel]="recamaras">
                  <mat-label>Numero de recamaras</mat-label>
                  <mat-error *ngIf="this.formGeneral.get('Numero_de_recamaras')?.hasError('required')">
                      <strong>obligatorio</strong>
                  </mat-error>
                  <mat-icon matSuffix>
                      <img src="assets/img/recamara.png" alt="Icono" width="30" height="30">
                  </mat-icon>
              </mat-form-field>
          </div>


          <div class="col-md-4 ordenainput">
              <mat-form-field appearance="fill" class="textinput">
                  <input matInput type="text" placeholder="" formControlName="Numero_de_baños" [ngModel]="banos">
                  <mat-label>Numero de baños</mat-label>
                  <mat-error *ngIf="this.formGeneral.get('Numero_de_baños')?.hasError('required')">
                      <strong>obligatorio</strong>
                  </mat-error>
                  <mat-icon matSuffix>
                      <img src="assets/img/bano.png" alt="Icono" width="25" height="25">
                  </mat-icon>
              </mat-form-field>
          </div>

          <div class="col-md-4 ordenainput">
              <mat-form-field appearance="fill" class="textinput">
                  <input matInput type="text" placeholder="" formControlName="Numero_de_pisos" [ngModel]="pisos">
                  <mat-label> Numero de pisos </mat-label>
                  <mat-error *ngIf="this.formGeneral.get('Numero_de_pisos')?.hasError('required')">
                      <strong>obligatorio</strong>
                  </mat-error>
                  <mat-icon matSuffix>
                      <img src="assets/img/num_pisos.png" alt="Icono" width="25" height="25">
                  </mat-icon>
              </mat-form-field>
          </div>
<!-- ------------------------------------------------------------------ -->
          <div class="col-md-4 ordenainput">
              <mat-form-field appearance="fill" class="textinput">
                  <input matInput type="text" placeholder="" formControlName="Años_de_Antiguedad"
                      [ngModel]="antiguedad">
                  <mat-label>Años de Antiguedad</mat-label>
                  <mat-error *ngIf="this.formGeneral.get('Años_de_Antiguedad')?.hasError('required')">
                      <strong>obligatorio</strong>
                  </mat-error>
                  <mat-icon matSuffix>
                      <img src="assets/img/antiguedad.png" alt="Icono" width="25" height="25">
                  </mat-icon>
              </mat-form-field>
          </div>

          <div class="col-md-4 ordenainput">
              <mat-form-field appearance="fill" class="textinput">
                  <input matInput type="text" placeholder="" formControlName="Acabados" [ngModel]="acabados">
                  <mat-label>Acabados</mat-label>
                  <mat-error *ngIf="this.formGeneral.get('Acabados')?.hasError('required')">
                      <strong>obligatorio</strong>
                  </mat-error>
                  <mat-icon matSuffix>
                      <img src="assets/img/acabados.png" alt="Icono" width="25" height="25">
                  </mat-icon>
              </mat-form-field>
          </div>

<!-- ----------------------------------------------------------------- -->

          <div class="col-md-4 ordenainput">
              <mat-form-field appearance="fill" class="textinput">
                  <input matInput type="text" placeholder="" formControlName="Gimnasio" [ngModel]="gimnasio">
                  <mat-label>Gimnasio</mat-label>
                  <mat-error *ngIf="this.formGeneral.get('Gimnasio')?.hasError('required')">
                      <strong>obligatorio</strong>
                  </mat-error>
                  <mat-icon matSuffix>
                      <img src="assets/img/gimna.png" alt="Icono" width="30" height="30">
                  </mat-icon>
              </mat-form-field>
          </div>

          <div class="col-md-4 ordenainput">
              <mat-form-field appearance="fill" class="textinput">
                  <input matInput type="text" placeholder="" formControlName="Estacionamiento"
                      [ngModel]="estacionamiento">
                  <mat-label>Estacionamiento</mat-label>
                  <mat-error *ngIf="this.formGeneral.get('Estacionamiento')?.hasError('required')">
                      <strong>obligatorio</strong>
                  </mat-error>
                  <mat-icon matSuffix>
                      <img src="assets/img/coche.png" alt="Icono" width="30" height="30">
                  </mat-icon>
              </mat-form-field>
          </div>

          <div class="col-md-4 ordenainput">
              <mat-form-field appearance="fill" class="textinput">
                  <input matInput type="text" placeholder="" formControlName="Jardin" [ngModel]="jardin">
                  <mat-label>Jardin</mat-label>
                  <mat-error *ngIf="this.formGeneral.get('Jardin')?.hasError('required')">
                      El nombre es <strong>obligatorio</strong>
                  </mat-error>
                  <mat-icon matSuffix>
                      <img src="assets/img/terraza.png" alt="Icono" width="28" height="28">
                  </mat-icon>
              </mat-form-field>
          </div>

<!-- ------------------------------------------------------------ -->

          <div class="col-md-4 ordenainput">
              <mat-form-field appearance="fill" class="textinput">
                  <input matInput type="text" placeholder="" formControlName="Cocina_Integral" [ngModel]="cocina">
                  <mat-label>Cocina Integral</mat-label>
                  <mat-error *ngIf="this.formGeneral.get('Cocina_Integral')?.hasError('required')">
                      <strong>obligatorio</strong>
                  </mat-error>
                  <mat-icon matSuffix>
                      <img src="assets/img/cocina.png" alt="Icono" width="30" height="30">
                  </mat-icon>
              </mat-form-field>
          </div>

          <div class="col-md-4 ordenainput">
              <mat-form-field appearance="fill" class="textinput">
                  <input matInput type="text" placeholder="" formControlName="Alberca" [ngModel]="alberca">
                  <mat-label>Alberca</mat-label>
                  <mat-error *ngIf="this.formGeneral.get('Alberca')?.hasError('required')">
                      <strong>obligatorio</strong>
                  </mat-error>
                  <mat-icon matSuffix>
                      <img src="assets/img/nadando.png" alt="Icono" width="30" height="30">
                  </mat-icon>
              </mat-form-field>
          </div>
          <div class="col-md-4 ordenainput">
          </div>

          <div class="col-md-4 ordenainput">
              <mat-form-field appearance="fill" class="textinput">
                  <input matInput type="text" placeholder="" formControlName="Roof_Garden" [ngModel]="roof">
                  <mat-label>Roof Garden</mat-label>
                  <mat-error *ngIf="this.formGeneral.get('Roof_Garden')?.hasError('required')">
                      El nombre es <strong>obligatorio</strong>
                  </mat-error>
                  <mat-icon matSuffix>
                      <img src="assets/img/techo.png" alt="Icono" width="30" height="30">
                  </mat-icon>
              </mat-form-field>
          </div>


          <!-- --------------------------------------------------------------------------------------- -->
          <br>
          <br>
          <br>
          <hr>
          <h1 class="text-center"> Precio <i class="bi bi-currency-dollar">
                  <i class="bi bi-houses"></i>
              </i> </h1>
          <hr>
          <br>
          <br>
          <div class="col-md-4 ordenainput">
              <mat-form-field appearance="fill" class="textinput">
                  <input matInput type="text" placeholder="" formControlName="Precio_Min" [ngModel]="Precio_Min">
                  <mat-label>Precio Minimo</mat-label>
                  <mat-error *ngIf="this.formGeneral.get('Roof_Garden')?.hasError('required')">
                      El nombre es <strong>obligatorio</strong>
                  </mat-error>
                  <mat-icon matSuffix>
                      <img src="assets/img/valor-de-la-vivienda.png" alt="Icono" width="30" height="30">
                  </mat-icon>
              </mat-form-field>
          </div>

          <div class="col-md-4 ordenainput">
              <mat-form-field appearance="fill" class="textinput">
                  <input matInput type="text" placeholder="" formControlName="Precio_Max" [ngModel]="Precio_Max">
                  <mat-label>Precio Maximo</mat-label>
                  <mat-error *ngIf="this.formGeneral.get('Roof_Garden')?.hasError('required')">
                      El nombre es <strong>obligatorio</strong>
                  </mat-error>
                  <mat-icon matSuffix>
                      <img src="assets/img/valor-de-la-vivienda.png" alt="Icono" width="30" height="30">
                  </mat-icon>
              </mat-form-field>
          </div>

          <div class="col-md-4 ordenainput">
              <mat-form-field appearance="fill" class="textinput">
                  <input matInput type="text" placeholder="" formControlName="Precio_Final" [ngModel]="Precio_Final">
                  <mat-label>Precio Final</mat-label>
                  <mat-error *ngIf="this.formGeneral.get('Roof_Garden')?.hasError('required')">
                      El nombre es <strong>obligatorio</strong>
                  </mat-error>
                  <mat-icon matSuffix>
                      <img src="assets/img/precioF.png" alt="Icono" width="30" height="30">
                  </mat-icon>
              </mat-form-field>
          </div>
          <br>
          <div class="col-md-4 ordenainput">
          </div>
         
          <!-- <div class="ordenabutton">
              <button mat-raised-button (click)="closeDialog()">Salir</button>
          </div> -->
      </div>
  </div>
  <hr>
  <h1 class="text-center"> Imagenes <i class="bi image">
    <i class="bi bi-houses"></i>
  </i>
  </h1>
  <hr>
</form>


<body>
    <div class="container">
      <img src={{imagen1}} alt="Imagen 1">
      <img src={{imagen2}} alt="Imagen 2">
      <img src={{imagen3}} alt="Imagen 3">
      <img src={{imagen4}} alt="Imagen 4">
      <img src={{imagen5}} alt="Imagen 5">
    </div>
    <!-- Puto marco xd -->
    <div class="botones">
      <button  mat-raised-button (click)="autorizar()">Autorizar</button>
      <button  mat-raised-button (click)="denegar()">Denegar</button>
      <button  mat-raised-button (click)="CerraDialogo()">Cancelar</button>
    </div>
</body>  
