.perfilcontenedor{
    width: 50%;
    height: 50%;
    background-color: blueviolet;
    float: left;

}

.contenidoperfil{
    width: 50%;
    height: 50%;
    background-color: brown;
    float: left;
}

