<section class="vh-100">
    <div class="container-fluid">
         <div class="row">
             <div class="col-sm-6 text-black">
                 <div class="px-5 ms-xl-4">
                     <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
                    
                 </div>
                 <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
                     <form [formGroup]="formLogin"   style="width: 23rem;">
                         <h1 class="display-1" > Iniciar Sesión</h1>
                         
                         <div class="form-outline mb-4">
                            
                             <input matInput formControlName="nombreU" type="email" class="form-control" id="correo"   aria-describedby="emailHelp" placeholder="Nombre Usuario:">  
                         </div>
 
                         <div class="form-outline mb-4">
                            
                             <input  matInput formControlName="password" type="password"  id="contraseña"  class="form-control"  placeholder="Contraseña">
                           
                          
                           </div>
 
                         <div class="pt-1 mb-4">
               <button class="btn btn-secondary btn-lg" type="button" (click)="login()">Iniciar sesión</button>
             </div>
             <p class="small mb-5 pb-lg-2"><a class="text-muted"  (click)="abrir()" >Olvidaste tu contraseña</a></p>

             <div class="modal" tabindex="-1" role="dialog" #ventanaEmergente>
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title custom-text" id="myModalLabel"> Cambiar Contraseña</h4>
                            </div>
                            <div class="modal-body">
                                <form [formGroup]="formulario">
                                    <div class="form-group">
                                      
                                        <input  class="form-control" id="currentPassword" formControlName="correo" placeholder="Correo">
                                        <div *ngIf="formulario?.get('correo')?.hasError('required') && formulario?.get('correo')?.touched" class="error-message">
                                            Por favor, complete este campo.
                                          </div>
                                          </div>
                                          <br>
                                          <div class="form-group">
                                         
                                            <input type="password" class="form-control"  formControlName="NuevaC" id="NuevaC" placeholder="Nueva Contraseña">
                                            <div *ngIf="formulario?.get('NuevaC')?.hasError('required') && formulario?.get('NuevaC')?.touched" class="error-message">
                                                Por favor, complete este campo.
                                              </div>
                                          </div>
                                          <br>
                                   
                                  </form>
                                     <br>
                                  <div class="pt-1 mb-4">
                                    <button class="btn btn-secondary btn-lg" (click)="aceptar()" type="button" >Aceptar</button>
                                  </div>

                                  
                                  
                                  
                            </div>










                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cerrarVentanaEmergente()">Cerrar</button>
                              </div>
                    </div>


                </div>


             </div>

















             <p>¿No tiene cuenta? <a (click)="registro()" class="link-info">Regístrese aquí</a></p>
                     </form>
                 </div>
             </div>
             <div class="col-sm-6 px-0 d-none d-sm-block">
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
           <img src="assets/img/casita.png" class="object-fit-contain border rounded" alt="...">
             </div>
         </div>
     </div>
    
 </section>
 