// .demo-inline-calendar-card {
//     width: 300px;
//   }

p {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    color: #333;
    text-align: center;
    margin: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }