h1{
  text-align: center;
}


h2{

    text-align: center;

 
}
.typewriter {
overflow: hidden; 

white-space: nowrap; 
margin: 0 auto; 
letter-spacing: 0.15em; 
animation: typing 9s steps(40, end), blink-caret 0.75s infinite;
/* animation: typing 2s steps(20, end), blink-caret 0.75s infinite; */
}

/* Animation for typing effect */
@keyframes typing {
from { width: 0 }
to { width: 100% }
}

/* Animation for blinking cursor */
@keyframes blink-caret {
from, to { border-color: transparent }
50% { border-color: #38B6E3 }
}

.container {
text-align: center;
}

.content {
display: inline-block;
margin-top: 20px; /* Ajusta según sea necesario */
}

img {
width: 150px;
height: 150px;
margin-right: 20px; /* Ajusta según sea necesario */
}

.imagen-contenedor {
text-align: center;
}

.imagen-contenedor img {
width: 500px;
height: 300px;
/* Agrega otros estilos según sea necesario */
}