<app-menuinmueble></app-menuinmueble>
<br>
 <br>
 <br>
 <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  
<div class="row justify-content-center align-items-center">
   
 
 
    <div class="col-sm-9">
      <nav class="nav">
      
         <!-- <a class="nav-link disabled" (click)="toggleTabla()"  tabindex="-1" aria-disabled="true" >
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <i class="bi bi-basket3"></i> Mis compras disponibles</a> -->
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <button class="btn btn-light btn-grande" (click)="toggleTabla()"> &nbsp;&nbsp;&nbsp; Resumen de Cuenta&nbsp;&nbsp;&nbsp;
            </button>
  <table class="table mt-3" *ngIf="mostrarTabla">
   <thead>
     <tr>
       <th scope="col">No de venta</th>
       <th scope="col">Fecha de Compra </th>
       <th scope="col">Monto</th>
       <th scope="col">Pagado</th>
       <th scope="col">Estado de suscrpcion</th>
     </tr>
   </thead>
   <tbody>
     <tr>

       <!-- <th scope="row">Simple</th> -->
       <td>15678</td>
       <td>12/09/2023</td>
       <td>MN 0</td>
       <td><i class="bi bi-check-lg"></i></td>
       <td></td>
       <td></td>

     </tr>
     <tr>
       <th scope="row"></th>
       <td></td>
       <td></td>
       <td></td>
       <td></td>
     </tr>
     <!-- Agrega más filas según sea necesario -->
   </tbody>
 </table>
       </nav>
    </div>
</div>
