<div class="container-fluid">
    <form class="insertar-dialog-content" [formGroup]="formGeneral">
        <div class=" contenedordialolg">
            <h1>Detalles del Inmueble </h1>
            <div class="centrarinput">
                <mat-form-field appearance="fill" class="textinput">
                    <input matInput type="text" placeholder="" formControlName="Terrenometros"
                        [ngModel]="Terrenometros">
                    <mat-label>
                        <b>Terreno metros</b></mat-label>
                    <mat-error *ngIf="this.formGeneral.get('Terrenometros')?.hasError('required')">
                        <strong>obligatorio</strong>
                    </mat-error>
                    <mat-icon matSuffix><img src="../../../../assets/img/mtrs_construidos.png" alt="Icono" width="25"
                            height="25">
                    </mat-icon>
                </mat-form-field>
            </div>

            <div class="centrarinput">
                <mat-form-field appearance="fill" class="textinput">
                    <input matInput type="text" placeholder="" formControlName="Construccion" [ngModel]="construccion">

                    <mat-label><b>Construccion</b></mat-label>
                    <mat-error *ngIf="this.formGeneral.get('Construccion')?.hasError('required')">
                        <!-- <strong>obligatorio</strong> -->
                    </mat-error>
                    <mat-icon matSuffix>
                        <img src="assets/img/construir.png" alt="Icono" width="25" height="25">
                    </mat-icon>
                </mat-form-field>

            </div>


            <div class="centrarinput">
                <mat-form-field appearance="fill" class="textinput">
                    <!-- <input matInput type="email" placeholder="Correo electronico" formControlName="email" [(ngModel)]="datos.Email"> -->
                    <input matInput type="text" placeholder="" formControlName="Numero_de_recamaras"
                        [ngModel]="recamaras">
                    <mat-label>
                        <b>Numero de recamaras</b></mat-label>
                    <mat-error *ngIf="this.formGeneral.get('Numero_de_recamaras')?.hasError('required')">
                        <strong>obligatorio</strong>
                    </mat-error>
                    <mat-icon matSuffix>
                        <img src="../../../../assets/img/recamara.png" alt="Icono" width="30" height="30">
                    </mat-icon>
                </mat-form-field>
            </div>


            <div class="centrarinput">
                <mat-form-field appearance="fill" class="textinput">
                    <input matInput type="text" placeholder="" formControlName="Numero_de_baños" [ngModel]="banos">
                    <mat-label>
                        <b>Numero de baños </b></mat-label>
                    <mat-error *ngIf="this.formGeneral.get('Numero_de_baños')?.hasError('required')">
                        <strong>obligatorio</strong>
                    </mat-error>
                    <mat-icon matSuffix>
                        <img src="../../../../assets/img/bano.png" alt="Icono" width="25" height="25">
                    </mat-icon>
                </mat-form-field>
            </div>

            <div class="centrarinput">
                <mat-form-field appearance="fill" class="textinput">
                    <input matInput type="text" placeholder="" formControlName="Numero_de_pisos" [ngModel]="pisos">
                    <mat-label>
                        <b>Numero de pisos </b></mat-label>
                    <mat-error *ngIf="this.formGeneral.get('Numero_de_pisos')?.hasError('required')">
                        <strong>obligatorio</strong>
                    </mat-error>
                    <mat-icon matSuffix>
                        <img src="../../../../assets/img/num_pisos.png" alt="Icono" width="25" height="25">
                    </mat-icon>
                </mat-form-field>
            </div>

            <div class="centrarinput">
                <mat-form-field appearance="fill" class="textinput">
                    <input matInput type="text" placeholder="" formControlName="Años_de_Antiguedad"
                        [ngModel]="antiguedad">
                    <mat-label>
                        <b>Años de Antiguedad</b></mat-label>
                    <mat-error *ngIf="this.formGeneral.get('Años_de_Antiguedad')?.hasError('required')">
                        <strong>obligatorio</strong>
                    </mat-error>
                    <mat-icon matSuffix>
                        <img src="../../../../assets/img/antiguedad.png" alt="Icono" width="25" height="25">
                    </mat-icon>
                </mat-form-field>
            </div>

            <div class="centrarinput2">
                <mat-form-field appearance="fill" class="textinput">
                    <input matInput type="text" placeholder="" formControlName="Acabados" [ngModel]="acabados">
                    <mat-label> <b>Acabados</b></mat-label>
                    <mat-error *ngIf="this.formGeneral.get('Acabados')?.hasError('required')">
                        <strong>obligatorio</strong>
                    </mat-error>
                    <mat-icon matSuffix>
                        <img src="../../../../assets/img/acabados.png" alt="Icono" width="25" height="25">
                    </mat-icon>
                </mat-form-field>
            </div>
            <br>
            <br>
            <!-- Datos Adicionales -->

            <h1>Datos Adicionales</h1>
            <div class="centrarinput">
                <mat-form-field appearance="fill" class="textinput">
                    <input matInput type="text" placeholder="" formControlName="Gimnasio" [ngModel]="gimnasio">
                    <mat-label><b>Gimnasio</b></mat-label>
                    <mat-error *ngIf="this.formGeneral.get('Gimnasio')?.hasError('required')">
                        <strong>obligatorio</strong>
                    </mat-error>
                    <mat-icon matSuffix>
                        <img src="assets/img/gimna.png" alt="Icono" width="30" height="30">
                    </mat-icon>
                </mat-form-field>
            </div>

            <div class="centrarinput">
                <mat-form-field appearance="fill" class="textinput">
                    <input matInput type="text" placeholder="" formControlName="Estacionamiento"
                        [ngModel]="estacionamiento">
                    <mat-label><b>Estacionamiento </b></mat-label>
                    <mat-error *ngIf="this.formGeneral.get('Estacionamiento')?.hasError('required')">
                        <strong>obligatorio</strong>
                    </mat-error>
                    <mat-icon matSuffix>
                        <img src="assets/img/coche.png" alt="Icono" width="30" height="30">
                    </mat-icon>
                </mat-form-field>
            </div>

            <div class="centrarinput">
                <mat-form-field appearance="fill" class="textinput">
                    <input matInput type="text" placeholder="" formControlName="Jardin" [ngModel]="jardin">
                    <mat-label> <b>Jardin</b> </mat-label>
                    <mat-error *ngIf="this.formGeneral.get('Jardin')?.hasError('required')">
                        El nombre es <strong>obligatorio</strong>
                    </mat-error>
                    <mat-icon matSuffix>
                        <img src="assets/img/terraza.png" alt="Icono" width="28" height="28">
                    </mat-icon>
                </mat-form-field>
            </div>

            <div class="centrarinput">
                <mat-form-field appearance="fill" class="textinput">
                    <input matInput type="text" placeholder="" formControlName="Cocina_Integral" [ngModel]="cocina">
                    <mat-label><b>Cocina Integral</b></mat-label>
                    <mat-error *ngIf="this.formGeneral.get('Cocina_Integral')?.hasError('required')">
                        <strong>obligatorio</strong>
                    </mat-error>
                    <mat-icon matSuffix>
                        <img src="assets/img/cocina.png" alt="Icono" width="30" height="30">
                    </mat-icon>
                </mat-form-field>
            </div>

            <div class="centrarinput">
                <mat-form-field appearance="fill" class="textinput">
                    <input matInput type="text" placeholder="" formControlName="Alberca" [ngModel]="alberca">
                    <mat-label><b>Alberca</b></mat-label>
                    <mat-error *ngIf="this.formGeneral.get('Alberca')?.hasError('required')">
                        <strong>obligatorio</strong>
                    </mat-error>
                    <mat-icon matSuffix>
                        <img src="assets/img/nadando.png" alt="Icono" width="30" height="30">
                    </mat-icon>
                </mat-form-field>
            </div>

            <div class="centrarinput">
                <mat-form-field appearance="fill" class="textinput">
                    <input matInput type="text" placeholder="" formControlName="Roof_Garden" [ngModel]="roof">
                    <mat-label><b>Roof Garden </b></mat-label>
                    <mat-error *ngIf="this.formGeneral.get('Roof_Garden')?.hasError('required')">
                        El nombre es <strong>obligatorio</strong>
                    </mat-error>
                    <mat-icon matSuffix>
                        <img src="assets/img/techo.png" alt="Icono" width="30" height="30">
                    </mat-icon>
                </mat-form-field>
            </div>

        </div>
        
        <div class="ordenabutton">
            <button mat-raised-button (click)="closeDialog()">Salir</button>
        </div>

    </form>

</div>