<div class="contenedorgeneral">
<div class="col-md-12">
    <form class="insertar-dialog-content" [formGroup]="formGeneral">
  
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="fill">
            <mat-label><b>Selecciona Usuario</b></mat-label>
            <mat-select formControlName="seleccionausuario" required>
              <mat-option *ngFor="let est of tipos" [value]="est.value">
                {{est.viewValue}}</mat-option>
            </mat-select>
            <mat-error>
              Selecciona Usuario
            </mat-error>
          </mat-form-field>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-3">
          <mat-form-field appearance="fill">
            <input matInput type="text" placeholder="" formControlName="nombre">
            <mat-label> <b>Nombre</b> </mat-label>
            <mat-error *ngIf="this.formGeneral.get('nombre')?.hasError('required')">
              El nombre es <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
  
        <div class="col-md-3">
          <mat-form-field appearance="fill">
            <input matInput type="text" placeholder="" formControlName="apellidopaterno">
            <mat-label>
              <b>Apellido Paterno</b></mat-label>
            <mat-error *ngIf="this.formGeneral.get('apellidopaterno')?.hasError('required')">
              Apellido Paterno<strong>Obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
  
        <div class="col-md-3">
          <mat-form-field appearance="fill">
            <input matInput type="text" placeholder="" formControlName="apellidomaterno">
            <mat-label><b>Apellido Materno</b></mat-label>
            <mat-error *ngIf="this.formGeneral.get('apellidomaterno')?.hasError('required')">
              Apellido Materno <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
  
        <div class="col-md-3 ">
          <mat-form-field appearance="fill">
            <input matInput type="text" placeholder="" formControlName="curp">
            <mat-label>
              <b>CURP</b></mat-label>
            <mat-error *ngIf="this.formGeneral.get('curp')?.hasError('required')">
              CURP <strong>Obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
    </div>
  
    <div class="row">
      <div class="col-md-3">
        <mat-form-field appearance="fill">
          <input matInput type="text" placeholder="" formControlName="rfc">
          <mat-label>
              <b>RFC</b></mat-label>
          <mat-error *ngIf="this.formGeneral.get('rfc')?.hasError('required')">
              RFC <strong>Obligatorio</strong>
          </mat-error>
        </mat-form-field>
      </div>
  
      
      <div class="col-md-3">
        <mat-form-field appearance="fill">
          <mat-label><b>Contacto Principal</b></mat-label>
          <input matInput type="text" placeholder="Telefono" formControlName="contactoprincipal" maxlength="10" style="margin-left:6%;">
          <mat-error *ngIf="this.formGeneral.get('contactoprincipal')?.hasError('required')">
              El número de teléfono <strong>es requerido</strong>
          </mat-error>
      </mat-form-field>
      </div>
  
  
      <div class="col-md-3">
        <mat-form-field appearance="fill">
          <mat-label><b>Contacto Emergencia</b></mat-label>
          <input matInput type="text" placeholder="Telefono" formControlName="contactoemergencia" maxlength="10" style="margin-left:6%;">
          <mat-error *ngIf="this.formGeneral.get('contactoemergencia')?.hasError('required')">
              El número de Emergencia <strong>es requerido</strong>
          </mat-error>
        </mat-form-field>    
      </div>
     
  
      <div class="col-md-3">
        <mat-form-field appearance="fill" style="width: 95%;">
          <mat-label ><b>Correo</b></mat-label>
          <input matInput type="email" placeholder="Correo electronico" formControlName="email">
          <mat-error *ngIf="this.formGeneral.get('email')?.hasError('required')">
              Correo es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-3">
        <mat-form-field appearance="fill">
          <input matInput type="text" placeholder="" formControlName="nombreusuario">
          <mat-label><b>Nombre Usuario </b></mat-label>
          <mat-error *ngIf="this.formGeneral.get('nombreusuario')?.hasError('required')">
              Nombre Usuario <strong>Obligatorio</strong>
          </mat-error>
        </mat-form-field> 
      </div>
  
      <div class="col-md-3 ">
        <mat-form-field appearance="fill">
          <mat-label><b> Contraseña </b></mat-label>
          <input matInput type="text" [type]="hide2 ? 'password' : 'text'"  formControlName="password">
          <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'hide2 password'" [attr.aria-pressed]="hide2">
              <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          <mat-error *ngIf="this.formGeneral.get('password')?.hasError('required')">
              Ingrese una contraseña es <strong>obligatorio</strong>
          </mat-error>
        </mat-form-field>
      </div>
    
      <div class="col-md-3">
        <mat-form-field appearance="fill" >
          <mat-label><b>Estatus</b></mat-label>
              <mat-select  formControlName="estatus" required>
                <mat-option *ngFor="let est of estados" [value]="est.value">
                  {{est.viewValue}}</mat-option>
              </mat-select>
         <mat-error>
           Estatus
         </mat-error>
        </mat-form-field>
      </div>
  
      <div class="col-md-3">
        <mat-form-field appearance="fill">
          <textarea matInput rows="1" type="text" placeholder="" formControlName="descripcionusuario"></textarea>
          <mat-label><b>Descripcion Usuario</b></mat-label>
          <mat-error *ngIf="this.formGeneral.get('descripcionusuario')?.hasError('required')">
              Descripcion <strong>Obligatorio</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6">
        <div style="margin-top: 3%;">
          <div style="padding: 20px 0 20px 0;text-align: center;">
             <p style="font-size: 130%;font-weight: 550;">Imagen Usuario </p>
          </div>
          <mat-icon>wallpaper</mat-icon>
         <div>
           <input #imageInput class="form-control" type="file" accept="image/*"  formControlName="imageInput">
           <mat-error *ngIf="this.formGeneral.get('imageInput')?.hasError('required')" >
              Seleccione una imagen <strong>es obligatorio</strong>
           </mat-error>
         </div>
      </div>
    </div> 
  </div>
  </form>
  <br>
  <div class="col-md-6 cssbutton">
  <button mat-button type="submit" (click)="Guardardatos()" [class.spinner]="loading" [disabled]="loading" color="secondary">
      <span>{{ loading ? 'Cargando...' : 'Registrar' }}</span>
  </button>
  </div>
  </div>
</div>
  