.material-icons{
    color: #ff0000;
    }
    .card-title{
    font-size: 25px;
    color: #38b6e3;
    }
    .card-col-sm-4{
        width: 45%;
    }
    
    .card-col-sm-6{
        width: 10%;
    
    }