<div class="contenedorgeneral">
    <h4>CAMBIO DE CONTRASEÑA</h4>
    <div class="inputpassword">
      <form [formGroup]="signin">
        <mat-form-field>
         <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
         <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
         <mat-hint *ngIf="!passwordInput">Enter your password</mat-hint>
         </mat-form-field>
       </form>
       <h5> Ingresa tu nueva contraseña</h5>
    </div>

    <div class="inputpassword">
      <form [formGroup]="signin">
        <mat-form-field>
         <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
         <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
         <mat-hint *ngIf="!passwordInput">Enter your password</mat-hint>
         </mat-form-field>
         <h5> Confirma tu nueva contratseña</h5>
       </form>

    </div> 
    <!-- <div class="buttonpassword">
      <button mat-raised-button color="#264D5E" (click)="modificarcontraseña()">Si</button>
    </div>
    <div class="buttonpassword">
      <button mat-raised-button color="#264D5E" (click)="CancelarModificacion()">Camcelar</button>
    </div> -->
    
 
</div>
