.contenedorgeneral{
    width: 100%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
  }
  
  .inputpassword{
    width: 100%;
    margin-top: 5%;
    text-align: center;
  }
  
  
  label {
    display: block;
    
  }
  
  input[type='submit'],
  label {
    margin-top: 1rem;
  }
  
  .buttonpassword{
    width: 50%;
    height: auto;
    margin-left: 25%;
    margin-top: 8%;
    
  
  } 
  
  button{
    width: 50%;
    background-color: #264D5E;
    margin-left: .5%;
    
    
  }