<h1  class="text-center" > Cambiar de Estatus</h1>

<form  [formGroup]="formulario">
 <div style="display: flex; justify-content: center; align-items: center;">
   <mat-form-field>
     <mat-label>Estatus</mat-label>
     <mat-select  formControlName="estatus">
       <mat-option value="Activo"> Activo</mat-option>
       <mat-option value="Inactivo" >Inactivo</mat-option>
     </mat-select>
   </mat-form-field>
 </div>
 </form>
 <div class="d-flex justify-content-center align-items-center">
   <button   (click)="EstatusActualizar()"  type="button" class="btn" style="background-color: #38B6E3 ; color: #ffffff;" > Aceptar</button>
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   <button  style="margin-right: 15px;" type="button" class="btn" style="background-color: #38B6E3 ; color: #ffffff;" (click)="CerraDialogo()">
     Cancelar
   </button>
 </div>
