h1{

    color: #959193;
    font-size: 30px; 
    text-align: center;

}

.card{
    border: 3px solid #264D5E ; /* Agregar un borde verde */


}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .form-field {
    margin-bottom: 15px;
  }

  /* Estilos para pantallas grandes (mayores a 600px) */
  @media (min-width: 600px) {
    .form-container {
      flex-direction: row;
      justify-content: space-around; /* Puedes ajustar el valor según prefieras */
    }

    .form-field {
      margin-bottom: 0;
    }
  }