<div class="container-fluit">
 <b >Datos de mi Asesor</b>
  </div>
    
  <div class="contenidoperfil">
    <form class="insertar-dialog-content" >
      <div class="row">
  
        <div class="col-md-3">
            <mat-label>
              <b>Nombre:</b></mat-label>
            </div>
  
        <div class="col-md-3">
                      <mat-label>
              <b>Apellido Paterno:</b></mat-label>
        </div>
  
        
        <div class="col-md-3">
            <mat-label>
              <b> Apellido Paterno: </b></mat-label>
        </div>
  
        <div class="col-md-3 ">
          
            <mat-label>
              <b>Nombre Comercial:</b></mat-label>
        </div>
  
      </div>
  
      <div class="row" style="margin-top: 5%;">
        <div class="col-md-3" >
         
            <mat-label>
              <b>Telefonos</b>
            <br>
            <b>Celular:</b>
            <br>
            <b>Casa:</b>
            <br>
            <b>Oficina:</b>
            </mat-label>
          
        </div>
  
        <div class="col-md-3">
       
            <mat-label><b>Correos</b>
                <br>
           <b>Email:</b>
        </mat-label>
        
          
        </div>
  
        <div class="col-md-3">
            <mat-label><b>Socio de:</b></mat-label>
          </div>
  
        <div class="col-md-3 alinea">
            <mat-label><b>Dirección:</b></mat-label>
        </div>
  
      </div>
      <div>
        <button mat-raised-button color="#264D5E" class="contacto">Texto</button>
        <button mat-raised-button color="#264D5E" class="contacto">llamada</button>
        <button mat-raised-button color="#264D5E" class="contacto">Mail</button>

      </div>
  
    </form>
    <br>
    <br>
  </div>
    