<div class="container-fluit">
 <b >Datos de mi Asesor</b>
  </div>
    
  <div class="contenidoperfil">
    <form class="insertar-dialog-content" >
      <div class="row">
  
        <div class="col-md-3">
            <mat-label>
              <b>Nombre: {{datosAsesor.Nombres}}</b></mat-label>
            </div>
  
        <div class="col-md-3">
                      <mat-label>
              <b>Apellido Paterno : {{datosAsesor.Apellido_Paterno}}</b></mat-label>
        </div>
  
        
        <div class="col-md-3">
            <mat-label>
              <b> Apellido Materno: {{datosAsesor.Apellido_Materno}}</b></mat-label>
        </div>
  
        
  
      </div>
  
      <div class="row" style="margin-top: 5%;">
        <div class="col-md-3" >
         
            <mat-label>
              <b>Telefono</b>
            <br>
            <b>Celular: {{datosAsesor.Contacto_Principal}}</b>
            </mat-label>
          
        </div>
  
        <div class="col-md-3">
       
            <mat-label><b>Correo</b>
                <br>
           <b>Email: {{datosAsesor.Email}}</b>
        </mat-label>
        
          
        </div>
  
        <div class="col-md-3">
            <mat-label><b>Socio de: {{datosAsesor.Nombre_Razon_Social}}</b></mat-label>
          </div>
  
        
  
      </div>
        <!-- <div>
          <i class="fas fa-heart"></i>
          <button mat-raised-button color="#264D5E" class="contacto"><i class="material-icons">message</i>Texto </button>
          <button mat-raised-button color="#264D5E" class="contacto"> <i class="material-icons">smartphone</i>llamada</button>
          <button mat-raised-button color="#264D5E"  class="contacto"><i class="material-icons">email</i>Mail</button>

        </div> -->
      
       
      
    </form>
    <br>
    <br>
  </div>

    