<div class="col-md-12">
  <form class="insertar-dialog-content" [formGroup]="formGeneral">
    <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="fill" class="x">
            <input matInput type="text" placeholder="" formControlName="nombrerazons">
            <mat-label>
              <b>Nombre Razon Social</b></mat-label>
            <mat-error *ngIf="this.formGeneral.get('nombrerazons')?.hasError('required')">
              El nombre es <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
    </div>
       
    <div class="row">
        <div class="col-md-6">
            <mat-form-field appearance="legacy" style="width: 95%;">
                <mat-label style="margin-left: 6%;"> RFC </mat-label>
                <input matInput type="text" placeholder="Correo electronico" formControlName="rfcempresa">
                <mat-error *ngIf="this.formGeneral.get('rfcempresa')?.hasError('required')">
                    RFC <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
        </div> 
  
        <div class="col-md-6">
            <mat-form-field appearance="legacy" style="width: 95%;">
                <mat-label style="margin-left: 6%;">Correo</mat-label>
                <input matInput type="email" placeholder="Correo electronico" formControlName="email">
                <mat-error *ngIf="this.formGeneral.get('email')?.hasError('required')">
                    Correo es <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
        </div>
      </div>
   

    <div class="row">
        <div class="col-md-3">
            <mat-form-field appearance="fill" class="x">
                <mat-label><b>Contacto Empresa</b></mat-label>
                <input matInput type="text" placeholder="Telefono" formControlName="contactoempresa" maxlength="10" style="margin-left:6%;">
                <mat-error *ngIf="this.formGeneral.get('contactoempresa')?.hasError('required')">
                    El número de teléfono <strong>es requerido</strong>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-md-3">
            <mat-form-field appearance="fill" class="x">
              <input matInput type="text" placeholder="" formControlName="calle">
              <mat-label>
                  <b>Calle</b></mat-label>
              <mat-error *ngIf="this.formGeneral.get('calle')?.hasError('required')">
                  Calle <strong>Obligatorio</strong>
              </mat-error>
            </mat-form-field>
        </div>
        
        <div class="col-md-3 ">
            <mat-form-field appearance="fill" class="x">
              <input matInput type="text" placeholder="" formControlName="numext">
              <mat-label>
                <b>NUM_EXT</b></mat-label>
              <mat-error *ngIf="this.formGeneral.get('numext')?.hasError('required')">
                NUM_EXT <strong>Obligatorio</strong>
              </mat-error>
            </mat-form-field>
        </div>
      
         <div class="col-md-3">
            <mat-form-field appearance="fill" class="x">
             <input matInput type="text" placeholder="" formControlName="numint">
              <mat-label>
              <b>NUM_INT</b></mat-label>
               <mat-error *ngIf="this.formGeneral.get('numint')?.hasError('required')">
              NUM_INT<strong>Obligatorio</strong>
             </mat-error>
            </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div style="margin-top: 3%;">
          <div style="padding: 20px 0 20px 0;text-align: center;">
             <p style="font-size: 130%;font-weight: 550;">Imagen Logo </p>
          </div>
          <mat-icon>wallpaper</mat-icon>
         <div>
           <input #imageInput class="form-control" type="file" accept="image/*"  formControlName="imageInput">
           <mat-error *ngIf="this.formGeneral.get('imageInput')?.hasError('required')" >
              Seleccione una imagen <strong>es obligatorio</strong>
           </mat-error>
         </div>
      </div>
    </div> 
  </div>
  </form>
  <br>
  <div class="col-md-6 cssbutton">
  <button mat-button type="submit" (click)="Guardardatos()" [class.spinner]="loading" [disabled]="loading" color="secondary">
      <span>{{ loading ? 'Cargando...' : 'Registrar' }}</span>
  </button>
  </div>
  </div>
  