
h1{
    color:#959193 ;  /* Color para el texto estático */

}


.static-text {
    color:#264D5E;  /* Color para el texto estático */
    font-size: 16px; 

}

.dynamic-text {
    color: #575A5C ; /* Color para el texto dinámico */
}

.icon-text {
    margin-left: 10px; /* Ajusta el margen izquierdo para separar el ícono del texto */
}

