
<h2 mat-dialog-title style="text-align: center;">Información Usuario</h2>

<mat-dialog-content>
  <div class="col-md">
    <hr>
    <h4 style="text-align: center;">
       Datos personales </h4>
    <hr>
    <p>Nombre Completo: {{datos.Nombres +" "+  datos.Apellido_Paterno+ " " + datos.Apellido_Materno}}</p>
      <p>Email: {{datos.Email}}</p> 
    <p>Telefono: {{datos.Contacto_Principal}}</p>
    <p>Telefono de emergencia: {{datos.Contacto_Emergencia}}</p>
    <p>Rol: {{datos.Tipo_Usuario}}</p>

    <!-- <hr>
    <h4 style="text-align: center;"> <i class="bi bi-pencil"></i>  Datos de Publicacion  </h4>
    <hr> -->
    <!-- <p>Nombre Publicacion {{ data.Nombre_Publicacion }}</p> -->
    <!-- <p>Calle: {{ data.Calle }}</p>
    <p>Num_Int: {{ data.Num_Int }}</p>
    <p>Num_Ext: {{ data.Num_Ext }}</p>
    <hr>
    <h4 style="text-align: center;">
      <i class="bi bi-chat-dots"></i>  Datos de la Cita
  </h4>
     <hr> -->

     <!-- <p> fecha: {{ data.fecha }}</p>
      <p>Hora {{ data.Hora }}</p>
      <p>Medio de contacto {{ data.Medio_Contacto }}</p> -->
</div>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="cerrarVentanaEmergente()">Cerrar</button>
</mat-dialog-actions>

