<mat-dialog-content>

<h1> Requisitos para modelado <i class="bi bi-badge-3d"></i></h1>
  <!-- -----------------Planos------------------------------------ -->
  <div class="d-flex justify-content-center align-items-center">
    <p>Sube tu Plano en formato PDF</p>
    <br>
  </div>
  <div class="grid w-full max-w-xs items-center gap-1, d-flex justify-content-center align-items-center">
    <form class="form-horizontal">
      <input class="form-control" accept="image/*" type="file" name="images" multiple>
    </form>
  </div>
  <!-- -----------------------------Imagnes-------------------------------- -->

  <br>
  <p class="text-center">Sube tu imagnes necesarias </p>

  <div class="d-flex justify-content-center align-items-center">
    <div class="grid w-full max-w-xs items-center gap-1, d-flex justify-content-center align-items-center">
      <form class="form-horizontal">
        <input class="form-control" accept="image/*" type="file" name="images" multiple>
      </form>
    </div>
  </div>
  <!-- -----------------------Especificaciones del Inmueble--------------------------- -->
  <br>
  <h2 class="text-center"> Especificaciones del Inmueble </h2>
  <form [formGroup]="miFormulario">
    <div formArrayName="items">
      <div *ngFor="let item of items.controls; let i = index" [formGroupName]="i">
        <div style="display: flex; justify-content: center; align-items: center;">

          <mat-form-field style="margin-right: 15px;">
            <input matInput placeholder="Numero de piso" formControlName="name">
          </mat-form-field>

          <mat-form-field style="margin-right: 15px;">
            <mat-label> Nombre de habitacion </mat-label>
            <mat-select formControlName="Nombre_de_habitacion">
              <mat-option value="option1">Option 1</mat-option>
              <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
              <mat-option value="option3">Option 3</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div style="display: flex; justify-content: center; align-items: center;">
        
          <mat-form-field  style="margin-right: 15px;">
            <mat-label>Elementos del Inmueble</mat-label>
            <mat-select formControlName="Elementos_del_Inmueble">
              <mat-option value="option1">Option 1</mat-option>
              <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
              <mat-option value="option3">Option 3</mat-option>
            </mat-select>
          </mat-form-field>
  
          <mat-form-field style="margin-right: 15px;">
            <mat-label> Acabados </mat-label>
            <mat-select formControlName="Acabados">
              <mat-option value="option1">Option 1</mat-option>
              <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
              <mat-option value="option3">Option 3</mat-option>
            </mat-select>
          </mat-form-field>
       </div>
      
       <div style="display: flex; justify-content: center; align-items: center;">
        <mat-form-field  style="margin-right: 15px;">
          <input matInput formControlName="Color" type="color" />
        </mat-form-field>

        <mat-form-field style="margin-right: 15px;">
          <mat-label> tipo material </mat-label>
          <mat-select formControlName="tipo_material">
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
            <mat-option value="option3">Option 3</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div style="display: flex; justify-content: center; align-items: center;">
        <mat-form-field style="margin-right: 15px;">
          <input matInput placeholder="Largo" formControlName="Largo">
        </mat-form-field>

        <mat-form-field style="margin-right: 15px;">
          <input matInput placeholder="Ancho" formControlName="Ancho">
        </mat-form-field>
      
      </div>





      <!-- -----------------Eliminar---------------------------- -->
        <button type="button" (click)="eliminarItem(i)">Eliminar</button>
      </div>
    </div>
  
    <button type="button" (click)="agregarItem()">Añadir</button>
  </form>
  
  
  
  








































































































  <!-- <div style="display: flex; justify-content: center; align-items: center;">
    <mat-form-field>
      <input matInput placeholder="Número de Cuartos" formControlName="Numero_de_Cuartos" type="number" [(ngModel)]="numberOfForms">
    </mat-form-field>
  </div>
  <div style="display: flex; justify-content: center; align-items: center;">
    <button style="display: flex; justify-content: center; align-items: center;" mat-raised-button
      (click)="generateForms()">Generar Formularios</button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <button style="display: flex; justify-content: center; align-items: center;" mat-raised-button color="warn"
      (click)="clearForms()">Limpiar</button>
  </div> -->
  <!-- ----------------------- Cracteristicas------------------------------ -->
  <!-- <div *ngFor="let form of dynamicForms" [formGroup]="form"> -->
    <!-- <form  > -->
      <!-- <br>
      <br> -->
      <!-- <div style="display: flex; justify-content: center; align-items: center;">
        <mat-form-field>
          <input matInput formControlName="Numero_de_Elementos" placeholder="Numero de Elementos" type="number" [(ngModel)]="numberOfForms">
        </mat-form-field>
      </div>
      <div style="display: flex; justify-content: center; align-items: center;">
        <button style="display: flex; justify-content: center; align-items: center;" mat-raised-button
          (click)="generateForms2()">Generar Formularios</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button style="display: flex; justify-content: center; align-items: center;" mat-raised-button color="warn"
          (click)="clearForms()">Limpiar</button> -->
      <!-- </div> --> 















      <!-- <div style="display: flex; justify-content: center; align-items: center;">
        <mat-form-field>
          <input matInput placeholder="Numero de piso" formControlName="name">
        </mat-form-field>

        <mat-form-field>
          <mat-label> Nombre de habitacion </mat-label>
          <mat-select formControlName="Nombre_de_habitacion">
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
            <mat-option value="option3">Option 3</mat-option>
          </mat-select>
        </mat-form-field>
      </div> -->

      <!-- <div style="display: flex; justify-content: center; align-items: center;">
        <mat-form-field>
          <mat-label>Elementos del Inmueble</mat-label>
          <mat-select formControlName="Elementos_del_Inmueble">
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
            <mat-option value="option3">Option 3</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label> Acabados </mat-label>
          <mat-select formControlName="Acabados">
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
            <mat-option value="option3">Option 3</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div style="display: flex; justify-content: center; align-items: center;">
     


        <mat-form-field>
          <input matInput formControlName="Color" type="color" />
        </mat-form-field>
        <div [style.background]="selectedColor" style="width: 50px; height: 50px;"></div>





        <mat-form-field>
          <mat-label> tipo material </mat-label>
          <mat-select formControlName="tipo_material">
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
            <mat-option value="option3">Option 3</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
 -->

      <!-- <div style="display: flex; justify-content: center; align-items: center;">


        <mat-form-field>
          <input matInput placeholder="Largo" formControlName="Largo">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Ancho" formControlName="Ancho">
        </mat-form-field>

      </div>
      -->

    <br>
  <!-- </div> -->
  <br>
  <br>
  <div class="d-flex justify-content-center align-items-center">

    <button color="primary" (click)="CerraDialogo()" mat-button>Cancelar</button>
    <button color="primary" mat-button>Aceptar</button>
  </div>
</mat-dialog-content>