<mat-dialog-content>
  <!-- <div *ngIf="llave === '3'"> -->
<h1> Requisitos para modelado <i class="bi bi-badge-3d"></i></h1>
  <!-- -----------------Planos------------------------------------ -->
  <!-- <div class="d-flex justify-content-center align-items-center">
    <p>Sube tu Plano en formato PDF</p>
    <br>
  </div>
  <div   class="grid w-full max-w-xs items-center gap-1, d-flex justify-content-center align-items-center">
    <form [formGroup]="pdf" class="form-horizontal">
      <input formControlName="PDF" class="form-control" accept=".pdf" type="file" name="pdfFile" (change)="onFileChange2($event)" >
    </form>
  </div> -->
  <!-- -----------------------Especificaciones del Inmueble--------------------------- -->
  <br>
  <h2 class="text-center"> Especificaciones del Inmueble </h2>
  <form [formGroup]="miFormulario" >
    <h2  class="text-center">Tienes Planos </h2>
    <div style="display: flex; justify-content: center; align-items: center;">
    <mat-radio-group  aria-label="Select an option" formControlName="planos" >
      <mat-radio-button style="margin-right: 15px;" color="primary"  value="si" >Si</mat-radio-button>
      <mat-radio-button  style="margin-right: 15px;"  color="primary" value="no">No</mat-radio-button>
    </mat-radio-group>
    </div>
    <div style="display: flex; justify-content: center; align-items: center;">
    <mat-form-field class="example-full-width"  style="margin-right: 15px;">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field class="example-full-width" style="margin-right: 15px;">
      <mat-label>Correo</mat-label>
      <input matInput formControlName="Correo">
    </mat-form-field>
    <mat-form-field class="example-full-width" style="margin-right: 15px;">
      <mat-label>Telefono</mat-label>
      <input matInput formControlName="Telefono">
    </mat-form-field>
    </div>
    
  </form>
  <!-- <form [formGroup]="miFormulario"  enctype="multipart/form-data">
    <div formArrayName="items">
      <div *ngFor="let item of items.controls; let i = index" [formGroupName]="i">
        <div style="display: flex; justify-content: center; align-items: center;">

          <mat-form-field style="margin-right: 15px;">
            <input matInput placeholder="Numero_de_piso" formControlName="name">
          </mat-form-field>

          <mat-form-field style="margin-right: 15px;">
            <mat-label> Nombre de habitacion </mat-label>
            <mat-select formControlName="Nombre_de_habitacion">
              <mat-option *ngFor="let Ase of habitaciones" value="{{ Ase.value}}"> {{ Ase.viewValue
              }}</mat-option>
             
            </mat-select>
          </mat-form-field>
        </div>
        <div style="display: flex; justify-content: center; align-items: center;">
        
          <mat-form-field  style="margin-right: 15px;">
            <mat-label>Elementos del Inmueble</mat-label>
            <mat-select formControlName="Elementos_del_Inmueble">
              <mat-option *ngFor="let Ase of elementos" value="{{ Ase.value}}">
                {{ Ase.viewValue
                }}

              </mat-option>
       
            </mat-select>
          </mat-form-field>


          <mat-form-field style="margin-right: 15px;">
            <mat-label> tipo material </mat-label>
            <mat-select formControlName="tipo_material">
              <mat-option *ngFor="let Ase of material" value="{{ Ase.value}}">{{ Ase.viewValue
              }}</mat-option>
              
            </mat-select>
          </mat-form-field>
  
        
       </div> -->
      
       <!-- <div style="display: flex; justify-content: center; align-items: center;">
     
        <mat-form-field style="margin-right: 15px;">
          <mat-label> Acabados </mat-label>
          <mat-select formControlName="Acabados">
            <mat-option *ngFor="let Ase of acabados" value="{{ Ase.value}}" >{{ Ase.viewValue
            }}</mat-option>
        
          </mat-select>
        </mat-form-field>

        <mat-form-field  style="margin-right: 15px;">
          <input matInput formControlName="Color" type="color" />
        </mat-form-field>
      </div>

      <div style="display: flex; justify-content: center; align-items: center;">
        <mat-form-field style="margin-right: 15px;">
          <input matInput placeholder="Largo" formControlName="Largo">
        </mat-form-field>

        <mat-form-field style="margin-right: 15px;">
          <input matInput placeholder="Ancho" formControlName="Ancho">
        </mat-form-field>
      
      </div> -->



      <!-- <div style="display: flex; justify-content: center; align-items: center;">
        <mat-form-field style="margin-right: 15px;">
          <input matInput placeholder="Altura" formControlName="Altura">
        </mat-form-field>
      
      </div>

      <div class="grid w-full max-w-xs items-center gap-1, d-flex justify-content-center align-items-center">
       
        <input   formControlName="img" class="form-control" accept="image/*" type="file" name="images" (change)="onFileChange($event, i)">
     
    </div>
    <br> -->
<!-- -----------------Eliminar---------------------------- -->
<!-- <div style="display: flex; justify-content: center;">
  <button   type="button" class="btn" style="background-color: red ; color: #ffffff;" type="button" (click)="eliminarItem(i)">Eliminar</button>
</div>
         
      </div>
      <br>
    </div>
    <div style="display: flex; justify-content: center;">
       <button    type="button" class="btn" style="background-color:  #264D5E ; color: #ffffff;" (click)="agregarItem()">Añadir</button>
    </div>
  </form> -->
<br>

  <br>
  <br>
  <div class="d-flex justify-content-center align-items-center">

    <button color="primary" (click)="CerraDialogo()" mat-button>Cancelar</button>
    <button color="primary"  mat-button    (click)="NuevosDatos()">Aceptar</button>
  </div>












-->
  <!-- <div *ngIf="llave === '0'" class="card-container"> -->
     
         
 
    
          

    <!-- <div class="row ">
      <div class="col-lg-3">
        <mat-radio-group>
          <mat-radio-button color="primary" value="1">Gratuito</mat-radio-button>
        </mat-radio-group>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 
  
      <div class="col-lg-5">
        <p class=" text-center">Visibilidad baja</p>
      </div>

    </div> -->
    <!-- <div class="card">
      <div class="content">
        <br>
        <br>
        <div class="title">Plan Premiums</div>
        <br>
        <br>
        <div class="price">$2999/mes</div>
        <div class="description">
            <br>
           <p>Características:</p>
          <ul>
        <li>Anuncios destacados ilimitados</li>
        <li>Plan de renovacion automatica</li>
        <li>Volumen de visitas: Maximo</li>
    </ul>
         
        </div>
      </div>
      <button  class="but"  (click)="openDialog2(3)"  >
        Comprar
      </button>
    </div> -->

  <!-- </div> -->
  &nbsp; &nbsp; &nbsp;
  
</mat-dialog-content>