<br>
<div class="contenedorinfo">
    <div class="container-fluit">
        <div class="row">
            <hr>
             <h1 class="text-center">Instrucciones de llenado de documento <i class="bi bi-info">
               <i class="bi bi-houses"></i>
               </i></h1>
             <hr>

            <div class="col-md-3  ">
                <p> <b>1.-NOMBRES</b><br>Escribe el nombre del Dueño del inmueble</p>
                
            </div>
            <div class="col-md-3 ">
                 <p> <b>2.-APELLIDO PATERNO</b><br>Escribe el Nombre Paterno, sin acentos</p>
            </div>
            <div class="col-md-3 ">
                 <p> <b>3.-APELLIDO MATERNO</b><br>Escribe el Nombre Materno, sin acentos</p>
            </div>
            <div class="col-md-3 ">
                <p> <b>4.-NOMBRE DE USUARIO</b><br>Escribe el nombre o la nomenclatura con el cual se registrarán para abrir el perfil de tu cuenta</p>
            </div>

            <!-- ----------------------------------------------------------- -->

            <div class="col-md-3 ">
                <p> <b>5.-CONTRASEÑA</b><br>Escribe una contraseña que te sea fácil recordar </p>
            </div>
            <div class="col-md-3 ">
                <p> <b>6.-CORREO</b><br>Escribe un correo electrónico vigente </p>
            </div>

            <div class="col-md-3 ">
                <p> <b>7.-TELEFONO FIJO</b><br>Escribe un teléfono fijo, verifica que tus datos sean correctos</p>
            </div>
            <div class="col-md-3 ">
                <p> <b>8.-TELEFONO MOVIL</b><br>Escribe un teléfono móvil, verifica que tus datos sean correctos </p>
            </div>
            <!-- ------------------------------------------------------------- -->
            <div class="col-md-3 ">
                <p> <b>9.-DESCRIPCION DEL DUEÑO </b><br>Escribe una breve descripción del dueño <b>(Ej. Dueño del inmueble, Oficina Torre JV)</b></p>
            </div>
            <div class="col-md-3 ">
                <p> <b>10.-RFC</b><br>Escribe el RFC del dueño del inmueble, verifica que tus datos sean correctos</p>
            </div>
            <div class="col-md-3 ">
                <p> <b>11.-CURP</b><br>Escribe el CURP del dueño del inmueble, verifica que tus datos sean correctos</p>
            </div>
            <div class="col-md-3 ">
                <p> <b>12.-ID SOCIO</b><br>Escribe el numero identificador, que se mostrara al dar clic en el botón llamado Identificador.</p>
            </div>
        </div>
    </div>
    <hr> <hr>
</div>
<div class="cargadatos">
    <div class="container-fluit">
        <div class="row">
            <div class="col-md-4">
                <h4>Descarga Archivo</h4>
                <img src="assets/img/descargad.png">
            </div>
            <div class="col-md-4">
                <h4> Identificador </h4>
                <img src="assets/img/identificador.png">
            </div>
            <div class="col-md-4">
                <h4> Subir Archivo </h4>
                <img src="assets/img/cargadoc.png">
            </div>

            <div class="col-md-4 cssbutton">
                <form #fileForm="ngForm" [formGroup]="formGeneral">
                    <!-- <mat-form-field>
                        <mat-icon matPrefix>cloud_download</mat-icon>
                        <!-- <input formControlName="descarga" type="file" (change)="onFileSelected($event)" #fileInput />
                    </mat-form-field> -->
                    <button mat-raised-button color="primary" (click)="downloadFile()">Descargar Archivo</button>
                </form>
            </div>

            <div class="col-md-4 cssbutton">
                <button mat-raised-button color="#264D5E" (click)="openid()">Identificador</button>
            </div>

            <div class="col-md-4 ">
                <label for="archivoInput" class="archivo-label">
                    <input id="archivoInput" (change)="handleFileInput($event)" type="file" accept=".csv" />
                </label>
            </div>
        </div>
    </div>