<app-menu></app-menu>
<br>
<br>
<br>
<br>
<br>


<div class="contenedorgeneral">

    <mat-tab-group fitInkBarToContent>
        <!-- PAG ONE -->
        <mat-tab label="Compra">
            <div class="contenedorvisita">

                <h1>SEGUIMIENTO COMPRA</h1>
                <p>El primer paso a seguir para el proceso de compra, es el siguiente:</p>
                <ul>
                    <li>
                        <p>Identifica que inmueble estas buscando.</p>
                    </li>
                    <li>
                        <p>Para que tu propiedad sea la ideal debes tomar en cuenta, el numero de habitaciones, si
                            deseas que tenga estacionamiento, terraza, balcón o patio. </p>
                    </li>
                    <li>
                        <p>La zona en la que quieres que se ubique el inmueble.</p>
                    </li>
                    <li>
                        <p>Considerar los ingresos con los que se cuenta, tomando en cuenta los gastos de la
                            inmobiliaria, el impuesto de registro, la escrituración y los honorarios del notario.</p>
                    </li>
                    <li>
                        <p>Estimación de gastos por mes. Contemplar el gasto que realizas en los servicios básicos,
                            además la parte fundamental el pago mensual del crédito.</p>
                    </li>
                </ul>
                <div class="contenedorimagen">
                    <img src="assets/img/compra-venta.png">
                </div>
            </div>
        </mat-tab>

        <!-- PAG TWO -->
        <mat-tab label="Visita tu Propiedad">
            <div class="contenedorvisita">
                <h1> VISITA LA PROPIEDAD DE TU INTERES </h1>
                <p>Cuando evalúas una propiedad, es importante visitarla antes, para conocer la propiedad para ver la
                    zona en la que se encuentra y si esta dentro de tus expectativas.</p>
                <ul>
                    <li>
                        <p>Visita la propiedad con alguien de confianza para poder tener claros los diferentes puntos de
                            vista de acuerdo a lo que esperas de la propiedad.</p>
                    </li>
                    <li>
                        <p>Visítala las veces que sea necesaria para tomar en cuenta, los sitios de tu interés cercanos,
                            transporte público, comercios, escuelas y hospitales. </p>
                    </li>
                    <li>
                        <p>Solicita la factura de los servicios y gastos.</p>
                    </li>
                    <li>
                        <p>Verifica que el inmueble este en un estado adecuado en infraestructura (Grietas en la pared,
                            Humedad) y servicios
                            (agua, gas, calentador de agua).</p>
                    </li>
                </ul>
                <div class="contenedorimagen">
                    <img src="assets/img/visita.png">
                </div>
            </div>

        </mat-tab>

        <!-- PAG THREE -->
        <mat-tab label="Firma Compra">
            <div class="contenedorvisita">
                <h1> CONTRATO PROMESA DE COMPRA-VENTA </h1>
                <p>Documento de seguridad bilateral, que compromete al vendedor y al comprador a realizar la
                    transacción, previo a la firma de las escrituras ante un notario público.<br>
                    Se firma el contrato privado y se hace entrega de una cantidad de dinero como parte del pago del
                    precio total, normalmente corresponde al X% del precio final.
                    En el documento queda establecido el precio, la fecha o plazo de la escrituración, la designación
                    del notario, la identificación del inmueble, los datos personales, precio total de la propiedad,
                    cantidad adelantada, cláusulas y firmas.<br>
                    Ten en cuenta que el proceso de escrituración ante el Registro Público de la Propiedad y el Comercio
                    puede tardar tres semanas aproximadamente, desde que se entreguen los documentos al notario hasta la
                    firma de la escritura del inmueble.<br><br>
                    Escrituración: Acto formal que establece la compra y venta de la propiedad donde la operación queda
                    efectuada legalmente. Como comprador puedes elegir qué notario público quieres que lleve adelante la
                    operación y es uno de los gastos que debes contemplar.
                    Antes de la escrituración, el notario se encarga de hacer un estudio y revisión previa de títulos,
                    aspectos jurídicos e impositivos para posteriormente inscribir al inmueble en el Registro Público de
                    la Propiedad y el Comercio (RPPC) de la localidad que corresponda.
                </p>
                <h4> La documentación que necesitarás para poder escriturar es: </h4>
                <ul>
                    <li>
                        <p>Título de la propiedad original inscrito en el RPPC.</p>
                    </li>
                    <li>
                        <p>Contrato privado de compra-venta, en caso de haberse firmado.</p>
                    </li>
                    <li>
                        <p>Avalúo vigente.</p>
                    </li>
                    <li>
                        <p>Documentos personales de las partes involucradas (acta de nacimiento, identificación oficial
                            y, en caso de estar casado, acta de matrimonio y la identificación oficial del cónyuge).</p>
                    </li>
                    <li>
                        <p>Carta de autorización de crédito, la cual te debe ser entregada por la institución financiera
                            a la que lo hayas solicitado
                            En la adquisición de un departamento o casa en condominio se necesita además la copia del
                            régimen de propiedad en condominio, así como una constancia de no adeudos emitidos por el
                            administrador del condominio.</p>
                    </li>
                </ul>
                <div class="contenedorimagen">
                    <img src="assets/img/contrato.png">
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Notario">
            <div class="contenedorvisita">
                <h1> FUNCIONES DEL NOTARIO </h1>
                <p> El notario ejerce el Derecho para otorgar seguridad jurídica en diferentes actos en los cuales da
                    fe; cuya relevancia de los hechos tiene la facultad concedida por las leyes del Estado para brindar
                    la certeza legal con toda imparcialidad.</p>
                <h4>Asesoramiento Legal</h4>
                <ul>
                    <li>
                        <p>El notario brinda asesoría imparcial de acuerdo a las disposiciones del Estado de Derecho
                            para explicar los derechos y obligaciones del comprador y vendedor, resolviendo cualquier
                            duda legal que se pueda presentar.</p>
                    </li>
                </ul>
                <h4>Verificación de los títulos de la propiedad</h4>
                <ul>
                    <li>
                        <p> Comprobación de la documentación del vendedor como dueño legítimo, así mismo revisa el
                            estatus del inmueble, por ejemplo si cuenta con gravámenes u otras limitaciones para la
                            realización de la compraventa.</p>
                    </li>
                </ul>
                <h4> Elaboracion de Contrato </h4>
                <ul>
                    <li>
                        <p>El notario redacta el contrato con todos los requisitos legales que marca la Ley,
                            asegurándose de que se cumplan todos los acuerdos en los plazos establecidos, previamente
                            pactados.</p>
                    </li>
                </ul>
                <h4> Elaboracion de Contrato </h4>
                <ul>
                    <li>
                        <p>El notario redacta el contrato con todos los requisitos legales que marca la Ley,
                            asegurándose de que se cumplan todos los acuerdos en los plazos establecidos, previamente
                            pactados.</p>
                    </li>
                </ul>
                <p> Otra de las funciones de un notario es la recopilación de los documentos para la compraventa; como
                    títulos de propiedad, certificados de deuda, planos; además de verificar la validez y autenticidad
                    de toda la documentación.</p>
                <h4> Realización de la firma de la escritura pública</h4>
                <ul>
                    <li>
                        <p>El notario se encarga de realizar la escritura pública de la compraventa; cuyo documento
                            tiene un carácter público y brinda seguridad jurídica a la operación inmobiliaria.</p>
                    </li>
                </ul>
                <h4> Impuestos y gastos</h4>
                <ul>
                    <li>
                        <p>Una de las funciones más importantes del notario es calcular y liquidar todos los impuestos
                            relacionados con la compraventa. <br>
                            Muy importante la inscripción en el Registro de la Propiedad, el notario se encarga de
                            inscribir la compraventa en el registro de la propiedad; lo cual garantiza el informe
                            público del hecho para eliminar la oponibilidad frente a terceros.</p>
                    </li>
                </ul>
                <div class="contenedorimagen">
                    <img src="assets/img/contactoagente.png">
                 
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
<app-footer></app-footer>