
h1{

    font-size: 40px; /* Tamaño de fuente */
    color: black; /* Color de texto */
    font-weight: bold; /* Peso de la fuente (negrita) */
    text-align: center; /* Alineación del texto (centrado) */
    margin-bottom: 10px; /* Margen inferior */
   }

   h4{
    font-size: 18px; /* Tamaño de fuente */
    color: black; /* Color de texto */
    font-weight: bold; /* Peso de la fuente (negrita) */
  


   }
   p{
    font-size: 16px; /* Tamaño de fuente */
    color: #575A5C/* Color de texto */
    
  

   }


.card-container {
    display: flex;
    justify-content: space-between; /* Espacio entre las tarjetas */
  }
  .card {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    padding: 25px 2px;
    margin: 50px 0;
    text-align: center;
    position: relative;
    cursor: pointer;
    box-shadow: 0 10px 15px -3px rgba(33,150,243,.4),0 4px 6px -4px rgba(33,150,243,.4);
    border-radius: 10px;
    background-color: #6B6ECC;
    background: linear-gradient(45deg, #04051dea 0%, #2b566e 100%);
  }
  
  .content {
    padding: 50px;
  }
  
  .content .price {
    color: white;
    font-weight: 800;
    font-size:25px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.42);
  }
  
  .content .description {
    color: rgba(255, 255, 255, 0.6);
    margin-top: 10px;
    font-size: 15px;
  }
  
  .content .title {
    font-weight: 800;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.64);
    margin-top: 10px;
    font-size: 26px;
    letter-spacing: 1px;
  }
  
  .but {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: none;
    outline: none;
    color: rgb(255 255 255);
    text-transform: uppercase;
    font-weight: 700;
    font-size: .75rem;
    padding: 0.75rem 1.5rem;
    background-color: rgb(33 150 243);
    border-radius: 0.5rem;
    width: 90%;
    text-shadow: 0px 4px 18px #2c3442;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .card {
    width: 300px; /* Ancho inicial de la tarjeta */
    margin: 10px; /* Margen entre las tarjetas */
  }
  
  @media screen and (max-width: 768px) {
    .card {
      width: 100%; /* Tarjeta ocupa todo el ancho en pantallas más pequeñas */
    }
  }
  
