<footer class="text-center text-white" style="background-color: #264D5E">
    <div class="container p-3"> 
       <section class="mb-3">
          <!-- Facebook-->  
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
            <i class="bi bi-facebook" style="font-size: 1.5rem; color: #38B6E3;"></i>
           </a>
         <!-- Twitter -->
           <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
            <i class="bi bi-twitter" style="font-size: 1.5rem; color: #38B6E3;"></i>
           </a>
         <!-- Linkedin --> 
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
            <i class="bi bi-linkedin" style="font-size: 1.5rem; color: #38B6E3;"></i>
          </a>
        </section>
    
      <!-- Section: Text-->  
      <section class="mb-4">
        <p> bo@wallsten.com
          <br> 
          +52 55 8580 7070
          <br>
          Ciudad de México, CDMX, Mexico
        </p>
      </section>
     
    </div>
    <div class="text-center p-3" style="background-color: #38B6E3;">
      Copyright © Inmoplus 2023
      <br>
      <a class="text-white" href="https://mdbootstrap.com/">Terminos y Condiciones</a>
    </div>  
  </footer>
