<br>
<div class="contenedorinfo">
    <div class="container-fluit">
        <div class="row">
            <hr>
             <h1 class="text-center">Instrucciones de llenado de documento (No usar comas, ni caracteres especiales) <i class="bi bi-info">
               <i class="bi bi-houses"></i>
               </i></h1>
             <hr>

            <div class="col-md-3 text ">
                <p> <b>1.- Nombre del Inmueble</b><br> Escribe el nombre del inmueble que deseas subir.</p>
                
            </div>
            <div class="col-md-3 text">
                 <p> <b>2.- Descripcion Inmueble</b><br>Escribe una descripción breve de tu inmueble, sin acentos</p>
            </div>
            <div class="col-md-3 text">
                 <p> <b>3.-Domicilio del Inmueble</b><br>Escribe Calle, Numero Exterior, Numero Interior sin acentos.</p>
            </div>
            <div class="col-md-3 text">
                <p> <b>4.-Construccion, terreno en m^2</b><br>Escribe Construccion, terreno en m^2.</p>
            </div>

            <!-- ----------------------------------------------------------- -->

            <div class="col-md-3 text">
                <p> <b>5.-Detalles de tu Inmueble</b><br>Escribe si cuenta tu inmueble con las siguientes características:
                    Recamara, Baño, Cocina Integral, Numero Pisos, Antiguedad, Acabados,
                    Alberca, Jardin, Gimnasio, Roof Garden, Estacionamiento
                    (Ejemplo si cuenta con alguna de las anteriores mencionadas, llenar el campo con el número correspondiente de acuerdo a la cantidad, ejemplo: Recamara 2, así sucesivamente de acuerdo a tu inmueble). </p>
            </div>
            <div class="col-md-3 text">
                <p> <b>6.-a360</b><br>Para obtener el código, debes ir al apartado de identificador, darle clic en el botón de generar código y ese código debe ponerse en el documento. </p>
            </div>

            <div class="col-md-3 text">
                <p> <b>7.-Id_Asentamiento</b><br> Para saber cuál es el id de asentamiento donde está ubicado tu inmueble, en el apartado de identificador, primero selecciona el Estado, Municipio y al final el Asentamiento, copias el id.</p>
            </div>
            <div class="col-md-3 text">
                <p> <b>8.-Id Tipo Inmueble</b><br>Para obtenerlo, dirígete al apartado de identificador, selecciona el tipo de inmueble y te genera el id. </p>
            </div>
            <!-- ------------------------------------------------------------- -->
            <div class="col-md-3 text">
                <p> <b>9.-Latitud y Longitud </b> <br> Para obtener esos valores, debes dirigirte a la página &nbsp; &nbsp; 
                    https://www.google.com.mx/maps/ selecionar donde esta ubicado
                    el inmuble con un click derecho puedes verificar la Latitud y Longitud

                    <b></b></p>
            </div>
            <div class="col-md-3 text">
                <p> <b>10.- Id_Usuario</b><br>Si el inmueble pertenece a algún usuario, debe ponerse el id.</p>
            </div>
            <div class="col-md-3 text">
                <p> <b>11.-Precio minimo, maximo y final</b><br>El precio del inmueble deben ir los 3 campos obligatoriamente, sin signos de $ y sin formato, solo numero</p>
            </div>
            
            <div class="col-md-3 text">
                <p> <b>12.-Id_tipo_publicacion</b><br>Escribe el numero identificador, que se mostrara al dar clic en el botón llamado Identificador.</p>
            </div>

            <div class="col-md-3 text">
                <p> <b>13.-Subir Archivo</b><br>Una vez terminado el llenado del archivo, se debe guardar como .csv (separado por comas), no se acepta otro formato, una vez subida la informacion, te llevara a otra pantalla llamada visualizacion de inmuebles, en donde realizaras la carga de tus imagenes, solo aceptamos 5 imagenes por inmueble</p>
            </div>
        </div>
    </div>
    <hr> <hr>
</div>






























<div class="cargadatos">
    <div class="container-fluit">
        <div class="row">
            <!-- <h1> Sube tu archivo</h1> -->

            <div class="col-md-4">
                <h4>Descarga Archivo</h4>
                <img src="../../../assets/img/descargad.png">
            </div>
            <div class="col-md-4">
                <h4> Identificador </h4>
                <img src="../../../assets/img/identificador.png">
            </div>
            <div class="col-md-4">
                <h4> Subir Archivo </h4>
                <img src="../../../assets/img/cargadoc.png">
            </div>

            <div class="col-md-4 cssbutton">
                <form #fileForm="ngForm" [formGroup]="formGeneral">
                    <!-- <mat-form-field>
                        <mat-icon matPrefix>cloud_download</mat-icon>
                        <!-- <input formControlName="descarga" type="file" (change)="onFileSelected($event)" #fileInput />
                    </mat-form-field> -->
                    <button mat-raised-button color="primary" (click)="downloadFile()">Descargar Archivo</button>
                </form>
            </div>

            <div class="col-md-4 cssbutton">
                <button mat-raised-button color="#264D5E" (click)="openid()" >Identificador</button>
            </div>

            <div class="col-md-4 ">
                <label for="archivoInput" class="archivo-label">
                    <input id="archivoInput" (change)="handleFileInput($event)" type="file" accept=".csv" />
                </label>
            </div>
        </div>
    </div>