h3, h4{
    margin-right: 20px;
    margin-left: 20px;
}

.notification-list-container {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f7f7f7;
}

.notification-list {
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.notification-list h3 {
    font-size: 20px;
    color: #333;
}

.notification-item {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.notification-item h4 {
    color: #007BFF;
}

.notification-item p {
    color: #555;
}

.timestamp {
    color: #888;
    font-size: 12px;
}


.barraFiltros {
    display: flex;
    align-items: center; 
    margin-bottom: 20px;
}

.back {
    margin-left: 28%;
    background-color: #264D5E;
    border-color: #264D5E;
    width: 35px;
    height: 30px;
    border-radius: 5px;
    padding: 0%;
}
.back h3{
    margin-right: 5px;
}


.date-input-container {
    display: flex;
    flex-direction: row;  
    align-items: center;     
  }
  


