.contenedorgeneral{
    width: 100%;
    height: 100%;
   
}
.contenedortexth{
    width: 50%;
    height: auto;
    float: left;
    margin-top: 5%;
    padding: 20px 20px 20px 20px;
    text-align: justify;
}

.contenedorimag{
    width: 50%;
    height: auto;
    float: left;
    text-align: center;
}

.contenedorimag img {
    width: 80%;
    height: 80%;

}

h1{
    font-size: 25px;
    color: #264D5E;
    font-weight: bold;
}

h4{
    font-size: 17px;
    font-size: 500;
}

p{
    text-align: justify;
}

.contenedorventj{
    padding: 30px 30px 30px 30px;
}

.contenedorcaptura{
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #264D5E;
}

.contenedorcaptura img{
    width: 80%;
    height: 80%;
    margin-top: 1.5%;
    
}

.button-back{
    width: 20%;
    background-color: #264D5E;
    color: #ffffff;
height: 50px;
}