<div class="contenedorgeneral ">


  <div class="contenedortexth">
    <h1>REMATE HIPOTECARIO</h1>
    <p> Encontar nuestro hogar no es una tarea sencilla, debemos tomar encuenta varios aspectos de gran importancia,
      como la ubicacion y la zona donde se encuentra, los servicios con los que cuenta, son algunos de los factores que
      influyen antes de adquirir un inmueble.<br>
      Pero ninguno de estos aspectos es tan importante como el precio al tomar de una decisión.</p>
    <br>
    <h1>¿QUE ES?</h1>
    <p> Proceso en el que se ordena el remate o subasta de un inmueble a un precio competitivo para ser comprados y
      recuperar un porcentaje de la inversion.<br> Es un proceso seguro aunque debe llevarse a cabo junto a algún asesor
      para que verifique que todo lo que se realice esté en regla.</p>

  </div>
  <div class="contenedorimag">
    <img src="assets/img/remate_hipo.png">
  </div>


  <div class="col-md-12 contenedorventj">
    <h1> VENTAJAS DE UN REMATE HIPOTECARIO</h1>
    <h4>PRECIO</h4>
    <ul>
      <li>
        <p>Claramente se debe tener en cuenta las características, ubicación y condiciones del inmueble para determinar
          el porcentaje de descuento. Hay propiedades que se venden por un precio menor que en el mercado, incluso
          llegando a un X por ciento menos de su valor real.
        </p>
      </li>
    </ul>
    <h4>PLUSVALIA</h4>
    <ul>
      <li>
        <p>Comprando un remate hipotecario obtienes una plusvalía inmediata gracias a que estarás adquiriendo la casa a
          un costo menor que el avalúo. Con una inversión en remodelación este aumenta su plusvalía considerablemente,
          incluso con un X% más que su valor de mercado.</p>
      </li>
    </ul>
    <h4>SEGURIDAD</h4>
    <ul>
      <li>
        <p> Elegir en quién confiar su inversión es un gran paso para obtener el inmueble, lo ideal es acudir a un
          asesor inmobiliaria para evitar fraudes.</p>
      </li>
    </ul>
  </div>
  <br>
  <div class="col-md-12 contenedorventj">
    <h1> ¿QUIERES ADQUIRIR UN REMATE HIPOTECARIO?</h1>
    <p>Si estas interesado en adquirir uno de estos inmuebles, hemos puesto un filtro de búsqueda de remates para
      facilitarte el acceso a estas propiedades.</p>
    <div class="contenedorcaptura">
      <br>
      <br>
      <div>
        <img src="assets/img/captura_pantalla.png">
      </div>
      <br>
      <br>
    </div>
    <br>
    <p>Te premite filtrar de una mejor manera las propiedades que se encuentran anunciadas como remate.<br> Continua
      navegando y conociendo mas sobre InmobeWise. </p>
    <br>
    <br>
    <button (click)="Index()">Regresar</button>

  </div>
  
</div>