<app-menu></app-menu>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>Términos y Condiciones</h1>
            <section>
                <h1>Reglas Generales</h1>
                <p>Esta sección define los términos y condiciones (en lo sucesivo, las "Reglas Generales") que regulan el uso de los contenidos y servicios (en adelante, los "Servicios") del sitio web mencionado en la cláusula 12 (en adelante, el "Sitio Web"). El Sitio Web y los Servicios son proporcionados por la entidad especificada en la cláusula 12 (en adelante, "NAVENT").</p>
        
                <p>Si no está de acuerdo con las Reglas Generales, le rogamos que abandone el Sitio Web y se abstenga de utilizar y/o contratar los Servicios ofrecidos. El uso del Sitio Web por parte del usuario se considerará como una aceptación completa y sin reservas de las Reglas Generales establecidas aquí.</p>
        
                <p>A partir de este punto, los términos "Usted" y "Usuario" se utilizarán para referirse a todas las personas físicas y/o jurídicas que, por cualquier motivo, accedan al Sitio Web y deseen contratar los Servicios regulados por estas Reglas Generales.</p>
            </section>
            <h1>1. ACCESO AL SITIO WEB</h1>

            <h2>1.1 Acceso al Sitio Web</h2>
            <p>El ingreso y uso del Sitio Web no requiere registro previo del Usuario. Sin embargo, ciertos Servicios ofrecidos a través del Sitio Web pueden necesitar el registro y/o pago. NAVENT se reserva el derecho de permitir a los Usuarios el acceso a otros portales operados por NAVENT utilizando las credenciales (nombre de usuario y contraseña) creadas previamente para cualquier portal.</p>
        
            <h2>1.2 Utilización del Sitio Web</h2>
            <h3>1.2.1 El Usuario se compromete a utilizar el Sitio Web de acuerdo con estas Condiciones Generales, las leyes aplicables (según la cláusula 12) y las normas éticas.</h3>
            <h3>1.2.2 El Usuario se compromete a no utilizar el Sitio Web con fines ilegales, contrarios a estas Condiciones Generales, las leyes mexicanas, perjudiciales para terceros, o que puedan dañar, deshabilitar, sobrecargar o interferir con el uso normal del Sitio Web por parte de otros Usuarios.</h3>
        
            <h2>1.3 Contenido del Sitio Web</h2>
            <h3>1.3.1 Los contenidos del Sitio Web, como texto, información, gráficos, imágenes, logotipos, marcas, software, bases de datos, diseños, estructura funcional y otros materiales (en adelante, el "Contenido"), están protegidos por las leyes aplicables en cada jurisdicción (según la cláusula 12), incluyendo leyes de derechos de autor, patentes, marcas comerciales, modelos de utilidad, diseños industriales y nombres de dominio.</h3>
            <h3>1.3.2 El Contenido es propiedad de NAVENT y/o sus empresas afiliadas, subsidiarias o controladoras, proveedores de contenido, o cualquier otra entidad relacionada. La compilación, interconexión, funcionalidad y disposición del Contenido son propiedad exclusiva de NAVENT y/o sus entidades relacionadas. La copia, adaptación, reproducción y/o comercialización no autorizada del Contenido puede estar sujeta a sanciones legales en cada jurisdicción.</h3>
            <h3>1.3.3 No está permitido copiar ni adaptar el código de programación desarrollado por NAVENT o en su nombre para generar y operar sus páginas, ya que está protegido por las leyes aplicables en cada jurisdicción.</h3>
            
            <!-- Agrega más contenido aquí -->
        </div>
        <div class="col-md-4">
            <!-- Aquí puedes agregar una imagen -->
            <img src="assets/img/Accept.png" alt="Imagen de la inmobiliaria" width="450" height="400">

        </div>
    </div>
</div>
 <br>
 <br>
 <br>
 <br>
<app-footer></app-footer>