<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Rajdhani:wght@300;400;500;600;700&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">




<div class="content">
    <h2>Inmuebles pensados para ti</h2>
    <div class="carrousel">
        <div class="tarjet">
            <div class="tarjetSuperior">
                <img src="assets/img/publicidad3.jpg" class="imgTsuperior">

            </div>
            <div class="tarjetInferior">
                <p>Desarrollo • Departamento</p>
                <h1>$1,300,000</h1>
                <h4>Roman Morales 159</h4>
                <h5>Angelopolis, Puebla</h5>
            </div>
            <div class="etiqueta-venta"><h4>Venta</h4></div>
        </div>

        <div class="tarjet">
            <div class="tarjetSuperior">
                <img src="assets/img/publicidad3.jpg" class="imgTsuperior">

            </div>
            <div class="tarjetInferior">
                <p>Desarrollo • Departamento</p>
                <h1>$1,300,000</h1>
                <h4>Roman Morales 159</h4>
                <h5>Angelopolis, Puebla</h5>
            </div>
            <div class="etiqueta-venta"><h4>Renta</h4></div>
        </div>


        <div class="tarjet">
            <div class="tarjetSuperior">
                <img src="assets/img/publicidad3.jpg" class="imgTsuperior">

            </div>
            <div class="tarjetInferior">
                <p>Desarrollo • Departamento</p>
                <h1>$1,300,000</h1>
                <h4>Roman Morales 159</h4>
                <h5>Angelopolis, Puebla</h5>
            </div>
            <div class="etiqueta-venta"><h4>Compra</h4></div>
        </div>

        <div class="tarjet">
            <div class="tarjetSuperior">
                <img src="assets/img/publicidad3.jpg" class="imgTsuperior">

            </div>
            <div class="tarjetInferior">
                <p>Desarrollo • Departamento</p>
                <h1>$1,300,000</h1>
                <h4>Roman Morales 159</h4>
                <h5>Angelopolis, Puebla</h5>
            </div>
            <div class="etiqueta-venta"><h4>Desarrollo</h4></div>
        </div>

    </div>

</div>