/* calendario.component.css */

/* Estilos personalizados para FullCalendar */
/* #calendar {
  
  background-color: rebeccapurple;
   color:green;
} */

/* .fc-event {
  background-color: #336699;
  color: white;s
} */
