<div class="content">
    <div class="nav">
        <img src="assets/img/gobdemexico.png" class="gobdemexico">
        <img src="assets/img/sepomex.png" class="sepomexicon">
        <h1>SEPOMEX</h1>
        <h3>Inicia el proceso de carga de los codigos postales</h3>

    </div>

      <label for="images" class="drop-container" id="dropcontainer">
        <span class="drop-title">Arrastra el archivo aqui</span>
        o
        <input type="file" id="images" accept="image/*" required>
      </label>


      <button class="custom-file-input" id="start">Iniciar proceso</button>

</div>
