<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Secular+One">
<div class="content">
    <div class="nav">
        <img src="assets/img/gobdemexico.png" class="gobdemexico">
        <img src="assets/img/sepomex.png" class="sepomexicon">
        <h1>SEPOMEX</h1>
        

    </div>

    <div class="acordeon">
        <h3>Selecciona el tipo de informacion y despues inicia el proceso de carga de informacion que vas a subir</h3>
        <h3 class="warning">solo se admiten archivos con extencion .txt*</h3>
        <label for="images" class="drop-container" id="dropcontainer">
            <span class="drop-title">Arrastra el archivo aqui</span>
            o
            <input type="file" id="images" accept=".txt" required>
          </label>
          <button class="custom-file-input" id="start">Iniciar proceso</button>



        <!-- <h2>hola</h2>
       
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Asentamiento
                  </mat-panel-title>
                </mat-expansion-panel-header>
                 <label for="images" class="drop-container" id="dropcontainer">
                  <span class="drop-title">Arrastra el archivo aqui</span>
                  o
                  <input type="file" id="images" accept=".txt" required>
                </label>
                <button class="custom-file-input" id="start">Iniciar proceso</button>
              </mat-expansion-panel>
       
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Tipo de asentamiento
                  </mat-panel-title>
                </mat-expansion-panel-header>
                 <label for="images" class="drop-container" id="dropcontainer">
                  <span class="drop-title">Arrastra el archivo aqui</span>
                  o
                  <input type="file" id="images" accept=".txt" required>
                </label>
                <button class="custom-file-input" id="start">Iniciar proceso</button>
              </mat-expansion-panel>
        
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Código Postal
                  </mat-panel-title>
                </mat-expansion-panel-header>
                 <label for="images" class="drop-container" id="dropcontainer">
                  <span class="drop-title">Arrastra el archivo aqui</span>
                  o
                  <input type="file" id="images" accept=".txt" required>
                </label>
                <button class="custom-file-input" id="start">Iniciar proceso</button>
              </mat-expansion-panel>
       
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Estados
                  </mat-panel-title>
                </mat-expansion-panel-header>
                 <label for="images" class="drop-container" id="dropcontainer">
                  <span class="drop-title">Arrastra el archivo aqui</span>
                  o
                  <input type="file" id="images" accept=".txt" required>
                </label>
                <button class="custom-file-input" id="start">Iniciar proceso</button>
              </mat-expansion-panel>
      
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Municipios
                </mat-panel-title>
              </mat-expansion-panel-header>
               <label for="images" class="drop-container" id="dropcontainer">
                <span class="drop-title">Arrastra el archivo aqui</span>
                o
                <input type="file" id="images" accept=".txt" required>
              </label>
              <button class="custom-file-input" id="start">Iniciar proceso</button>
            </mat-expansion-panel>
    
          </mat-accordion> -->
       
    </div>
</div>
