<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Secular+One">
<div class="content">
    <div class="nav">
        <img src="assets/img/gobdemexico.png" class="gobdemexico">
        <img src="assets/img/sepomex.png" class="sepomexicon">
        <h1>SEPOMEX</h1>
        

    </div>

    <div class="acordeon">
        <h3>Sube el archivo sin modificaciones desde la pagina oficial de Servico Postal Mexicano.</h3>
        <h3>Puedes consultarlo en la siguiente liga: <a href="https://www.correosdemexico.gob.mx/SSLServicios/ConsultaCP/CodigoPostal_Exportar.aspx" target="_blank">https://www.correosdemexico.gob.mx/SSLServicios/ConsultaCP/CodigoPostal_Exportar.aspx</a></h3>

        <h3 class="warning">solo se admiten archivos con extencion .txt*</h3>

          <label for="images" class="drop-container" id="dropcontainer" (dragover)="handleDragOver($event)" (drop)="handleDrop($event)">
            <span class="drop-title">Arrastra el archivo aquí</span>
            o
            <div class="file-container">
                <input type="file" id="images" accept=".txt" required (change)="processFile($event)">
                <div class="error-message" *ngIf="fileError">Por favor, selecciona un archivo con extensión .txt</div>
                <mat-progress-bar class="progressbar" mode="determinate" [value]="progressValue" *ngIf="showProgressBar"></mat-progress-bar>
            </div>
          </label>
          <div class="progressbar2">
            <mat-progress-bar *ngIf="procesoEnCurso" [value]="progreso"></mat-progress-bar>
            <button class="custom-file-input" id="start" (click)="proceso()">Iniciar proceso</button>
          </div>

        <!-- <h2>hola</h2>
       
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Asentamiento
                  </mat-panel-title>
                </mat-expansion-panel-header>
                 <label for="images" class="drop-container" id="dropcontainer">
                  <span class="drop-title">Arrastra el archivo aqui</span>
                  o
                  <input type="file" id="images" accept=".txt" required>
                </label>
                <button class="custom-file-input" id="start">Iniciar proceso</button>
              </mat-expansion-panel>
       
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Tipo de asentamiento
                  </mat-panel-title>
                </mat-expansion-panel-header>
                 <label for="images" class="drop-container" id="dropcontainer">
                  <span class="drop-title">Arrastra el archivo aqui</span>
                  o
                  <input type="file" id="images" accept=".txt" required>
                </label>
                <button class="custom-file-input" id="start">Iniciar proceso</button>
              </mat-expansion-panel>
        
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Código Postal
                  </mat-panel-title>
                </mat-expansion-panel-header>
                 <label for="images" class="drop-container" id="dropcontainer">
                  <span class="drop-title">Arrastra el archivo aqui</span>
                  o
                  <input type="file" id="images" accept=".txt" required>
                </label>
                <button class="custom-file-input" id="start">Iniciar proceso</button>
              </mat-expansion-panel>
       
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Estados
                  </mat-panel-title>
                </mat-expansion-panel-header>
                 <label for="images" class="drop-container" id="dropcontainer">
                  <span class="drop-title">Arrastra el archivo aqui</span>
                  o
                  <input type="file" id="images" accept=".txt" required>
                </label>
                <button class="custom-file-input" id="start">Iniciar proceso</button>
              </mat-expansion-panel>
      
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Municipios
                </mat-panel-title>
              </mat-expansion-panel-header>
               <label for="images" class="drop-container" id="dropcontainer">
                <span class="drop-title">Arrastra el archivo aqui</span>
                o
                <input type="file" id="images" accept=".txt" required>
              </label>
              <button class="custom-file-input" id="start">Iniciar proceso</button>
            </mat-expansion-panel>
    
          </mat-accordion> -->
       
    </div>
</div>
