<div class="container" style="background-color: aquamarine;">
<div class="row">
    <h1>Planes para ti</h1>
    <h4>Plublica con cualquiera de estos planes que se adapten a ti</h4>
    <div class="col-md-4" style="background-color: red">
        <div class="contenedorplan">

        </div>
    </div>
    <div class="col-md-4" style="background-color:aqua">
        <div class="contenedorplan">

        </div>
    </div>
    <div class="col-md-4" style="background-color: red">
        <div class="contenedorplan">

        </div>
    </div>
</div>
</div>