    
<div class="font-Roboto-Condensed">
    

    <div class="p-3"></div>

    <div class="container-band-img content-center">
        <div class="container rounded background-w">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="compra-tab" data-bs-toggle="tab" data-bs-target="#compra"
                        type="button" role="tab" aria-controls="compra" aria-selected="true">Compra</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="renta-tab" data-bs-toggle="tab" data-bs-target="#renta" type="button"
                        role="tab" aria-controls="renta" aria-selected="false">Renta</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="compra" role="tabpanel" aria-labelledby="compra-tab">
                    <div class="p-4"></div>
                    <form style="align-items: center;">
                        <div class="input-group px-5 mx-5">
                            <select class="custom-select me-2 shadow bg-white rounded border border-info"
                                id="inputGroupSelect01" style="width: 20%">
                                <option selected>Tipo de Propiedad</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                            <div class="input-group " style="width: 60%">
                                <div class="input-group-prepend">
                                    <span
                                        class="input-group-text shadow bg-white rounded border border-info font-Roboto-Condensed"
                                        id="inputGroup-sizing-default">Ubicación</span>
                                </div>
                                <input type="text" class="form-control shadow bg-white rounded border border-info me-2"
                                    aria-label="Default" aria-describedby="inputGroup-sizing-default"
                                    style="width: 50%;">
                            </div>
                            <div class="input-group " style="width: 10%">
                                <button type="button" class="btn btn-outline-inmo"><i
                                        class="bi bi-geo-alt-fill"></i></button>
                            </div>
                        </div>
                    </form>
                    <div class="p-4"></div>
                </div>
                <div class="tab-pane fade" id="renta" role="tabpanel" aria-labelledby="renta-tab">
                    <div class="p-4"></div>
                    <form style="align-items: center;">
                        <div class="input-group px-5 mx-5">
                            <select
                                class="custom-select me-2 shadow bg-white rounded border border-info font-Roboto-Condensed"
                                id="inputGroupSelect01" style="width: 20%">
                                <option selected>Tipo de Propiedad</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                            <div class="input-group " style="width: 60%">
                                <div class="input-group-prepend">
                                    <span
                                        class="input-group-text shadow bg-white rounded border border-info font-Roboto-Condensed"
                                        id="inputGroup-sizing-default">Ubicación</span>
                                </div>
                                <input type="text"
                                    class="form-control shadow bg-white rounded border border-info font-Roboto-Condensed"
                                    aria-label="Default" aria-describedby="inputGroup-sizing-default"
                                    style="width: 50%;">
                            </div>
                            <div class="input-group " style="width: 10%">
                                <button type="button" class="btn btn-outline-inmo"><i
                                        class="bi bi-geo-alt-fill"></i></button>
                            </div>
                        </div>
                    </form>
                    <div class="p-4"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="p-3"></div>

    <div class="container">
        <div class="card-group">
            <div class="card me-2">
                <img src="/assets/img/Software engineer-pana.png" class="card-img-top" width="120px" height="300px">
                <div class="card-body">
                    <h4 class="card-title fw-bold">Desarrollos</h4>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
            <div class="card me-2">
                <img src="/assets/img/Houses-bro.png" class="card-img-top" width="120px" height="300px">
                <div class="card-body">
                    <h4 class="card-title fw-bold">Residencias</h4>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
                    </p>
                </div>
            </div>
            <div class="card">
                <img src="/assets/img/Select house-bro.png" class="card-img-top" width="120px" height="300px">
                <div class="card-body">
                    <h4 class="card-title fw-bold">Inmuebles</h4>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show that equal height
                        action.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="p-3"></div>

    <div class="container-band-third">

    </div>

</div>