<!-- 
<div class="content">
   <div class="content-center">
        <div class="rounded form-space content-center">
            <div class="container rounded card-space">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item rounded content-center" role="presentation">
                        <button class="nav-link active" id="compra-tab" data-bs-toggle="tab" data-bs-target="#compra"
                            type="button" role="tab" aria-controls="compra" aria-selected="true"><i
                                class="bi bi-houses-fill size-icon"></i>
                            Compra</button>
                    </li>
                    <li class="nav-item rounded content-center" role="presentation">
                        <button class="nav-link" id="renta-tab" data-bs-toggle="tab" data-bs-target="#renta" type="button"
                            role="tab" aria-controls="renta" aria-selected="false"><i
                                class="bi bi-houses-fill size-icon"></i> Renta</button>
                    </li>
                    <li class="nav-item rounded content-center" role="presentation">
                        <button class="nav-link" id="remate-tab" data-bs-toggle="tab" data-bs-target="#remate" type="button"
                            role="tab" aria-controls="remate" aria-selected="false"><i
                                class="bi bi-houses-fill size-icon"></i> Remates</button>
                    </li>
                    <li class="nav-item rounded content-center" role="presentation">
                        <button class="nav-link" id="desarrollos-tab" data-bs-toggle="tab" data-bs-target="#desarrollos" type="button"
                            role="tab" aria-controls="desarrollos" aria-selected="false"><i
                                class="bi bi-houses-fill size-icon"></i> Desarrollos</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active m-3 p-3" id="compra" role="tabpanel" aria-labelledby="compra-tab">
                        <div class="content-center">
                            <form [formGroup]="firstFormGroup" class="form-control content-center" (ngSubmit)="onSubmit()">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="bi bi-building size-icon"></i></span>
                                    <select class="form-select" label="Selecciona tipo de inmueble"  formControlName="pId_Tipo_Inmueble" [(ngModel)]="tpropiedad" (ngModelChange)="cambioTpropiedad($event)"
                                        class="custom-select me-3 shadow bg-white rounded border border-info font-Roboto-Condensed form-control"
                                        >                                  
                                        <option *ngFor="let inmo of inmuebles" value="{{ inmo.Id_Tipo_Inmueble}}">{{ inmo.Tipo_Inmueble
                                        }} </option>
                                    </select>
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span
                                            class="input-group-text shadow bg-white rounded border border-info font-Roboto-Condensed"
                                            id="inputGroup">Ubicación</span>
                                    </div>
                                    <input type="text" formControlName="pUbicacion" [(ngModel)]="ubicacion" (ngModelChange)="cambioUbicacion($event)"
                                        class="shadow bg-white rounded border border-info font-Roboto-Condensed form-control"
                                        aria-label="Default" aria-describedby="inputGroup">
                                    <div class="input-group-prepend me-2">
                                        <span class="input-group-addon">
                                            <button class="btn btn-outline-inmo" type="submit" (click)="ResultadoosBusquedaC()">Buscar</button>
                                        </span>
                                    </div>
                                </div>
                                <div class="input-group group-btn content-center">
                                    <button (click)="PageMapV()" class="btn btn-outline-inmo form-control" type="submit"><i
                                            class="bi bi-geo-alt-fill"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="tab-pane fade m-3 p-3" id="renta" role="tabpanel" aria-labelledby="renta-tab">
                        <div class="content-center">
                            <form  [formGroup]="segundoFormGroup" class="form-control content-center" (ngSubmit)="onSubmit()">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="bi bi-building size-icon"></i></span>
                                    <select formControlName="pId_Tipo_Inmueble2" [(ngModel)]="tpropiedad" (ngModelChange)="cambioTpropiedad($event)"
                                        class="custom-select me-3 shadow bg-white rounded border border-info font-Roboto-Condensed form-control"
                                        >
                                        <option *ngFor="let inmo of inmuebles" value="{{ inmo.Id_Tipo_Inmueble}}">{{ inmo.Tipo_Inmueble
                                        }} </option>
                                    </select>
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span
                                            class="input-group-text shadow bg-white rounded border border-info font-Roboto-Condensed"
                                            id="inputGroup">Ubicación</span>
                                    </div>
                                    <input type="text" formControlName="pUbicacion2" [(ngModel)]="ubicacion" (ngModelChange)="cambioUbicacion($event)"
                                        class="shadow bg-white rounded border border-info font-Roboto-Condensed form-control"
                                        aria-label="Default" aria-describedby="inputGroup">
                                    <div class="input-group-prepend me-2">
                                        <span class="input-group-addon">
                                            <button  class="btn btn-outline-inmo" type="submit" (click)="ResultadoosBusquedaR()">Buscar</button>
                                        </span>
                                    </div>
                                </div>
                                <div class="input-group group-btn content-center">
                                    <button (click)="PageMap()" class="btn btn-outline-inmo form-control" type="submit"><i
                                            class="bi bi-geo-alt-fill"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="tab-pane fade m-3 p-3" id="remate" role="tabpanel" aria-labelledby="remate-tab">
                        <div class="content-center">
                            <form  [formGroup]="firstFormGroup" class="form-control content-center" (ngSubmit)="onSubmit()">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="bi bi-building size-icon"></i></span>
                                    <select  formControlName="pId_Tipo_Inmueble" [(ngModel)]="tpropiedad" (ngModelChange)="cambioTpropiedad($event)"
                                        class="custom-select me-3 shadow bg-white rounded border border-info font-Roboto-Condensed form-control"
                                        >
                                        <option *ngFor="let inmo of inmuebles" value="{{ inmo.Id_Tipo_Inmueble}}">{{ inmo.Tipo_Inmueble
                                        }} </option>
                                    </select>
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span
                                            class="input-group-text shadow bg-white rounded border border-info font-Roboto-Condensed"
                                            id="inputGroup">Ubicación</span>
                                    </div>
                                    <input type="text" formControlName="pUbicacion" [(ngModel)]="ubicacion" (ngModelChange)="cambioUbicacion($event)"
                                        class="shadow bg-white rounded border border-info font-Roboto-Condensed form-control"
                                        aria-label="Default" aria-describedby="inputGroup">
                                    <div class="input-group-prepend me-2">
                                        <span class="input-group-addon">
                                            <button  class="btn btn-outline-inmo" type="submit" (click)="ResultadoosBusquedaRema()">Buscar</button>
                                        </span>
                                    </div>
                                </div>
                                <div class="input-group group-btn content-center">
                                    <button (click)="PageMap()" class="btn btn-outline-inmo form-control" type="submit"><i
                                            class="bi bi-geo-alt-fill"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="tab-pane fade m-3 p-3" id="desarrollos" role="tabpanel" aria-labelledby="desarrollos-tab">
                        <div class="content-center">
                            <form  [formGroup]="firstFormGroup" class="form-control content-center" (ngSubmit)="onSubmit()">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="bi bi-building size-icon"></i></span>
                                    <select formControlName="pId_Tipo_Inmueble" [(ngModel)]="tpropiedad" (ngModelChange)="cambioTpropiedad($event)"
                                        class="custom-select me-3 shadow bg-white rounded border border-info font-Roboto-Condensed form-control"
                                        >
                                        <option *ngFor="let inmo of inmuebles" value="{{ inmo.Id_Tipo_Inmueble}}">{{ inmo.Tipo_Inmueble
                                        }} </option>
                                    </select>
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span
                                            class="input-group-text shadow bg-white rounded border border-info font-Roboto-Condensed"
                                            id="inputGroup">Ubicación</span>
                                    </div>
                                    <input type="text" formControlName="pUbicacion" [(ngModel)]="ubicacion" (ngModelChange)="cambioUbicacion($event)"
                                        class="shadow bg-white rounded border border-info font-Roboto-Condensed form-control"
                                        aria-label="Default" aria-describedby="inputGroup">
                                    <div class="input-group-prepend me-2">
                                        <span class="input-group-addon">
                                            <button  class="btn btn-outline-inmo" type="submit" (click)="ResultadoosBusquedaDesa()">Buscar</button>
                                        </span>
                                    </div>
                                </div>
                                <div class="input-group group-btn content-center">
                                    <button (click)="PageMap()" class="btn btn-outline-inmo form-control" type="submit"><i
                                            class="bi bi-geo-alt-fill"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>   
-->
<div class="m-5 background-find">
  <div class="container mt-5">
    <ul class="nav nav-pills nav-justified">
      <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="pill" href="#compra"><i class="bi bi-newspaper icon-size"></i>
          Compra</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="pill" href="#renta"><i class="bi bi-houses icon-size"></i> Renta</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="pill" href="#remate"><i class="bi bi-bank icon-size"></i> Remate</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="pill" href="#desarrollo"> <i class="bi bi-buildings icon-size"></i>
          Desarrollo</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane container active" id="compra">
        <div class="container text-center">
          <div [formGroup]="firstFormGroup">
            <div class="row p-5 justify-content-md-center">
              <div class="col-md-auto">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon-1"><i class="bi bi-building icon-size"></i></span>
                  <select class="form-select form-control" aria-label=".form-select-lg"
                    formControlName="pId_Tipo_Inmueble" [(ngModel)]="tpropiedad" required>
                    <option class="dropdown-item" disabled selected value="undefined">Selecciona...</option>
                    <option class="dropdown-item" *ngFor="let inmo of TInmuebles" value="{{ inmo.Id_Tipo_Inmueble }}">
                      {{ inmo.Tipo_Inmueble }} </option>
                  </select>
                </div>
              </div>
              <div class="col-md-5">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon-2">Ubicación</span>
                  <input type="text" class="form-control" placeholder="Ingrese Estado, Municipio o Colonia"
                    aria-describedby="basic-addon-2" formControlName="pUbicacion" [(ngModel)]="ubicacion" (ngModelChange)="cambioUbicacion($event)">
                </div>
              </div>
              <div class="col-md-auto">
                <button type="button" class="btn btn-secondary form-control mb-3" (click)="ResultsBusqCompra()">Buscar
                  <i class="bi bi-search icon-size"></i></button>
              </div>
              <div class="col-md-auto">
                <button type="button" class="btn btn-secondary form-control mb-3"><i
                    class="bi bi-geo-alt icon-size" (click)="PageMapV()"></i>
                  Mapa</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane container fade" id="renta">
        <div class="container text-center">
          <div [formGroup]="firstFormGroup">
            <div class="row p-5 justify-content-md-center">
              <div class="col-md-auto">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon-3"><i class="bi bi-building icon-size"></i></span>
                  <select class="form-select form-control" aria-label=".form-select-lg"
                    formControlName="pId_Tipo_Inmueble" [(ngModel)]="tpropiedad" required>
                    <option class="dropdown-item" disabled selected value="undefined">Selecciona...</option>
                    <option class="dropdown-item" *ngFor="let inmo of TInmuebles" value="{{ inmo.Id_Tipo_Inmueble }}">
                      {{
                      inmo.Tipo_Inmueble }} </option>
                  </select>
                </div>
              </div>
              <div class="col-md-5">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon-4">Ubicación</span>
                  <input type="text" class="form-control" placeholder="Ingrese Estado, Municipio o Colonia"
                    aria-describedby="basic-addon-2" formControlName="pUbicacion" [(ngModel)]="ubicacion" (ngModelChange)="cambioUbicacion($event)">
                </div>
              </div>
              <div class="col-md-auto">
                <button type="button" class="btn btn-secondary form-control mb-3" (click)="ResultsBusqRenta()">Buscar <i
                    class="bi bi-search icon-size"></i></button>
              </div>
              <div class="col-md-auto">
                <button type="button" class="btn btn-secondary form-control mb-3"><i
                    class="bi bi-geo-alt icon-size" (click)="PageMapV()"></i>
                  Mapa</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane container fade" id="remate">
        <div class="container text-center">
          <div [formGroup]="firstFormGroup">
            <div class="row p-5 justify-content-md-center">
              <div class="col-md-auto">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon-5"><i class="bi bi-building icon-size"></i></span>
                  <select class="form-select form-control" aria-label=".form-select-lg"
                    formControlName="pId_Tipo_Inmueble" [(ngModel)]="tpropiedad">
                    <option class="dropdown-item" disabled selected value="undefined">Selecciona...</option>
                    <option class="dropdown-item" *ngFor="let inmo of TInmuebles" value="{{ inmo.Id_Tipo_Inmueble }}">
                      {{
                      inmo.Tipo_Inmueble }} </option>
                  </select>
                </div>
              </div>
              <div class="col-md-5">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon-6">Ubicación</span>
                  <input type="text" class="form-control" placeholder="Ingrese Estado, Municipio o Colonia"
                    aria-describedby="basic-addon-2" formControlName="pUbicacion" [(ngModel)]="ubicacion" (ngModelChange)="cambioUbicacion($event)">
                </div>
              </div>
              <div class="col-md-auto">
                <button type="button" class="btn btn-secondary form-control mb-3" (click)="ResultsBusqRemate()">Buscar
                  <i class="bi bi-search icon-size"></i></button>
              </div>
              <div class="col-md-auto">
                <button type="button" class="btn btn-secondary form-control mb-3"><i
                    class="bi bi-geo-alt icon-size" (click)="PageMapV()"></i>
                  Mapa</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane container fade" id="desarrollo">
        <div class="container text-center">
          <div [formGroup]="firstFormGroup">
            <div class="row p-5 justify-content-md-center">
              <div class="col-md-auto">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon-7"><i class="bi bi-building icon-size"></i></span>
                  <select class="form-select form-control" aria-label=".form-select-lg"
                    formControlName="pId_Tipo_Inmueble" [(ngModel)]="tpropiedad" required>
                    <option class="dropdown-item" disabled selected value="undefined">Selecciona...</option>
                    <option class="dropdown-item" *ngFor="let inmo of TInmuebles" value="{{ inmo.Id_Tipo_Inmueble }}">
                      {{
                      inmo.Tipo_Inmueble }} </option>
                  </select>
                </div>
              </div>
              <div class="col-md-5">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon-8">Ubicación</span>
                  <input type="text" class="form-control" placeholder="Ingrese Estado, Municipio o Colonia"
                    aria-describedby="basic-addon-2" formControlName="pUbicacion" [(ngModel)]="ubicacion" (ngModelChange)="cambioUbicacion($event)">
                </div>
              </div>
              <div class="col-md-auto">
                <button type="button" class="btn btn-secondary form-control mb-3"
                  (click)="ResultsBusqDesarrollo()">Buscar
                  <i class="bi bi-search icon-size"></i></button>
              </div>
              <div class="col-md-auto">
                <button type="button" class="btn btn-secondary form-control mb-3"><i
                    class="bi bi-geo-alt icon-size" (click)="PageMapV()"></i>
                  Mapa</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>