<div class="container">
  <!-- ... Otros elementos en tu contenedor ... -->

  <!-- Mostrar el spinner solo cuando loading es true -->
  <mat-spinner *ngIf="loading" diameter="50" color="Primary"></mat-spinner>

  <!-- Agregar un overlay oscuro durante la carga -->
  <div class="overlay" *ngIf="loading"></div>

  <!-- Agregar un label debajo del spinner -->

  <label class="loading-label" *ngIf="loading" for="">Cargando...</label>

  <!-- ... Otros elementos en tu contenedor ... -->

  <div id="head">
    <div id="left">
      <h3>Android</h3>
      <input
        type="file"
        id="archivo1"
        (change)="onFileChange($event)"
        #archivoInput1
      />
    </div>
    <div id="right">
      <h3>IOS</h3>
      <input
        type="file"
        id="archivo2"
        (change)="selectFile($event)"
        #archivoInput2
      />
      <br />
    </div>
  </div>

  <button
    id="subir"
    (click)="
      verificarInputFilesVacios(archivoInput1, archivoInput2); subirArchivo()
    "
  >
    Enviar Archivo(s)
  </button>

  <div id="footer">
    <button id="cerrar" (click)="closeDialog()">Cerrar</button>
  </div>
</div>
