<div>
    <div class="encabezado">
        <h1>Calendario</h1>
        <button class="btnAdd" (click)="addEvent()"><mat-icon>add</mat-icon> Crear </button>
        <ul *ngIf="ShowAddEvent" class="ShowAddEvent">
          <div class="barraAzul">Crear un evento nuevo <mat-icon (click)="closeEvent()">clear</mat-icon></div>
          <ul class="content-addevent">    
              <div class="inputContainer">
                <input type="text" class="inputAsunto" placeholder="" [(ngModel)]="asunto">
                <label for="" class="label">Asunto</label>
  
              </div>
                <div style="display: flex;">
                  <div style="margin-right: 20px;">
                    <mat-form-field class="date-field">
                      <mat-label disabled><h4>fecha de inicio</h4></mat-label>
                      <div class="date-label-container">
                        <input matInput [matDatepicker]="inicio" [(ngModel)]="fechaInicio">
                        <mat-datepicker-toggle matIconSuffix [for]="inicio"></mat-datepicker-toggle>
                      </div>
                      <mat-hint>MM/DD/YYYY</mat-hint>
                      <mat-datepicker #inicio></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field class="date-field">
                      <mat-label disabled><h4>fecha de cierre</h4></mat-label>
                      <div class="date-label-container">
                        <input matInput [matDatepicker]="cierre" [(ngModel)]="fechaCierre">
                        <mat-datepicker-toggle matIconSuffix [for]="cierre"></mat-datepicker-toggle>
                      </div>
                      <mat-hint>MM/DD/YYYY</mat-hint>
                      <mat-datepicker #cierre></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="inputContainer">
                  <input type="text" class="inputDescripcion" placeholder="" [(ngModel)]="Descripcion" >
                  <label for="" class="label">Descripcion</label>
                  
        
                </div>
                
              <div class="BtnEvento">
              <button class="CancelBtn" (click)="closeEvent()">Cancelar</button> 
              <button class="submitBtn" (click)="Addnew()">Añadir</button>
              </div>          
          </ul>
        </ul>
        <img class="logoxd" src="assets/img/logo.png">
  
  
  
  
      </div>
</div>