<app-menuinmueble></app-menuinmueble>
<br>
<br>
<br>
<br>
<br>
  
<div class="row justify-content-center align-items-center">
    <div class="col-sm-3 align-items-center align-middle p-5">
      
    </div>
    <div class="col-sm-9">
      <div class="cointainer p-4">
      <form>
        <div class="row justify-content-center align-items-center mb-2">
        
          <div class="col">
            <div class="input-group">
            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder=" Busca por ID ,Correo" >
            <div class="input-group-prepend" style="color: #38B6E3;">
              <div class="input-group-text" >
                <i class="bi bi-search" ></i>
              </div>
            </div>
          </div>
          </div>
          <div class="col">
            <select class="form-control">
              <option selected>Lo Más Recientes</option>
              <option>Lo Más Vistos</option>
              <option>Lo Más Antiguos</option>
            </select></div>
          </div>
      </form>
    </div>
  </div>
  <div class="row justify-content-left align-items-center">
    <div class="col-sm-3 align-items-center align-middle p-5 color-back">
        <button type="button" class="btn" style="background-color: #38B6E3 ; color: #ffffff;"  >
            <i class="bi bi-envelope"></i>
            Bandeja de Entrada</button>
     
   
      <div class="p-2"></div>
      <button type="button" class="btn" style="background-color: #38B6E3 ; color: #ffffff;"  >
        <i class="bi bi-trash"></i>
        Eliminados</button>
   
      
      <div class="p-2"></div>
      <button type="button" class="btn" style="background-color: #38B6E3 ; color: #ffffff;"  >
        <i class="bi bi-exclamation-circle"></i>
        Spam</button>
     
     
    </div>
    
    </div>
    </div>

  


  