
.insertar-dialog h1 {
    text-align: center;
    font-weight: 500;
}

.insertar-dialog-content mat-form-field {
    background-color: transparent !important;
    width: 100%;
    margin: 10px 0px;
    /* input {
        color: black;
    } */
}

.insertar-dialog-content input {
color: black;
}