
<div class="insertar-dialog">
    <h1 mat-dialog-title>CAMBIAR CONTRASEÑA</h1>
    <div mat-dialog-content>

        <form class="insertar-dialog-content" [formGroup]="formGeneral">
            <mat-form-field>
                <mat-label>Ingresa tu contraseña</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Ingresa nuevamente tu contraseña</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>

            

            
           
              <div class="col-md-12 text-center">
                <!-- Botón Aceptar -->
                <button mat-button type="submit" color="secondary">
                    <span>Aceptar</span>
                </button>
                
                <!-- Botón Cancelar -->
                <button mat-button type="button" [disabled]="loading" color="warn" (click)="closeDialog()">
                    <span>Cancelar</span>
                </button>
            </div>

            <!-- <button mat-button  type="submit" color="secondary">
                <span>Aceptar</span>
                </button><br>

            <button mat-button type="button" [disabled]="loading" color="warn" (click)="closeDialog()">
                <span>Cancelar</span>
            </button><br> -->

        </form>

    </div>
</div>

