 <app-menu></app-menu>
 <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
<div class="container">
    <nav class="navbar navbar-light navbar-custom">
        <div class="container-fluid">
            
        </div>
      </nav>
      <div class="card">
        <div class="row g-0">
          <div class="col-5 col-sm-4">
            <img src="assets/img/Living.gif" class="img-fluid w-100" alt="card-horizontal-image">
          </div>
          <div class="col-7 col-sm-8">
            <div class="card-body">
                <br>
                <br>
                <br>
                <br>
              <h2 class="card-title">"Coloca tu inmueble en el mercado de manera eficaz y veloz".</h2>
              <br>
                <br>
                
               <p class="card-text"> "Anuncia sin costo en la plataforma líder del sector de bienes raíces".
              </p>
              <br>
              <br>
              <div class="text-center">
                <button (click)="direccionamiento()"  class="btn">Anunciar mi propiedad
                    <i class="bi bi-megaphone"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
     <br>
     <br>

     <br>
     <br>
     <br>
     <br>

     <div class="conta">
      <div class="car">
          <img src="assets/img/personas.png" alt="Imagen 1">
          <p class="text-body">"Cada mes, miles de individuos buscan su vivienda".</p>
      </div>
      <div class="car">
          <img src="assets/img/anuncio.png" alt="Imagen 2">
          <p class="text-body">"Nuestros anuncios reciben consultas cada mes".</p>
      </div>
      <div class="car">
          <img src="assets/img/acuerdo.png" alt="Imagen 3">
          <p class="text-body">"Propietarios alquilan y anuncian sus propiedades en nuestra plataforma".</p>
      </div>
  </div>
     <!-- <div class="conta">
      <div class="car">
        <img src="assets/img/personas.png" alt="Imagen 1">
        <p class="text-body">
          "Cada mes, miles de individuos buscan su vivienda".</p>
      </div>
       <div class="car">
        <img src="assets/img/anuncio.png" alt="Imagen 1">
        <p class="text-body">
          "Nuestros anuncios reciben consultas cada mes".</p>
       
 
      </div> 
      <div class="car">
        <img src="assets/img/acuerdo.png" alt="Imagen 1">
        <p class="text-body">
          "Propietarios alquilan y anuncian sus propiedades en nuestra plataforma".</p>
      </div>
    </div> -->
        
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h3 >
      Coloca tu propiedad sin costo y con un proceso sencillo
    </h3>  
    <br>
    <br> 
    <br>
   
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="assets/img/Computer.png" alt="Descripción de la imagen" class="img-fluid">
        </div>
        <div class="col-md-6">
          <div class="timeline">
            <ul>
              <li>
                <i class="bi bi-geo-alt-fill"></i>
                &nbsp;
                <span>Localiza tu propiedad en el mapa.</span>
              </li>
              <li>
                <i class="bi bi-pencil"></i>
                &nbsp;
                <span>Describenos sus características.</span>
              </li>
              <li>
                <i class="bi bi-images"></i>
                &nbsp;
                <span>Añade fotos y videos</span>
                
              </li>

              <li>
                <i class="bi bi-megaphone"></i>
                &nbsp;
                <span>Anuncia sin costo o selecciona un plan</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <div class="accordion" id="accordionBasic">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            ¿Cuál es el primer paso para comprar una vivienda?
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionBasic">
          <div class="accordion-body">
            <strong>Primero, necesitas saber cuánto puedes pedir prestado. Al saber cuánta casa puedes pagar, reduces la búsqueda en línea a las propiedades adecuadas. De esta manera, no pierdes tiempo considerando casas que no están dentro de tu presupuesto. Tener una aprobación previa, te evita la decepción causada por enamorarte de una propiedad inasequible.</strong> 
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            ¿Cuánto tengo que pagarle a un agente para que me ayude a comprar una casa?
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionBasic">
          <div class="accordion-body">
            <strong>A los agentes de bienes raíces que representan a un comprador, los compensa el corredor del listado, por llevarle un comprador de viviendas a la negociación. Cuando se vende la propiedad, el corredor de listado divide la comisión con el agente del comprador. Por lo tanto, como comprador no le pagas a tu agente de bienes raíces.</strong> 
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            ¿Cuánto puede tardar un vendedor en responder a mi oferta?
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree" data-bs-parent="#accordionBasic">
          <div class="accordion-body">
            <strong>Al hacer tu oferta por escrito, estipula el plazo en el que el vendedor debe responderte. Darles veinticuatro horas debería ser suficiente.</strong>
          </div>
        </div>
      </div>
    </div>
  </div>

    
      
    










  <app-footer></app-footer>