
<!-- <link rel="stylesheet" type="text/css" href="novedades.component.css" /> -->



<!-- BEGIN wrapper -->
<div id="wrapper">
  <!-- BEGIN header -->
  <div id="header">

    <ul>
      <li ><a >Home</a></li>
      
      <li><a >Contacto</a></li>
    </ul>
    
    <div class="break"></div>
    <div class="logo">
        <p>Category</p>
      <h1><a href="#"> 
        Noticias</a></h1>

  
    </div>
    
  <!-- END header -->
  <!-- BEGIN content -->
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

 
  <div id="content">
    <!-- begin post -->
    <div class="post">
      <div class="thumb"><a href="#"><img src="assets/img/noti1.jpg" alt="" /></a></div>
      <h2><a href="#">Comprar casa temporada</a></h2>
      <p class="date">Posted on January 7, 2008 by admin</p>
      <p>Elementum ea, nibh et, velit sed sagittis. Ipsum libero. Viverra integer enim, sed dolor. Inceptos elit, vitae et. Eget eget nec, lectus nisl, vehicula est feugiat. cum condimentum mattis dui fusce ut, vel convallis suspendisse suspendisse sed in. Libero blandit curae at magna ut, id mauris suspendisse ligula neque integer non.</p>
      <a class="continue" href="#">Continuar </a> </div>
    <!-- end post -->
    <!-- begin post -->
    <div class="post">
      <div class="thumb"><a href="#"><img src=" assets/img/noti3.jpg" alt="" /></a></div>
      <h2><a href="#"> mercado inmobiliario</a></h2>
      <p class="date">Posted on January 7, 2008 by admin</p>
      <p>Elementum ea, nibh et, velit sed sagittis. Ipsum libero. Viverra integer enim, sed dolor. Inceptos elit, vitae et. Eget eget nec, lectus nisl, vehicula est feugiat. cum condimentum mattis dui fusce ut, vel convallis suspendisse suspendisse sed in. Libero blandit curae at magna ut, id mauris suspendisse ligula neque integer non.</p>
      <br>
      <a class="continue" href="#">Continuar</a> </div>
    <!-- end post -->
    <!-- begin post -->
    
   
    
    
    <br>
    <br>
    <br>
    
   


</div>




