
.thumb {
	width: 150px; /* Ancho de la imagen */
	margin-right: 20px; /* Margen entre la imagen y el texto */
  }
a {
	color:#264D5E;
	text-decoration: none;
}
a:hover {
	color: #000000;
}
img {
	border: 0;
}

.break {
	font-size: 0;
	width: 0; height: 0;
	clear: both;
}
.alignleft {
	float: left;
	margin: 4px 10px 5px 0;
}
.alignright {
	float: right;
	margin: 4px 0 5px 10px;
}
.aligncenter {
	text-align: center;
}
.hidden {
	display: none;
}

/** BEGIN wrapper **/
#wrapper {
	width: 970px;
	 /* background: url(assets/logo.png) repeat-y 0 0;  */
	margin: auto auto;
	text-align: left;
	padding: 0 7px;
}
/** END wrapper **/


	#header ul {
		float: left;
		list-style-type: none;
		padding: 10px 0;
		margin-left: -5px;
	}
		#header ul li {
			float: left;
			text-transform: uppercase;
			font-size: 0.9em;
			padding: 0 15px;
			border-left: 1px solid #252525;
		}
			#header ul li.f {
				border: 0;
			}
	#header .links {
		float: right;
		font-size: 0.9em;
		color: #252525;
		padding: 10px;
	}
		#header .links a {
			margin-left: 14px;
		}
	#header .logo {
		padding: 18px 18px 40px;
		float: left;
	}
		#header .logo h1 {
			font-family: "Lucida Sans";
			font-size: 2.5em;
			text-transform: uppercase;
		}
		#header .logo h1 a {
			color: #252525;
		}
		#header .logo p {
			color: #264D5E;
			font-weight: bold;
			padding-left: 10px;
		}
	#header .ad468x60 {
		float: right;
		padding: 16px 10px;
	}
	#header ol {
		list-style-type: none;
		height: 35px;
		background-color: #252525;
	}
		#header ol li {
			float: left
		}
		#header ol li a {
			color: #ffffff;
			display: block;
			padding: 10px 12px 11px;
		}
		#header ol li a:hover {
			background-color: #264D5E;
		}
	#header {
		
	}
/** END header **/

/** BEGIN content **/
#content {
	width: 666px;
	float: left;
}
	#content .post {
		width: 259px; height: 420px;
		float: left;
		padding: 20px 15px 0 35px;
	}
		#content .post h2 {
			font-family: Georgia;
			font-size: 1.5em;
			margin-bottom: 15px;
		}
			#content .post h2 a {
				color: #252525;
			}
		#content .post .date {
			font-size: 0.9em;
			font-family: Georgia;
			color: #808080;
			margin-bottom: 15px;
		}
		#content .post .continue {
			color: #ffffff;
			background-color: #264D5E;
			padding: 5px 10px;
			display: block;
			float: left;
			font-family: Georgia;
			font-weight: bold;
			margin-bottom: 25px;
		}
		#content .post p {
			margin-bottom: 10px;
			line-height: 1.4em;
		}
		#content .post .thumb {
			height: 92px;
			overflow: hidden;
			padding: 5px;
			background-color: #EEEEEE;
			border: 1px solid #E8E8E8;
			margin-bottom: 10px;
		}
			#content .post .thumb div {
				height: 92px;
				overflow: hidden;
			}
			#content .post .thumb img {
				width: 247px;
			}
	#content .postnav {
		clear: both;
		padding: 20px 34px 40px;
	}
		#content .postnav ul {
			list-style-type: none;
			border: 0;
		}
			#content .postnav ul li {
				float: left;
				padding: 2px;
				padding: 2px;
			}
			#content .postnav ul li a {
				display: block;
				text-align: center;
				text-decoration: none;
				border: 0;
				padding: 5px 8px;
				background-color: #9F9F9F;
				color: #ffffff;
				font-family: Georgia;
				font-weight: bold;
			}
			#content .postnav ul li a:hover {
				background-color:#264D5E;
				border: 0 !important;
			}
			#content .postnav ul li.next a {
				width: auto;
				padding: 2px 4px;
			}
			#content .postnav .page_info {
				text-align: center;
				text-decoration: none;
				border: 0;
				padding: 5px 8px;
				background-color: #9F9F9F;
				color: #ffffff;
				font-family: Georgia;
				font-weight: bold;
				margin: 2px;
			}
/** END content **/

