// @media only screen and (max-width: 600px) {
//     /* Adjust styles for small screens */
//     div {
//       flex-direction: column;
//       align-items: stretch;
//     }

//     mat-form-field {
//       margin-bottom: 10px;
//     }

//     input {
//       width: 100%;
//     }
//   }
  
@media only screen and (max-width: 600px) {
    /* Adjust styles for small screens */
    mat-form-field {
      flex: 1 1 100%;
      margin: 5px;
    }
  }

  @media only screen and (max-width: 600px) {
    /* Adjust styles for small screens */
    .d-flex {
      flex-direction: column;
    }

    mat-form-field {
      width: 100%;
    }
  }