<app-menu></app-menu>

<mat-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup" >
      <ng-template matStepLabel>General</ng-template>
      <br>
            <hr class="custom-hr">
            <br>  
            <h2 class="text-center">¿Qué vas a realizar?</h2>
            <br>
            <h3 class="text-center">Tipo de operación</h3>
            <div style="display: flex; justify-content: center; align-items: center;">
              <mat-radio-group aria-label="Select an option">
                <mat-radio-button style="margin-right: 10px;" value="1">Rentar</mat-radio-button>
                <mat-radio-button style="margin-right: 10px;" value="2">Vender</mat-radio-button>
              </mat-radio-group>
            </div>
            <br>
            <br>
                      <div class="center-content" >
              <mat-form-field >
                <mat-label>Tipo de inmueble</mat-label>

                  <mat-select formControlName="pId_Tipo_Inmueble">
                    <mat-option *ngFor="let inmo of inmuebles" value="{{ inmo.Id_Tipo_Inmueble}}">{{ inmo.Tipo_Inmueble
                    }}
                  </mat-option>
                     </mat-select>
                       </mat-form-field>
            </div>
              <br>
            <br>
      <div class="center-content">
        <button (click)="guardar()" mat-button matStepperNext>Continuar</button>
      </div>
    </form>
  </mat-step>


  <!-- ----------------------------------------------------------------------------------------- -->
  
  <!-- --------------------------------------------------------------------------------------------- -->
  <mat-step [stepControl]="secondFormGroup" label="Especificaciones">
    <form [formGroup]="secondFormGroup" >
      <br>
      <hr class="custom-hr">
      <br>

  
      <h2 class="text-center">Donde esta tu inmueble</h2>
      <div style="display: flex; justify-content: center; align-items: center;">
          

 
     
          <mat-form-field style="margin-right: 10px;">
       <mat-label>Estado</mat-label>
         <mat-select formControlName="pId_estado" >
          <mat-option (click)="updateM()" *ngFor="let Est of estados" value="{{ Est.id_Estado}}">{{ Est.Estado
          }}
        </mat-option>
            </mat-select>
              </mat-form-field>
             
              <mat-form-field style="margin-right: 10px;"> 
                  <mat-label>Municipio</mat-label>
                    <mat-select formControlName="pId_municipio">
                      <mat-option (click)="updateA()" *ngFor="let Mun of municipios" value="{{ Mun.id_Municipio}}">{{ Mun.Municipio
                      }}
                    </mat-option>
                       </mat-select>
                         </mat-form-field>
        </div>

        <!-- ------------------------------------------------------ -->
        <div style="display: flex; justify-content: center; align-items: center;">
          <mat-form-field style="margin-right: 10px;"> 
              <mat-label>Asentamiento</mat-label>
                <mat-select formControlName="pId_asentamiento">
                  <mat-option *ngFor="let Ase of asentamientos" value="{{ Ase.id_asentamiento}}">{{ Ase.Asentamiento
                  }}
                </mat-option>
                   </mat-select>
                     </mat-form-field>
                     <mat-form-field class="example-full-width">
                      <mat-label>Calle</mat-label>
                      <input formControlName="p_calle" matInput placeholder="Calle y Numero " >
                    </mat-form-field>             
        </div>
        <div class="center-iframe">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15083.665983785282!2d-98.1447812!3d19.067408699999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2smx!4v1695089368802!5m2!1ses-419!2smx" width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
           </div>
        
      <div class="d-flex justify-content-center align-items-center">

        <button mat-button matStepperPrevious>Atras</button>
        <button mat-button matStepperNext>Continuar</button>
      </div>
    </form>
  </mat-step>
  <!-- ---------------------------------------------------------------- -->
  <mat-step  [stepControl]="tercerFormGroup" label="Caracteristicas">
    <br>
    <hr class="custom-hr">
    <br>
    <h2 class="text-center">Datos Generales</h2>
    <br>
      <form  class="form-horizontal" style="margin:0 auto" [formGroup]="tercerFormGroup">

          <div style="display: flex; justify-content: center; align-items: center;" >
              <mat-form-field style="margin-right: 10px;"> 
                  <mat-label>Nombre del Inmueble</mat-label>
                  <input formControlName="p_nom_inmu" matInput placeholder="Nombre de inmueble" >
              </mat-form-field>    
          </div>
          <br>
          <!-- ----------------------------------------------------------------- -->
         <!-- Textarea with class .w-25 -->
         <div class="d-flex justify-content-center">
          <div class="form-outline w-25 mb-4 mx-auto">
          <label  class="form-label" for="textAreaExample4">
            <h4 class="text-center">Describe tu inmueble</h4>
          </label>
            <textarea formControlName="p_desc" class="form-control" id="textAreaExample4" rows="3"></textarea>
          
          </div>
        </div>
        <br>
        <!-- ------------------------------------------------------------------- -->
        <div style="display: flex; justify-content: center; align-items: center;">
         <mat-form-field style="margin-right: 10px;">
          <mat-label> Numero Interior </mat-label>
          <input formControlName="p_num_int" matInput placeholder="Numero  Interior " >
           </mat-form-field>

           <mat-form-field style="margin-right: 10px;">
              <mat-label>Numero Exterior </mat-label>
              <input formControlName="p_num_ext" matInput placeholder=" Numeross Exterior  " >
               </mat-form-field>
            </div>
            <br>
         <!-- ---------------------------------------------------------- -->
         <div style="display: flex; justify-content: center; align-items: center;">
      
          <mat-form-field style="margin-right: 10px;">
              <mat-label> Terreno metros  </mat-label>
              <input formControlName="p_terreno" matInput placeholder="Terreno " >
               </mat-form-field>
  
               <mat-form-field style="margin-right: 10px;">
                  <mat-label> Construccion  </mat-label>
                  <input formControlName="p_constru" matInput placeholder=" Construccion " >
                   </mat-form-field>
      </div>

  <!-- ------------------------------------------------------------------ -->
 <br>
  <div style="display: flex; justify-content: center; align-items: center;">
      <mat-form-field style="margin-right: 10px;">
          <mat-label> Numero de Recamaras   </mat-label>
          <input formControlName="p_num_recamaras" matInput placeholder=" Numero de Recamaras  " >
           </mat-form-field>

                 <mat-form-field style="margin-right: 10px;">
                  <mat-label> Numero de baños  </mat-label>
                  <input formControlName="p_banos" matInput placeholder=" Numero de baños  " >
                   </mat-form-field>

                 

                         <mat-form-field style="margin-right: 10px;">
                          <mat-label> Numero de Pisos  </mat-label>
                          <input formControlName="p_pisos" matInput placeholder=" Numero de Pisos  " >
                           </mat-form-field>
  
                         
  </div>
  <br>
  <div style="display: flex; justify-content: center; align-items: center;">
    <div class="example-container">
      <mat-form-field style="margin-right: 15px;">
        <input matInput [formControl]="numberFormControl" placeholder="Años de Antiguedad">
        <mat-error *ngIf="numberFormControl.hasError('required')">El campo es requerido</mat-error>
        <mat-error *ngIf="numberFormControl.hasError('pattern')">Ingrese un número válido</mat-error>
      </mat-form-field>
    </div>


    <mat-form-field style="margin-right: 10px;">
      <mat-label>Acabados   </mat-label>
      <input matInput placeholder=" Numero de Recamaras  " >
       </mat-form-field>
 </div>
 <br>
 <br>
<hr>
<br>
<br>

  <!-- ----------------------------------------------------------------------- -->
  <div class="text-center">
  <span class="title">Datos Adicionales</span>
 </div>
 <br>
  
  <div style="display: flex; justify-content: center; align-items: center;">

    <label>
      <input formControlName="p_gym" class="radio-input" type="checkbox">
          <span class="radio-tile">
              <span class="radio-icon">
                  <img src="assets/img/gimna.png"  alt="...">
              </span>
              <span class="radio-label">Gimnasio</span>
          </span>
  </label>
  &nbsp;
  &nbsp;
  &nbsp;

  <label>
    <input formControlName="p_esta" class="radio-input" type="checkbox">
        <span class="radio-tile">
            <span class="radio-icon">
                <img src="assets/img/coche.png"  alt="...">
            </span>
            <span class="radio-label">Estacionamiento</span>
        </span>
</label>
&nbsp;
&nbsp;
&nbsp;

<label>
  <input formControlName="p_jardin" class="radio-input" type="checkbox">
      <span class="radio-tile">
          <span class="radio-icon">
              <img src="assets/img/terraza.png"  alt="...">
          </span>
          <span class="radio-label">Jardin</span>
      </span>
</label>
&nbsp;
&nbsp;
&nbsp;

<label>
  <input formControlName="p_cocina" class="radio-input" type="checkbox">
      <span class="radio-tile">
          <span class="radio-icon">
              <img src="assets/img/cocina.png"  alt="...">
          </span>
          <span class="radio-label">Cocina Integral</span>
      </span>
</label>
&nbsp;
&nbsp;
&nbsp;
<label>
  <input formControlName="p_alberca" class="radio-input" type="checkbox">
      <span class="radio-tile">
          <span class="radio-icon">
              <img src="assets/img/nadando.png"  alt="...">
          </span>
          <span class="radio-label">Alberca</span>
      </span>
</label>
&nbsp;
&nbsp;
&nbsp;
<label >
  <input formControlName="p_roof" class="radio-input" type="checkbox" checked>
      <span class="radio-tile">
          <span class="radio-icon">
              <img src="assets/img/techo.png"  alt="...">
          </span>
          <span class="radio-label">Roof Garden</span>
      </span>
</label> 
</div>
<br>
<br>
<br>
          <div class="d-flex justify-content-center align-items-center">
              <button  mat-button matStepperPrevious>Atras</button>
              <button (click)="xd()" mat-button matStepperNext>Continuar</button>
            </div>
      
      </form>
  </mat-step>
   <!-- ------------------------------------------------------------------------------------- -->
  <mat-step  [stepControl]="secondFormGroup" label="Costos">
    <br>
      <hr class="custom-hr">
      <br>
      <h2 class="text-center">Costos</h2>
      <br>
      <br>
      <form  class="form-horizontal" style="margin:0 auto" [formGroup]="firstFormGroup">
      
        <div style="display: flex; justify-content: center; align-items: center;">

        <div class="example-container">
          <mat-form-field style="margin-right: 15px;">
            <input matInput [formControl]="numberFormControl" placeholder="Ingrese Precio minimo">
            <mat-error *ngIf="numberFormControl.hasError('required')">El campo es requerido</mat-error>
            <mat-error *ngIf="numberFormControl.hasError('pattern')">Ingrese un número válido</mat-error>
          </mat-form-field>
        </div>
        <div class="example-container">
          <mat-form-field style="margin-right: 15px;">
            <input matInput [formControl]="numberFormControl" placeholder="Ingrese Precio maximo">
            <mat-error *ngIf="numberFormControl.hasError('required')">El campo es requerido</mat-error>
            <mat-error *ngIf="numberFormControl.hasError('pattern')">Ingrese un número válido</mat-error>
          </mat-form-field>
        </div>
         </div>
         <br>
         <br>
         <br>
         <br>
         <div style="display: flex; justify-content: center; align-items: center;">
          <div class="example-container">
            <mat-form-field >
              <input matInput [formControl]="numberFormControl" placeholder=" Precio Final">
              <mat-error *ngIf="numberFormControl.hasError('required')">El campo es requerido</mat-error>
              <mat-error *ngIf="numberFormControl.hasError('pattern')">Ingrese un número válido</mat-error>
            </mat-form-field>
          </div>








         </div>







        
        <br>
        <br>
        <br>
                   <div class="d-flex justify-content-center align-items-center">
                       <button mat-button matStepperPrevious>Atras</button>
                       <button mat-button matStepperNext>Continuar</button>
                     </div>
      
      
      
      
      
      
      </form>
  </mat-step>


  <!-- ----------------------------------------------------------------- -->
  <mat-step>
    <ng-template matStepLabel>Publicar</ng-template>
    <br>
      <hr class="custom-hr">
      <br>

    <h1 class="text-center">Muestranos tu inmueble</h1>

    <br>
    <div class="d-flex justify-content-center align-items-center">
    <form class="form-horizontal" [formGroup]="imageForm">
      <input  class="form-control" accept="image/*"  type="file" name="images" (change)="onFileChange($event)" multiple>
      
    </form>
    </div>
  <br>
  <br>

    <div class="d-flex justify-content-center align-items-center">
      <button mat-button matStepperPrevious>Atras</button>
      <button mat-button (click)="subirInmueble()">Aceptar</button>
    </div>
  </mat-step>
</mat-stepper>
      
    
<app-footer></app-footer>