<app-menu></app-menu>

<br>
<br>
<br>
<br>
<br>
<div class="contenedorgeneral">
    <mat-tab-group fitInkBarToContent>
        <!-- PAG ONE -->
        <mat-tab label="Venta">
            <div class="contenedorvisita">

                <h1>VENDER MI INMUEBLE</h1>
                <p>El primer paso a seguir para el proceso de venta, es el siguiente:</p>
                <h4> Elije tu inmobiliaria y Valuacion de tu hogar </h4>
                <ul>
                    <li>
                        <p> Encuentra a tu comprador apoyandote de una Inmobiiaria, para que te brinde conocimiento del proceso con personal capacitado, que agiliza la venta y te brinda mas seguridad y confianza. 
                        </p>
                    </li>
                    <li>
                        <p> Para poder definir un precio y condiciones de pago, puedes solicitar el avalúo de tu propiedad. <br>
                            Puede ayudarte a evitar conflictos con un posible comprador, ya que asegura que la vivienda no se ofrezca por encima del valor del mercado.<br> También ayuda a prevenir pérdidas, porque previene que el precio de la vivienda se determine por debajo de su valor comercial. <br>
                            Este proceso consiste en realizar una inspección al inmueble para observar la calidad de los materiales de construcción, la ubicación, la edad y el estado de conservación y obsolescencia del inmueble.
                        </p>
                    </li>
                </ul>

                <h4> Visitas </h4>
                <ul>
                    <li>
                        <p> Se gestinan visitas al inmueble y se agendan las solicitudes recibidas para verificar las ofertas de compra y funcionan a modo de reserva, las cuales el vendedor puede aceptar o rechazar a voluntad. Para poder apartar un inmueble, se debe entregar un enganche; que es una parte de suma total del valor de venta de la propiedad, acordada por el vendedor. 
                        </p>
                    </li>
                </ul>
                <div class="contenedorimagen">
                    <img src="assets/img/compra-venta.png">
                </div>
            </div>
        </mat-tab>

        <!-- PAG TWO -->
        <mat-tab label="Firma Venta">
            <div class="contenedorvisita">
                <h1> CONTRATO PROMESA DE COMPRA-VENTA </h1>
                <p>Documento de seguridad bilateral, que compromete al vendedor y al comprador a realizar la
                    transacción, previo a la firma de las escrituras ante un notario público.<br>
                    Se firma el contrato privado y se hace entrega de una cantidad de dinero como parte del pago del
                    precio total, normalmente corresponde al X% del precio final. Si el comprador anula el contrato,
                    perdería la cantidad entregada.
                    En el documento queda establecido el precio, la fecha o plazo de la escrituración, la designación
                    del notario, la identificación del inmueble, los datos personales, precio total de la propiedad,
                    cantidad adelantada, cláusulas y firmas.<br>
                    Ten en cuenta que el proceso de escrituración ante el Registro Público de la Propiedad y el Comercio
                    puede tardar tres semanas aproximadamente, desde que se entreguen los documentos al notario hasta la
                    firma de la escritura del inmueble.<br><br>
                    Escrituración: Acto formal que establece la compra y venta de la propiedad donde la operación queda
                    efectuada legalmente. Como comprador puedes elegir qué notario público quieres que lleve adelante la
                    operación y es uno de los gastos que debes contemplar.
                    Antes de la escrituración, el notario se encarga de hacer un estudio y revisión previa de títulos,
                    aspectos jurídicos e impositivos para posteriormente inscribir al inmueble en el Registro Público de
                    la Propiedad y el Comercio (RPPC) de la localidad que corresponda.
                </p>
               
                    <h4> La documentación que necesitarás para poder escriturar es: </h4>
                    <ul>
                        <li>
                            <p>Título de la propiedad original inscrito en el RPPC.</p>
                        </li>
                        <li>
                            <p>Contrato privado de compra-venta, en caso de haberse firmado.</p>
                        </li>
                        <li>
                            <p>Avalúo vigente.</p>
                        </li>
                        <li>
                            <p>Documentos personales de las partes involucradas (acta de nacimiento, identificación oficial
                                y, en caso de estar casado, acta de matrimonio y la identificación oficial del cónyuge).</p>
                        </li>
                        <li>
                            <p>Carta de autorización de crédito, la cual te debe ser entregada por la institución financiera
                                a la que lo hayas solicitado
                                En la adquisición de un departamento o casa en condominio se necesita además la copia del
                                régimen de propiedad en condominio, así como una constancia de no adeudos emitidos por el
                                administrador del condominio.</p>
                        </li>
                    </ul>
                </div>
                
                <div class="contenedorimagen">
                    <img src="assets/img/contrato.png">
                </div>
            
        </mat-tab>

        <!-- PAG THREE -->
            <mat-tab label="Notario">
                <div class="contenedorvisita">
                    <h1> FUNCIONES DEL NOTARIO </h1>
                    <p> El notario ejerce el Derecho para otorgar seguridad jurídica en diferentes actos en los cuales da
                        fe; cuya relevancia de los hechos tiene la facultad concedida por las leyes del Estado para brindar
                        la certeza legal con toda imparcialidad.</p>
                    <h4>Asesoramiento Legal</h4>
                    <ul>
                        <li>
                            <p>El notario brinda asesoría imparcial de acuerdo a las disposiciones del Estado de Derecho
                                para explicar los derechos y obligaciones del comprador y vendedor, resolviendo cualquier
                                duda legal que se pueda presentar.</p>
                        </li>
                    </ul>
                    <h4>Verificación de los títulos de la propiedad</h4>
                    <ul>
                        <li>
                            <p> Comprobación de la documentación del vendedor como dueño legítimo, así mismo revisa el
                                estatus del inmueble, por ejemplo si cuenta con gravámenes u otras limitaciones para la
                                realización de la compraventa.</p>
                        </li>
                    </ul>
                    <h4> Elaboracion de Contrato </h4>
                    <ul>
                        <li>
                            <p>El notario redacta el contrato con todos los requisitos legales que marca la Ley,
                                asegurándose de que se cumplan todos los acuerdos en los plazos establecidos, previamente
                                pactados.</p>
                        </li>
                    </ul>
                    <h4> Elaboracion de Contrato </h4>
                    <ul>
                        <li>
                            <p>El notario redacta el contrato con todos los requisitos legales que marca la Ley,
                                asegurándose de que se cumplan todos los acuerdos en los plazos establecidos, previamente
                                pactados.</p>
                        </li>
                    </ul>
                    <p> Otra de las funciones de un notario es la recopilación de los documentos para la compraventa; como
                        títulos de propiedad, certificados de deuda, planos; además de verificar la validez y autenticidad
                        de toda la documentación.</p>
                    <h4> Realización de la firma de la escritura pública</h4>
                    <ul>
                        <li>
                            <p>El notario se encarga de realizar la escritura pública de la compraventa; cuyo documento
                                tiene un carácter público y brinda seguridad jurídica a la operación inmobiliaria.</p>
                        </li>
                    </ul>
                    <h4> Impuestos y gastos</h4>
                    <ul>
                        <li>
                            <p>Una de las funciones más importantes del notario es calcular y liquidar todos los impuestos
                                relacionados con la compraventa. <br>
                                Muy importante la inscripción en el Registro de la Propiedad, el notario se encarga de
                                inscribir la compraventa en el registro de la propiedad; lo cual garantiza el informe
                                público del hecho para eliminar la oponibilidad frente a terceros.</p>
                        </li>
                    </ul>
                    <div class="contenedorimagen">
                        <img src="assets/img/contactoagente.png">
                        <br>
                        <br>
                        <br>
                       
                    </div>
                </div>
            </mat-tab>
    
    </mat-tab-group>
</div>
<app-footer></app-footer>