<mat-dialog-content class="mat-typography">

<div class="contenedorgeneral">
  <p>Solo aceptamos 5 imagenes, las 5 son obligatorias</p>
    <form  [formGroup]="options">
        <div class="container-fluit">
            <div class="row">
     
               
            
                  
                   

                  
                  <div class="ordenainput col-md-12">
                    <br>
                    <div class="grid w-full max-w-xs items-center gap-1, d-flex justify-content-center align-items-center">
       
                        <input   formControlName="img" class="form-control" accept="image/*" type="file" name="images" (change)="onFileChange($event)" multiple>
                     
                    </div>
                  </div>

            </div>
        </div>


    </form>

    &nbsp; &nbsp; 
  <div class="d-flex justify-content-center align-items-center">
    <button (click)="Actualizar()"   type="button" class="btn" style="background-color: #264D5E ; color: #ffffff;" > Aceptar</button>
    &nbsp; &nbsp; &nbsp; 
    <button   (click)="CerraDialogo()" type="button" class="btn" style="background-color: #264D5E ; color: #ffffff;" > Cancelar</button>
  </div>
  
  
    
  

<!-- <button (click)="Actualizar()">xd</button> -->
</div>
</mat-dialog-content>