.contenedor {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
  }
  
  .imagen-centrada {
    width: 100px;
    height: 100px;
  }
  
  .title {
    max-width: 100%;
    margin-top: 10px;
  }
  