<div class="contenedor">
  <div id="head">
    <h4>Oferta Recibida</h4>
    <h4>Prospecto: C.Luis Chavarria</h4>
    <h4>29/June/2018</h4>
  </div>
  <div id="body">
    <h3 class="desc">Precio ofrecido:</h3>
    <p class="parrafos">$50,000</p>
    <br />
    <h3 class="desc">Enganche:</h3>
    <p class="parrafos">$50,000</p>
    <br />
    <h3 class="desc">Saldo</h3>
    <p class="parrafos">$0</p>
    <br />
    <h3 class="desc">Condiciones</h3>
    <p class="parrafos">Ok test Movil</p>
    <br />
    <h3 class="desc">Notas del Agente</h3>
    <p class="parrafos">Ok test 1</p>
    <br />
  </div>
</div>
