
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <div class="m-3"></div>
      <a class="navbar-brand" href="#"><img src="../assets/img/logo.png" width="90px" height="70px"></a> <div class="m-3"></div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" >
        <ul class="navbar-nav mx-5 mb-2 mb-lg-0">
          <!--Menu Compra-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mx-2"  href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Compra
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Guia para Comprar</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Compra de Inmuebles</a></li>
            </ul>
          </li>
          <!--Menu Renta-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mx-2"  href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Renta
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#"></a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#"></a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#"></a></li>
            </ul>
          </li>
          <!--Menu Venta-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mx-2"  href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Venta
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#"></a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#"></a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#"></a></li>
            </ul>
          </li>
          <!--Menu Servicios-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mx-2"  href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Servicios
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#"></a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#"></a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#"></a></li>
            </ul>
          </li>
          <!--Menu Inmobiliarias-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mx-2"  href="#" role="button" data-bs-toggle="dropdown"  aria-expanded="false">
              Inmobiliarias
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#"></a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#"></a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#"></a></li>
            </ul>
          </li>
          <!--Menu Forma Parte de Nosotros-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mx-2"  href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Forma Parte de Nosotros
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Desarrolladoras</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Inmobiliarias</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Constructoras</a></li>
            </ul>
          </li>
          <!--Menu Contactanos-->
          <li class="nav-item">
            <a class="nav-link"  href="#" role="button" aria-expanded="false">
              Contactanos
            </a>
          </li>
        </ul>
       
      </div>
      <form class="d-flex" role="search">
        <button class="btn btn-outline-inmo me-2" type="submit"  (click)="Login()" >
          <i class="bi bi-person-circle m-1 size-icon"></i> Registrate/Login
      </button>
      </form>
    </div>
  </nav>
  
  <div class="line-separator"></div>
    
  