<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top font-Roboto-Condensed">
  <div class="container">     
    <a class="navbar-brand" (click)="home()">
      <img class="brand-logo" src="assets/img/logo.png" alt="InmobeWise Logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" role="button" aria-expanded="false" (click)="home()">Inicio</a>
        </li>
        <!--Menu Compra-->

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside">Compra</a>
          <ul class="dropdown-menu shadow">
            <li class="dropend">
              <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside">Tipo de
                Inmueble</a>
              <ul class="dropdown-menu shadow">
                <li><a class="dropdown-item" (click)="BusqCompra('1')">Casa</a></li>
                <li><a class="dropdown-item" (click)="BusqCompra('2')">Departamento</a></li>
                <li><a class="dropdown-item" (click)="BusqCompra('3')">Casa en Condominio</a></li>
                <li><a class="dropdown-item" (click)="BusqCompra('4')">Oficina</a></li>
                <li><a class="dropdown-item" (click)="BusqCompra('5')">Local Comercial</a></li>
                <li><a class="dropdown-item" (click)="BusqCompra('6')">Bodega Comercial</a></li>
                <li><a class="dropdown-item" (click)="BusqCompra('7')">Terreno / Lote</a></li>
                <li><a class="dropdown-item" (click)="BusqCompra('8')">Nave Industrial</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <!--End Menu Compra-->
        <!-- Menu Renta -->

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside">Renta</a>
          <ul class="dropdown-menu shadow">
            <li class="dropend">
              <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside">Tipo de
                Inmueble</a>
              <ul class="dropdown-menu shadow">
                <li><a class="dropdown-item" (click)="BusqRenta('1')">Casa</a></li>
                <li><a class="dropdown-item" (click)="BusqRenta('2')">Departamento</a></li>
                <li><a class="dropdown-item" (click)="BusqRenta('3')">Casa en Condominio</a></li>
                <li><a class="dropdown-item" (click)="BusqRenta('4')">Oficina</a></li>
                <li><a class="dropdown-item" (click)="BusqRenta('5')">Local Comercial</a></li>
                <li><a class="dropdown-item" (click)="BusqRenta('6')">Bodega Comercial</a></li>
                <li><a class="dropdown-item" (click)="BusqRenta('7')">Terreno / Lote</a></li>
                <li><a class="dropdown-item" (click)="BusqRenta('8')">Nave Industrial</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <!-- End Menu Renta -->

        <!-- Menu Servicios -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside">Servicios</a>
          <ul class="dropdown-menu shadow">
            <li class="dropend">
              <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown"
                data-bs-auto-close="outside">Arrendamiento seguro</a>
              <ul class="dropdown-menu shadow">
                <li><a (click)="Guiarentar()" class="dropdown-item">¿Qué se requiere para alquilar?</a></li>
              </ul>
            </li>
            <li class="dropend">
              <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside">Te explica
                InmobeWise</a>
              <ul class="dropdown-menu shadow">
                <li><a (click)="Quierescomprar()" class="dropdown-item">¿Quieres comprar?</a></li>
                <li><a (click)="Quieresvender()" class="dropdown-item">¿Quieres vender?</a></li>
              </ul>
            </li>
            <li class="dropend">
              <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside">Toma en
                cuenta</a>
              <ul class="dropdown-menu shadow">
                <li><a (click)="RemateHipotecario()" class="dropdown-item">Remates Hipotecarios</a></li>
                <li><a (click)="EvitaFraude()" class="dropdown-item">Evita Fraude</a></li>
              </ul>
            </li>
            <!-- <li> <a class="dropdown-item" > Novedades  </a>
                <ul class="dropdown-menu dropdown-submenu">
                  <li><a (click)="novedadesactulidad()" class="dropdown-item"> Actualida</a></li>
                </ul>
              </li> -->
          </ul>
        </li>
        <!-- End Servicios -->
        <!--Menu Inmobiliarias-->
        <li class="nav-item">
          <a (click)="inmobiliarias()" class="nav-link" role="button" aria-expanded="false">Inmobiliarias</a>
        </li>
        <!--End Menu Inmobiliarias-->
        <!--Menu Forma Parte de Nosotros-->
        <li class="nav-item">
          <a (click)="blog()" class="nav-link" role="button" aria-expanded="false">Blog</a>
        </li>
        <!-- End Menu Forma Parte de Nosotros-->
        <!--Menu Contactanos-->
        <li class="nav-item">
          <a (click)="contactos()" class="nav-link" role="button" aria-expanded="false">Contáctanos</a>
        </li>
        <!-- End Menu Contactanos-->
      </ul>
      <form class="d-flex">

        <button class="btn btn-outline-inmo me-2" type="button" (click)="abrirEnNuevaPestana()">
           Cotiza tu hipoteca
        </button>

        <button class="btn btn-outline-inmo me-2" type="button" (click)="abrir()">
          <i class="bi bi-house-up-fill m-1 size-icon"></i> Sube tu Propiedad
        </button>

        <button *ngIf="!isLoggedIn" class="btn btn-outline-inmo" (click)="Login()" type="submit">
          <i class="bi bi-person-circle m-1 size-icon"></i> Acceder
        </button>

        <div *ngIf="isLoggedIn" class="dropdown">
          <button class="btn btn-secondary btn-block h-100 dropdown-toggle" data-bs-toggle="dropdown" type="button"
            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="bi bi-person-circle m-1 size-icon"></i> Perfil
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" (click)="Editar()">Editar Perfil</a></li>
            <li><a class="dropdown-item" (click)="Panel()">Panel de Control</a></li>
            <li><a class="dropdown-item" (click)="Espacio()">Mi espacio</a></li>
            <li><a class="dropdown-item" (click)="cerrar()">Cerrar Sesion</a></li>
          </ul>
        </div>

        <!-- Modal -->
        <div class="modal" tabindex="-1" role="dialog" #ventanaEmergente>
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title custom-text" id="myModalLabel">¿Qué tipo de perfil encaja contigo?</h4>
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar" (click)="cerrarVentanaEmergente()">
          <span aria-hidden="true">&times;</span>
        </button> -->
              </div>
              <div class="modal-body">
                <div class="row">
                  <li class="list-inline-item">Elige la opción que refleje tus preferencias.</li>
                  <br />
                  <br />
                  <br />
                  <br />
                  <div class="col-md-4 text-center">
                    <!-- Centrar contenido horizontalmente -->
                    <button (click)="directo()" class="btn btn-light mt-3 mx-2">
                      <img src="assets/img/propietario.png" alt="Imagen 1" class="img-fluid" />
                      Dueño Directo
                    </button>
                  </div>
                  <div class="col-md-4 text-center">
                    <!-- Centrar contenido horizontalmente -->
                    <button (click)="corredor()" class="btn btn-light mt-3 mx-2">
                      <img src="assets/img/agente.png" alt="Imagen 1" class="img-fluid" />
                      Inmobiliaria Corredor
                    </button>
                  </div>
                  <div class="col-md-4 text-center">
                    <!-- Centrar contenido horizontalmente -->
                    <button (click)="desarrolo()" class="btn btn-light mt-3 mx-2">
                      <img src="assets/img/cons.png" alt="Imagen 1" class="img-fluid" />
                      Constructora Desarrolladora
                    </button>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cerrarVentanaEmergente()">
                  Cerrar
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- End Modal -->

      </form>
      
    </div>
  </div>
  <!-- <div class="separator"></div> -->
</nav>


