h1 {
    color: #264D5E; /* Cambia el color del texto a azul */
    font-family: 'Arial', sans-serif; /* Cambia la fuente del texto */
    text-align: center; /* Centra el texto */
    /* Agrega más estilos según tus preferencias */
}

/* Estilo personalizado para el Dialog */
// .custom-dialog-class {
//     max-width: 90vw;
//     max-height: 90vh;
//   }
  
/* Estilos para pantallas más pequeñas, como dispositivos móviles */
// @media (max-width: 600px) {
    // .mat-dialog-container {
    //   max-width: 90vw; /* Ancho máximo del Dialog en porcentaje de la ventana */
    //   margin: 10px; /* Márgenes más pequeños */
//     }
//   }
  