h1 {
    color: #264D5E; /* Cambia el color del texto a azul */
    font-family: 'Arial', sans-serif; /* Cambia la fuente del texto */
    text-align: center; /* Centra el texto */
    /* Agrega más estilos según tus preferencias */
}
