 <app-menu></app-menu>
<div class="container">
    <nav class="navbar navbar-light navbar-custom">
        <div class="container-fluid">
         
        </div>
    </nav>
    <br>
    <br>
   <br>
    <br>
    <br>
    <br>
   <br>
    <br>
    <!-- <h1>Elige tu plan Ideal</h1> -->
    <br>
    <br>
 <br>
 <br>

 <div class="card-container">
  <!-- <div class="card">
    <div class="content">
      <div class="title">Plan Básico</div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; 
      <div class="price">$999/mes</div>
      <div class="description">
        <p>Características:</p>
        <ul>
          <li>5 Anuncios destacados</li>
          <li>Plan con renovación manual</li>
          <li>Volumen de visitas: moderado</li>
        </ul>
      </div>
    </div>
    <button class="but" (click)="openDialog(1)">
      Comprar
    </button>
  </div> -->

  <!-- Repite dos veces más para un total de tres tarjetas -->

  <!-- <div class="card">
    <div class="content">
      <div class="title">Plan</div>
      <div class="title">INTERMEDIO</div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; 
      <div class="price">$1499/mes</div>
      <div class="description">
        <p>Características:</p>
        <ul>
          <li>10 anuncios destacados</li>
          <li>Plan de renovación automática</li>
          <li>Volumen de visitas: Medio</li>
        </ul>
      </div>
    </div>
    <button class="but" (click)="openDialog(2)">
      Comprar
    </button>
  </div> -->

  <!-- <div class="card">
    <div class="content">
      <div class="title">Plan </div>
      <div class="title">Premium</div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; 
      <div class="price">$2999/mes</div>
      <div class="description">
        <p>Características:</p>
        <ul>
          <li>Anuncios destacados ilimitados</li>
          <li>Plan de renovación automática</li>
          <li>Volumen de visitas: Máximo</li>
          <li>Modelado 3D ecorrido </li>
        </ul>
      </div>
    </div>
    <button class="but" (click)="openDialog(3)">
      Comprar
    </button>
  </div> -->
</div>

    <!-- <div class="card-container">
        <div class="card">
          <div class="content">
         
            <br>
            <br>
            <div class="title">Plan Básico</div>
            <br>
            <br>
            <div class="price">$999/mes</div>
            <br>
            <div class="description">
                <p>Características:</p>
                <ul>
                    <li>5 Anuncios destacados</li>
                    <li>Plan con renovacion manual</li>
                    <li>Volumen de visitas: moderado</li>
                </ul>
            </div>
          </div>
          <button  (click)="openDialog(1)">   
            Comprar
          </button>
        </div>

        
        <div class="card">
          <div class="content">
            <br>
            <br>
            <div class="title">Plan Intermedio</div>
            <br>
            <br>
            <div class="price">$1499/mes</div>
            <br>
            <div class="description">
                <p>Características:</p>
        <ul>
            <li>10 anuncios destacados</li>
            <li>Plan de renovacion automatica</li>
            <li>Volumen de visitas: Medio</li>
        </ul>
            </div>
          </div>
          <button (click)="openDialog(2)">
            Comprar
          </button>
        </div>
      
        <div class="card">
          <div class="content">
            <br>
            <br>
            <div class="title">Plan Premiums</div>
            <br>
            <br>
            <div class="price">$2999/mes</div>
            <div class="description">
                <br>
               <p>Características:</p>
              <ul>
            <li>Anuncios destacados ilimitados</li>
            <li>Plan de renovacion automatica</li>
            <li>Volumen de visitas: Maximo</li>
        </ul>
             
            </div>
          </div>
          <button (click)="openDialog(3)">
            Comprar
          </button>
        </div> -->
      <!-- </div> -->
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="container mt-5">
        <div class="row">
            <div class="col-md-3">
                <img src="assets/img/calidad.png" alt="Imagen 1" class="img-fluid">
               
                 <h4>Eficiencia</h4>
                    <p>  Encontrarás la velocidad, excelencia y orientación que 
                    necesitas para publicar tus avisos.
                 </p>
            </div>
            <div class="col-md-3">
                <img src="assets/img/apreton.png" alt="Imagen 2" class="img-fluid">
                 <h4>Dedicación</h4>
                    <p>Te asistimos en perfeccionar tu anuncio para que quede completamente 
                    satisfactorio.</p>
            </div>
            <div class="col-md-3">
                <img src="assets/img/charla.png" alt="Imagen 3" class="img-fluid">
                <h4>Interacción</h4>
                    <p>  Puedes visualizar los mensajes de los interesados a través del portal o 
                    por correo electrónico.</p>
            </div>
            <div class="col-md-3">
                <img src="assets/img/conflicto.png" alt="Imagen 4" class="img-fluid">
                
                    <h4>Mayor Audiencia </h4>
                    <p>Te proporcionamos un perfil de búsqueda más detallado
                y preciso de tus interesados. </p>
            </div>
        </div>
    </div>
    
      




</div>

<br>
 <app-footer></app-footer>





