

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


<div class="divider"></div>

<!-- Aqui ya va el contenido de los respectivos inmuebles -->
<div class="detalles">
    <div class="d-flex align-items-center">
        <button mat-raised-button color="accent"><img class="backarrow">Regresar</button>
        <h2 class="mb-0 ml-3">Nombre del Inmueble</h2>
    </div>
    
    <div class="datos">
        <div class="row">
            <div class="col-md-6">
              <!-- Tu contenido dentro del div -->
                <div class="Imgmuestra">
                    <img src="assets/6.jpg">
                    <h2> (insertar carrusel con imagenes) </h2>


                <div class="caracteristicas">
                    
                    <button class="round-button"><img class="favorite"></button>
                    <button class="round-button"><img class="share"></button>
                    <button class="round-button"><img class="other"></button>

                    <mat-list>
                        <h3 mat-subheader> <img class="money">Venta MXN</h3>
                        <mat-list-item ><h3 mat-line>Aqui va la variable para mostrar el precio</h3></mat-list-item>
                        <h3 mat-subheader> <img class="money">Renta MXN</h3>
                        <mat-list-item ><h3 mat-line>Aqui va la variable para mostrar el precio</h3></mat-list-item>

                        <h3 mat-subheader> <img class="map"> Lugar</h3>
                        <mat-list-item >
                           <h3 mat-line>Aqui va la variable para mostrar el lugar</h3>
                           <h4 mat-line></h4>
                        </mat-list-item>
                        <mat-divider></mat-divider>

                        <h3 mat-subheader> <img class="checklist">Descripcion</h3>
                        <mat-list-item>
                            <h3 mat-line>Aqui va la variable para mostrar la descripcion</h3>
                            <h4 mat-line></h4>
                        </mat-list-item>
                   
                        <h3 mat-subheader>Características:</h3>

                            <table>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td><h3>Baños</h3></td>
                                    <td><h3>Recamaras</h3></td>
                                    <td><h3>Cochera</h3></td>
                                </tr>
                                <tr>
                                    <td><h3>m^2</h3></td>
                                    <td><h3>Jardin</h3></td>
                                    <td><h3>Pisos</h3></td>
                                </tr>
                                <tr>
                                    <td><h3>Bodega</h3></td>
                                    <td><h3>Cisterna</h3></td>
                                    <td><h3>Piscina</h3></td>
                                </tr>
                                            <!-- Puedes agregar más filas según sea necesario -->
                            </table>  
                            <h3 mat-subheader>Informacion Adicional</h3>
                            <div class="xd">
                                <mat-tab-group>
                                    <mat-tab label="Características"> 
                                        <h4>Salon social</h4>
                                        <h4>Fuente</h4>
                                        <h4>Sala de juegos</h4>
                                        <h4>Cocina</h4>
                                    
                                    
                                    </mat-tab>
                                    <mat-tab label="Servicios"> 
                                        <h4>Agua</h4>
                                        <h4>Luz</h4>
                                        <h4>Wi-fi</h4>
                                        <h4>Gas</h4>

                                    </mat-tab>
                                
                                 </mat-tab-group>
                             </div>
                             


                     </mat-list>
                     


                     


                     <!-- ******************************* -->
                     
                      

                    <!-- <ul>
                        <p> <img class="wc">2 Baño(s)</p>
                        <p> <img class="garage"> 1 Cochera(s)</p>
                        <p> <img class="room">3 Dormitorio(s)</p>
                        <p> <img class="m2"> 15m^2 x 8m^2</p>
                       
                    </ul> -->
                </div>
                </div>
            </div>
            <div class="6" id="caja">
                <form>
                    <!-- Tu formulario aquí -->
                    <h2>Contactar Agente</h2>
                    <h3>¿Te interesó nuestra propiedad? <br>contacta a uno de nuestros agentes</h3>
                        <div class="imagen-recortada">
                        <img src="assets/asesor.jpg" alt="Imagen Recortada">
                        </div>
                        <form>
                            <div class="form-group">
                                <label for="nombre">Nombre:</label>
                                <input type="text" id="nombre" name="nombre" required>
                            </div>
                            <div class="form-group">
                                <label for="telefono">Teléfono:</label>
                                <input type="number" id="telefono" name="telefono" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Correo Electrónico:</label>
                                <input type="email" id="email" name="email" required>
                            </div>
                            <div class="form-group">
                                <label for="comentarios">Comentarios:</label>
                                <textarea id="comentarios" name="comentarios">Hola, buenas tardes me interesa esta propiedad y quisiera ponerme en contacto con usted para poder agendar una fecha y hora para visitar dicha propiedad. </textarea>
                            </div>
                            <button mat-raised-button color="accent">Enviar <img class="plane"></button>
                            <div>
                            <button mat-raised-button color="green" class="whatsapp">Enviar un mensaje por WhatsApp <img class="plane"></button>
                            </div>
                        </form>
                </form>
            </div>
          </div>
    </div>
    
    <div class="divider"></div>

</div>

