.detalles h2{
    font-size: 30px;
    color: #264D5E;

 }

 .caracteristicas h3{
    font-size: 20px;
    color: #264D5E;

 }

 .caracteristicas p{
    font-size: 20px;
    color: #264D5E;

 }



.divider {
    height: 20px; /* Altura de la línea */
    background-color: #264D5E; /* Color de fondo de la línea (puedes cambiarlo) */
    margin: 0; /* Margen cero para evitar espacios innecesarios */
}
.detalles{
    width: 100%;
    height: 100%;

}

.d-flex{
    margin-top: 30px;
    margin-left: 30px;

}

/* aqui van los iconos traidos desde internet */

.backarrow{
    background: url('https://api.iconify.design/ion/arrow-undo.svg?color=%23264d5e') no-repeat center center / contain;
    content: url('https://api.iconify.design/ion/arrow-undo.svg?color=%23264d5e');
    background-size: cover; /* Tamaño de la imagen */
    background-position: center; /* Posición de la imagen */
    background-repeat: no-repeat; /* Evita la repetición */
    width: 25px;
    height: 25px;

}

.plane{
    background: url('https://api.iconify.design/fa/send.svg?color=%23264d5e') no-repeat center center / contain;
    content: url('https://api.iconify.design/fa/send.svg?color=%23264d5e');
    background-size: cover; /* Tamaño de la imagen */
    background-position: center; /* Posición de la imagen */
    background-repeat: no-repeat; /* Evita la repetición */
    width: 25px;
    height: 25px;
}

.map{
    background: url('https://api.iconify.design/carbon/map.svg?color=%23264d5e') no-repeat center center / contain;
    content: url('https://api.iconify.design/carbon/map.svg?color=%23264d5e');
    background-size: cover; /* Tamaño de la imagen */
    background-position: center; /* Posición de la imagen */
    background-repeat: no-repeat; /* Evita la repetición */
    width: 25px;
    height: 25px;
    margin-right: 8px;
}

.money{
    background: url('https://api.iconify.design/solar/hand-money-outline.svg?color=%23264d5e') no-repeat center center / contain;
    content: url('https://api.iconify.design/solar/hand-money-outline.svg?color=%23264d5e');
    background-size: cover; /* Tamaño de la imagen */
    background-position: center; /* Posición de la imagen */
    background-repeat: no-repeat; /* Evita la repetición */
    width: 25px;
    height: 25px;
    margin-right: 8px;
}
.checklist{
    background: url('https://api.iconify.design/material-symbols/checklist.svg?color=%23264d5e') no-repeat center center / contain;
    content: url('https://api.iconify.design/material-symbols/checklist.svg?color=%23264d5e');
    background-size: cover; /* Tamaño de la imagen */
    background-position: center; /* Posición de la imagen */
    background-repeat: no-repeat; /* Evita la repetición */
    width: 25px;
    height: 25px;
    margin-right: 8px;
}

.favorite{
    background: url('https://api.iconify.design/carbon/favorite.svg?color=%23264d5e') no-repeat center center / contain;
    content: url('https://api.iconify.design/carbon/favorite.svg?color=%23264d5e');
   
    background-position: center; /* Posición de la imagen */
    background-repeat: no-repeat; /* Evita la repetición */
    width: 25px;
    height: 25px;
    
}
.share{
    background: url('https://api.iconify.design/solar/share-bold-duotone.svg?color=%23264d5e') no-repeat center center / contain;
    content: url('https://api.iconify.design/solar/share-bold-duotone.svg?color=%23264d5e');
    background-size: cover; /* Tamaño de la imagen */
    background-position: center; /* Posición de la imagen */
    background-repeat: no-repeat; /* Evita la repetición */
    width: 25px;
    height: 25px;
  
}
.other{
    background: url('https://api.iconify.design/icon-park-outline/other.svg?color=%23264d5e') no-repeat center center / contain;
    content: url('https://api.iconify.design/icon-park-outline/other.svg?color=%23264d5e');
    background-size: cover; /* Tamaño de la imagen */
    background-position: center; /* Posición de la imagen */
    background-repeat: no-repeat; /* Evita la repetición */
    width: 25px;
    height: 25px;
}




.round-button {
    width: 50px; 
    height: 50px;
    background-color: #959193; 
    border-radius: 50%; 
    margin-right: 25px;
    font-size: 2em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    cursor: pointer; 
    border: none;
    outline: none;
    transition: background-color 0.3s ease; 
  }
  
  /* Estilo cuando se pasa el ratón por encima del botón */
  .round-button:hover {
    background-color: #38B6E3; /* Cambia el color de fondo al pasar el ratón por encima */
  }
  .round-button:active {
    transform: scale(0.9); /* Reduce el tamaño del botón al hacer clic */
  }






.datos{
    margin-top: 30px;
    margin-left: 30px;
}
img{
    width: 700px;
    height: 550px;
}
.caracteristicas{
    margin-top: 30px;
    margin-left: 30px;

}

#caja{
    

    border: 1px solid #b3b2b2; /* Borde de la caja de 1 píxel con color gris*/
    margin: 0px auto 50px; /* Margen vertical y horizontal para centrar */
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 16px;
    width: 450px; /* Ancho maximo de la caja */
    text-align: center;
    background-color: #959193;
 
      
}

 /* Estilos CSS para dar formato al formulario */

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    height: 150px;
}

/* Contenedor que recorta la imagen */
.imagen-recortada {
    border-radius: 15px;
    width: 100%; /* Ancho del contenedor */
    height: 400px; /* Alto del contenedor */
    overflow: hidden; /* Recorta el contenido que desborda el contenedor */
    border: 1px solid #ccc; /* Borde opcional */
    margin-bottom: 10px;
  }

  /* Estilo de la imagen recortada */
  .imagen-recortada img {
    width: 100%; /* Ajusta el ancho de la imagen al contenedor */
    height: 100%; /* Mantiene la relación de aspecto original */
    object-fit: cover; /* Ajusta la imagen para cubrir todo el contenedor */
  }


