.detalles h2{
    font-size: 30px;
    color: #264D5E;

 }
 .codigo button {
  text-align: left; 
  margin-left: 60px;
  margin-top: 25px;
  font-size: 20px;
  color: #264D5E;
  background-color: transparent;
  border: none;
 }

 .allpage{
  padding-top: 90px;
 }

 .caracteristicas .items {
   text-align: right;
}


 .caracteristicas h3{
    font-size: 20px;
    color: #264D5E;

 }

 .caracteristicas p{
    font-size: 20px;
    color: #264D5E;

 }
 .ulprecio {
  margin: 0;
  padding: 0;
}
 .ulprecio h3{
    margin: 0px;
    padding-right: 16px;
 }

td{
    padding: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 30px;
}
mat-list table h3 {
  font-size: 20px; 
}




.detalles{
    width: 100%;
    height: 100%;

}

.d-flex{
    margin-top: 30px;
    margin-left: 30px;

}

.backarrow, .plane, .map, .money, .checklist,
.other, .wapp{
  width: 20px;
  height: 20px;
  padding-left: 20px;
}
.favorite, .share,
.other, .Xtwiter, .facebook, .bookmark, .bookmarkfull{
  width: 30px;
  height: 30px;
  vertical-align: middle; 
  padding-left: 30px; 
  margin: 0%;
}
 .wc, .room, .car, .rule, .garden, .floor, .warehouse, .tank,
.pool, .house, .kitchen, .homeTime, .gym
{
  width: 25px;
  height: 25px;
  vertical-align: middle; 
  padding-left: 25px; 
  margin-right: 10px;
  padding-bottom: 20px;

}


.backarrow{
    background: url('https://api.iconify.design/ion/arrow-undo.svg?color=%23264d5e') no-repeat center center / contain;
    transition: color 0.3s ease;
}
.buttonback{
  width: auto;
  height: 40px;
  color: #264D5E;
  border-color: #264D5E;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 5px;
}
.buttonback:hover{
  background-color: #264D5E;
  color: #ffffff; 
}
.buttonback:hover .backarrow,
.buttonback:hover .plane{
  filter: brightness(100);
}

.plane{
    background: url('https://api.iconify.design/fa/send.svg?color=%23264d5e') no-repeat center center / contain;
    transition: color 0.3s ease;
}

.map{
    background: url('https://api.iconify.design/carbon/map.svg?color=%23264d5e') no-repeat center center / contain;
}

.money{
    background: url('https://api.iconify.design/solar/hand-money-outline.svg?color=%23264d5e') no-repeat center center / contain;
}
.checklist{
    background: url('https://api.iconify.design/material-symbols/checklist.svg?color=%23264d5e') no-repeat center center / contain;
}





.facebook{
  background: url('https://api.iconify.design/bxl/facebook.svg?color=%23264d5e') no-repeat center center / contain;
}

.Xtwiter{
  background: url('https://api.iconify.design/pajamas/x.svg?color=%23264d5e') no-repeat center center / contain;
}
.bookmark{
  background: url('https://api.iconify.design/material-symbols-light/bookmark-outline.svg?color=white') no-repeat center center / contain;
  transition: background 0.3s ease;
}
.bookmarkfull{
  background: url('https://api.iconify.design/material-symbols-light/bookmark.svg?color=white') no-repeat center center / contain;
  transition: background 0.3s ease;
}

.favorite{
    background: url('https://api.iconify.design/carbon/favorite.svg?color=%23264d5e') no-repeat center center / contain;
}
.share{
    background: url('https://api.iconify.design/solar/share-bold-duotone.svg?color=%23264d5e') no-repeat center center / contain;
}
.other{
    background: url('https://api.iconify.design/icon-park-outline/other.svg?color=%23264d5e') no-repeat center center / contain;
}


.wc{
    background: url('https://api.iconify.design/mdi/bathroom.svg?color=%23264d5e') no-repeat center center / contain;
}

.room{
    background: url('https://api.iconify.design/fluent/bed-20-regular.svg?color=%23264d5e') no-repeat center center / contain;
}
.car{
    background: url('https://api.iconify.design/ant-design/car-outlined.svg?color=%23264d5e') no-repeat center center / contain;
}
.rule{
    background: url('https://api.iconify.design/clarity/ruler-pencil-line.svg?color=%23264d5e') no-repeat center center / contain;
}
.garden{
    background: url('https://api.iconify.design/guidance/garden.svg?color=%23264d5e') no-repeat center center / contain;
}

.floor{
    background: url('https://api.iconify.design/material-symbols/floor-rounded.svg?color=%23264d5e') no-repeat center center / contain;
}
.warehouse{
    background: url('https://api.iconify.design/ph/warehouse-light.svg?color=%23264d5e') no-repeat center center / contain;
}
.tank{
    background: url('https://api.iconify.design/icon-park-outline/water.svg?color=%23264d5e') no-repeat center center / contain;
}
.pool{
    background: url('https://api.iconify.design/ic/round-pool.svg?color=%23264d5e') no-repeat center center / contain;
}
.wapp{
    background: url('https://api.iconify.design/logos/whatsapp-icon.svg?color=%23264d5e') no-repeat center center / contain;
}
.house{
  background: url('https://api.iconify.design/bi/house.svg?color=%23264d5e') no-repeat center center / contain;
}
.kitchen{
  background: url('https://api.iconify.design/mdi/kitchen-counter.svg?color=%23264d5e') no-repeat center center / contain;
}
.homeTime{
  background: url('https://api.iconify.design/mdi/home-time-outline.svg?color=%23264d5e') no-repeat center center / contain;
}
.gym{
  background: url('https://api.iconify.design/iconoir/gym.svg?color=%23264d5e') no-repeat center center / contain;
}

.carrusel2 {
  overflow: auto;
  display: flex;
  scroll-snap-type: x mandatory;
  width: 90%;
  margin: 0 auto;

}

.card {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  margin: 1rem;
  width: 100%;
}

.carrusel2:hover > :not(:hover) {
  opacity: 0.2;
}

.title {
  width: 100%;
  display: inline-block;
  word-break: break-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  margin: 1rem auto;
}

.carruselimg{
  border-radius: 10px;
  width: 100%; 
  height: 100%; 
  overflow: hidden; 
  border: none; 
}

.datos{
    margin-top: 30px;
    margin-left: 30px;
}
img{
    width: 700px;
    height: 550px;
}
.caracteristicas{
    margin-top: 30px;
    margin-left: 30px;

}

#caja{
    border: 1px solid #38B6E3;
    margin: 0px auto 50px; 
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 16px;
    width: 450px;
    max-height: 1250px;
    text-align: center;
    background-color: #ffffff;     
}
textarea {
  width: 100%;
  resize: none;
  overflow-y: hidden;
}
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    height: 150px;
}

.imagen-recortada {
    border-radius: 15px;
    width: 100%; 
    height: 400px;
    overflow: hidden; 
    border: 1px solid #ccc; 
    margin-bottom: 10px;
  }

  .imagen-recortada img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
  }

  .mat-raised-button .WhatsApp{
    margin-top: 15px;
    background-color: #25d366;
  }
  .favoriteButton {
    border: none;
    border-radius: 50%;
    background: #eb81bd;
    padding: 1rem;
    padding-top: 2%;
    padding-left: 2%;
    overflow: hidden;
    outline: none;
    margin: 0.5rem;
    width: 24px;
    height: 24px;
    box-sizing: content-box;
    -webkit-transition: all 200ms;
    transition: all 200ms;
    position: relative;
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  .favoriteButton:hover {
    -webkit-transform: scale(1.1) translateY(-3px);
            transform: scale(1.1) translateY(-3px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  }
  .favoriteButton svg {
    display: block;
    fill: #264d5e;
    width: 24px;
    height: 24px;
    opacity: 1;
    -webkit-transition: all 150ms;
    transition: all 150ms;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .otherButton {
    border: none;
    border-radius: 50%;
    background: #959193;
    padding: 1rem;
    overflow: hidden;
    outline: none;
    margin: 0.5rem;
    width: 24px;
    height: 24px;
    box-sizing: content-box;
    -webkit-transition: all 200ms;
    transition: all 200ms;
    position: relative;
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  .otherButton:hover {
    -webkit-transform: scale(1.1) translateY(-3px);
            transform: scale(1.1) translateY(-3px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  }
  
  .otherButton svg {
    display: block;
    fill: #264d5e;
    width: 24px;
    height: 24px;
    opacity: 1;
    -webkit-transition: all 150ms;
    transition: all 150ms;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
.challenge {
  width: 541px;
  height: 22px;
  position: absolute;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  top: 569.5px;
  left: 755px;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}
.challenge .number {
  float: right;
}
.challenge .daily {
  float: left;
}

.content{
    text-align: right;
}

.content .shareButton.main .share, .content .shareButton.main .close, .content .shareButton.main .check {
  position: absolute;
  top: 1rem;
  left: 1rem;
  -webkit-transition: all 150ms;
  transition: all 150ms;
}
.content .shareButton.main .share, .content .shareButton.main.open .close, .content .shareButton.main.sent .check {
  -webkit-transform: rotate(0) scale(1);
          transform: rotate(0) scale(1);
  opacity: 1;
}
.content .shareButton.main .close, .content .shareButton.main.open .share, .content .shareButton.main .check, .content .shareButton.main.sent .share {
  opacity: 0;
  -webkit-transform: rotate(90deg) scale(0);
          transform: rotate(90deg) scale(0);
}

.shareButton, .shareButton.open {
  border: none;
  border-radius: 50%;
  background: #959193;
  padding: 1rem;
  overflow: hidden;
  outline: none;
  margin: 0.5rem;
  width: 24px;
  height: 24px;
  box-sizing: content-box;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  position: relative;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.shareButton:hover, .shareButton.open:hover {
  -webkit-transform: scale(1.1) translateY(-3px);
          transform: scale(1.1) translateY(-3px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}

.shareButton svg, .shareButton.open svg {
  display: block;
  fill: #264d5e;
  width: 24px;
  height: 24px;
  opacity: 1;
  -webkit-transition: all 150ms;
  transition: all 150ms;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.fb, .shareButton.open.ig {
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
}

.tw, .shareButton.open.tw {
  -webkit-transition-delay: 50ms;
          transition-delay: 50ms;
}

.ig, .shareButton.open.fb {
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

.fb, .tw, .ig {
  width: 0;
  height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}
.fb svg, .tw svg, .ig svg {
  width: 0;
  height: 0;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
} 
.recorridovr{
  background: url('https://api.iconify.design/bi/badge-vr-fill.svg?color=%23264d5e') no-repeat center center / contain;
  content: url('https://api.iconify.design/bi/badge-vr-fill.svg?color=%23264d5e');
  background-size: cover; /* Tamaño de la imagen */
    background-position: center; /* Posición de la imagen */
    background-repeat: no-repeat; /* Evita la repetición */
    width: 50px;
    height: 50px;

}


.example-full-width {
  width: 30%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.mi-imagen {
  width: 50px;
  height: 50px;
}

// .button{
//   background-color: transparent;
// };