<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
<app-menu></app-menu>
     <!-- <h2 style="text-align: center; margin-top: 25px;">Recorre este inmueble de manera virtual <img class="recorridovr"></h2>   -->


    <!-- <div class="codigo" style="padding: 25px; margin-top: 25px;">

        <mat-card >
            <mat-card-content><button (click)="verificacion()">{{"Amplia tu experiencia usando el siguiente código en nuestra App, da clic para continuar: " + vista_360}}</button></mat-card-content>
        </mat-card>
     
    </div>   -->


<div class="allpage" >

      <!-- <h2 style="text-align: center; margin-top: 25px;">Recorre este inmueble de manera virtual 
        <img  class="mi-imagen"  src="assets/img/inmobewise.gif">

  
    </h2>  
      <div class="codigo" style="padding: 25px; margin-top: 25px;">
      <mat-card >
        <mat-card-content><button (click)="verificacion()">{{"Amplia tu experiencia usando el siguiente código en nuestra App, da clic para continuar: " + vista_360}}</button></mat-card-content>
    </mat-card>
</div> -->

    <div *ngIf="modelado"> 
        <div class="codigo" style="padding: 25px; margin-top: 25px;">
            <mat-card>
                <mat-card-content>
                    <h2 style="text-align: center; margin-top: 25px;">Recorre este inmueble de manera virtual <img class="recorridovr"></h2> 
                    <button (click)="verificacion()">
                        {{"Amplia tu experiencia usando el siguiente código en nuestra App, da clic para continuar: " + Id_real}}
                        <img  class="mi-imagen"  src="assets/img/inmobewise.gif">
                    </button>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

<!-- Aqui ya va el contenido de los respectivos inmuebles -->
<div class="detalles">
    <div class="d-flex align-items-center">
        <h1 class="mb-0 ml-3" style="padding-left: 30px;">{{details.Nombre_Inmueble}}</h1>
        
    </div>
    
    
    <div class="datos">
        
        <div class="row">
            <div class="col-md-6" id="carruselcontainer">
              <!-- Tu contenido dentro del div -->
                <div class="Imgmuestra">
                    <!-- <img id="imagenPrincipal" src="assets/img/Houses-bro.png"> -->
                    <img [src]="imagenPrincipalUrl" alt="Imagen principal">

                    <div class="carrusel2">
                        <div class="card" *ngFor="let imagen of imagenesCarrusel" (click)="cambiarImagen(imagen)">
                            <img [src]="imagen" class="carruselimg">
                          </div>
                    </div>


                <div class="caracteristicas">
                   
                        

                        <div class="content">
                            <button mat-fab color="accent" (click)="Favoritos()">
                                <img [ngClass]="{'bookmark': !esFavorito, 'bookmarkfull': esFavorito}">
                            </button>
                        
                            <button  class="shareButton main"><img class="share">
                                <svg class="check" style="width:24px;height:24px" viewBox="0 0 24 24">    
                                <path  d="M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z" /></svg>
                                <svg class="close" style="width:24px;height:24px" viewBox="0 0 24 24">
                                <path d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" /></svg>
                            </button>
                            <button (click)="compartirEnFacebook()" class="shareButton fb"><img class="facebook"></button>
                            <button (click)="compartirEnTwitter()" class="shareButton tw"><img class="Xtwiter"></button>
                        </div>

                    <mat-list>
                    <ul *ngIf="Venta" class="ulprecio" >
                        <h3 mat-subheader> <img class="money">Venta MXN</h3>
                        <mat-list-item>
                            <h3 mat-line>{{ details.Precio_Final | currency:'MXN':'symbol':'1.0-2' }}</h3>
                        </mat-list-item>
                        
                        <!-- <mat-list-item ><h3 mat-line>{{"$ "+details.Precio_Final |currency:'MXN':'symbol':'1.2-2'}}</h3></mat-list-item> -->
                    </ul>
                    <ul *ngIf="!Venta" class="ulprecio">
                        <h3 mat-subheader> <img class="money">Renta MXN</h3>
                        <mat-list-item>
                            <h3 mat-line>{{ details.Precio_Final | currency:'MXN':'symbol':'1.0-2' }}</h3>
                        </mat-list-item>
                        
                        <!-- <h3 mat-subheader> <img class="money">Renta MXN</h3>
                        <mat-list-item ><h3 mat-line>{{"$ "+details.Precio_Final |currency:'MXN':'symbol':'1.2-2'}}</h3></mat-list-item> -->
                    </ul>

                    

                        <h3 mat-subheader> <img class="map"> Lugar</h3>
                        <mat-list-item >
                           <h3 mat-line>{{details.Calle +" "+ details.Num_Ext}}</h3>
                           <h4 mat-line></h4>
                        </mat-list-item>
                        <mat-divider></mat-divider>

                        <h3 mat-subheader> <img class="checklist">Descripcion</h3>
                        <mat-list-item>
                            <h3 mat-line>{{details.Descripcion_Inmueble}}</h3>
                            <h4 mat-line></h4>
                        </mat-list-item>
                   
                        <h3 mat-subheader>Características:</h3>

                            <table>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td><h3><img class="rule"> {{details.Terreno_M2}} Terreno m2</h3></td>
                                    <td><h3><img class="house"> {{details.Construccion_M2}} Construcción m2</h3></td>
                                    <td><h3><img class="room"> {{details.Recamara}} Recamaras</h3></td>
                                    
                                </tr>
                                <tr>
                                    <td><h3><img class="wc"> {{details.Bano}} Baños</h3></td>
                                    <td><h3><img class="kitchen">{{details.Cocina_Integral}} Cocina integral</h3></td>
                                    <td><h3><img class="floor"> {{details.Num_Pisos}} Pisos</h3></td>
                                    
                                </tr>
                                <tr>
                                    <td><h3><img class="homeTime">{{details.Antiguedad}} Antigüedad</h3></td>
                                    <td><h3><img class="house">Acabados: {{details.Acabados}}</h3></td>
                                    <td><h3><img class="pool"> {{details.Alberca}} Alberca</h3></td>   
                                </tr>
                                <tr>
                                    <td><h3><img class="garden"> {{details.Jardin}} Jardin</h3></td>
                                    <td><h3><img class="gym">{{details.Gimnasio}} Gimnasio</h3></td>
                                    <td><h3><img class="garden">{{details.Roof_Garden}} Roof Garden</h3></td>
                                </tr>
                                <tr>
                                    <td><h3><img class="car"> {{details.Estacionamiento}} Cochera</h3></td>
                                </tr>
                                            <!-- Puedes agregar más filas según sea necesario -->
                            </table>
               


                     </mat-list>


                    
                     

                </div>
                </div>
            </div>
           <div class="col-md-6" id="caja">
                <form >
                    <!-- Tu formulario aquí -->
                    <h2>Contáctanos</h2>
                    <h3>¿Te interesó nuestra propiedad? <br>contacta a uno de nuestros agentes</h3>
                        <div class="imagen-recortada">
                        <img src="assets/img/asesores.jpg" alt="Imagen Recortada">
                        </div>

                        <div *ngIf="!nombre || !telefono || !email" class="error-message">Por favor, complete todos los campos obligatorios.*</div>
                        <form>
                            <div class="form-group">
                                <label for="nombre">*Nombre:</label>
                                <input type="text" id="nombre" name="nombre" [(ngModel)]="nombre" required>
                                
                            </div>
                            <div class="form-group">
                                <label for="telefono">*Teléfono:</label>
                                <input type="number" id="telefono" name="telefono" required [(ngModel)]="telefono" >
                              
                            </div>
                            <div class="form-group">
                                <label for="email">*Correo Electrónico:</label>
                                <input type="email" id="email" name="email" required [(ngModel)]="email">
                                
                            </div>
                            <div class="form-group">
                                <label for="comentarios">*Comentarios:</label>
                                <textarea id="comentarios" name="comentarios" [(ngModel)]="comentarios"> </textarea>

                                <button mat-raised-button class="buttonback"  (click)="enviarCorreo()">Enviar por Correo <img class="plane" ></button>
                            </div>
                            
                            
                            <button mat-raised-button class="WhatsApp" style="background-color: #25d366;" (click)="enviarWhatsApp()" 
                            >Enviar por WhatsApp <img class="wapp"></button>

                            <br>
                            <br>
                            <button mat-raised-button class="buttonback" (click)="openDialog()" >Enviar Cita <img class="plane">
                            </button>
                       

                            
                        </form>
                </form>
            </div>
        </div>
    </div>
    </div>

    <!-- <h2 style="text-align: center; margin-top: 25px;">Recorre este inmueble de manera virtual <img class="recorridovr"></h2>  


    <div class="codigo" style="padding: 25px; margin-top: 25px;">

        <mat-card >
            <mat-card-content><button (click)="verificacion()">{{"Amplia tu experiencia usando el siguiente código en nuestra App, da clic para continuar: " + vista_360}}</button></mat-card-content>
        </mat-card>
     
    </div>   -->
</div>

<app-descarga></app-descarga>
<app-footer></app-footer>

