.contenedorgeneral{
  width: 70%;
  margin-left: 15%;
}
.contenedorvisita{
  width: 80%;
  height: auto;
  margin-left: 10%;
  margin-top: 2%;
  padding: 20px 20px 20px 20px;
  box-shadow: rgb(17 12 46 / 15%) 0px 48px 100px 0px;
  text-align: justify;
}

.contenedorimagen{
  width: 50%;
  height: auto;
  margin-left: 25%;
}

h1{
  text-align: center;
   font-size: 20px;
   font-weight: 500;
   color: #264D5E;
  
}

img{
  width: 100%;
  height: 100%;
 
}

mat-tab  {
  color: #264D5E;
}


