/* From uiverse.io by @satyamchaudharydev */
/* removing default style of button */
h1{
    margin-left: 80px;  
}
.form button {
    border: none;
    background: none;
    color: #8b8ba7;
  }
  /* styling of whole input container */
  .form {
    --timing: 0.3s;
    --width-of-input: 400px;
    --height-of-input: 40px;
    --border-height: 2px;
    --input-bg: #fff;
    --border-color: #38B6E3;
    --border-radius: 30px;
    --after-border-radius: 1px;
    position: relative;
    width: var(--width-of-input);
    height: var(--height-of-input);
    display: flex;
    align-items: center;
    padding-inline: 0.8em;
    border-radius: var(--border-radius);
    transition: border-radius 0.5s ease;
    background: var(--input-bg,#fff);
    margin-top: 50px;
    margin-left: 70px;
  }

  /* styling of Input */
  .input {
    font-size: 0.9rem;
    background-color: transparent;
    width: 200%;
    height: 200%;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
  }
  /* styling of animated border */
  .form:before {
    content: "";
    position: absolute;
    background: var(--border-color);
    transform: scaleX(0);
    transform-origin: center;
    width: 100%;
    height: var(--border-height);
    left: 0;
    bottom: 0;
    border-radius: 1px;
    transition: transform var(--timing) ease;
  }
  /* Hover on Input */
  .form:focus-within {
    border-radius: var(--after-border-radius);
  }
  
  input:focus {
    outline: none;
  }
  /* here is code of animated border */
  .form:focus-within:before {
    transform: scale(1);
  }
  /* styling of close button */
  /* == you can click the close button to remove text == */
  .reset {
    border: none;
    background: none;
    opacity: 0;
    visibility: hidden;
  }
  /* close button shown when typing */
  input:not(:placeholder-shown) ~ .reset {
    opacity: 1;
    visibility: visible;
  }
  /* sizing svg icons */
  .form svg {
    width: 17px;
    margin-top: 3px;
  }

  .card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card {
    width: 18rem;
    margin: 10px;
}

.card .card-img-top {
    width: 200px; /* Establece el ancho deseado para todas las imágenes */
    height: 150px; /* Establece la altura deseada para todas las imágenes */
    display: block; /* Añade este estilo para centrar horizontalmente */
    margin: 0 auto;  /* Añade este estilo para centrar horizontalmente */

}

.btn-outline-secondary {
    background-color:#264D5E ; /* Cambia el color de fondo del botón */
    color: #fff; /* Cambia el color del texto del botón */
    border: none; /* Elimina el borde del botón */
    padding: 10px 20px; /* Ajusta el relleno del botón */
}