<!-- <p>alta-brokers works!</p> -->
<div class="contendoralta">   
  <div class="container-fluid">
    <div class="row">
    <div class="perfilmenu" >
     
      <h2> REGISTRO </h2>

        <div class="row">
          <div class="col-md-6">
            <h5> Seleccionar tipo de usuario</h5>
            <mat-form-field class="ordenausuario">
              <mat-label>Selecionar usuario</mat-label>
              <mat-select [formControl]="toppings" multiple>
                <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div> 
        <div class="col-md-6">
          <h5> Seleccionar tipo de usuario</h5>
          <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
<input hidden (change)="onFileSelected($event)" #fileInput type="file">
<span class="file-name">{{selectedFile?.name}}</span>
        </div>
      </div> 


    <!-- Nombre  Apellidos  Fecha de Nacimiento -->

        <div class="row">
          <div class="col-md-3">
            <h5> Nombre</h5>
            <mat-form-field class="ordenaform">
              <input matInput >
            </mat-form-field>
          </div>

          <div class="col-md-3">
            <h5> Apellido Paterno </h5>
            <mat-form-field class="ordenaform">
              <input matInput>
            </mat-form-field>
          </div>

          <div class="col-md-3 ">
            <h5> Apellido Materno </h5>
            <mat-form-field class="ordenaform">
              <input matInput>
            </mat-form-field>
          </div>

          <div class="col-md-3 ">
            <h5> CURP </h5>
            <mat-form-field class="ordenaform">
              <input matInput>
            </mat-form-field>
          </div>
        </div>
 

        <!-- Email  Celular  Casa  Oficina -->

         <div class="row">
          <div class="col-md-3">
            <h5> RFC </h5>
            <mat-form-field class="ordenaform">
              <input matInput>
            </mat-form-field>
            
          </div>

          <div class="col-md-3">
            <h5> Contacto Principal</h5>
            <form class="example-form">
              <mat-form-field class="example-full-width ordenaform">
                <mat-label>Celular</mat-label>
                <span matPrefix>+52 &nbsp;</span>
                <input type="tel" matInput placeholder="555-555-1234">
                <mat-icon matSuffix>mode_edit</mat-icon>
              </mat-form-field>
            </form>
          </div>

          <div class="col-md-3">
            <h5> Contacto de Emergencia</h5>
            <form class="example-form">
              <mat-form-field class="example-full-width ordenaform">
                <mat-label>Telephone</mat-label>
                <span matPrefix>+222 &nbsp;</span>
                <input type="tel" matInput placeholder="555-555-1234">
                <mat-icon matSuffix>mode_edit</mat-icon>
              </mat-form-field>
            </form>
          </div>

          <div class="col-md-3">
            <h5> Email</h5>
            <form class="example-form">
              <mat-form-field class="example-full-width ordenaform">
                <mat-label>Email</mat-label>
                <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </form>
          </div>
        </div>

        <!-- Calle Estado Municipio -->

        <div class="row">
          <div class="col-md-3">
            <h5> Nombre de usuario</h5>
            <mat-form-field class="ordenaform">
              <input matInput>
            </mat-form-field>
          </div>

          <div class="col-md-3">
            <h5> Descripcion de usuario </h5>
            <mat-form-field class="example-full-width ordenaform">
              <textarea matInput rows ="1"></textarea>
            </mat-form-field>
          </div>

          <div class="col-md-3">
            <h5> Password </h5>
              <form [formGroup]="signin">
                <mat-form-field class="inputpassword">
                 <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
                 <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                 <mat-hint *ngIf="!passwordInput">Enter your password</mat-hint>
                 </mat-form-field>
              </form>
          </div>

          <div class="col-md-3">
            <h5> Estatus</h5>
            <mat-form-field class="ordenaform">
              <mat-label>Selecionar usuario</mat-label>
              <mat-select [formControl]="toppings" multiple>
                <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
              </mat-select>
            </mat-form-field>
           
          </div>
        </div>
        <br>
        <br>
          <div class="row">
            <div class="col-md-12  ordenaboton">
              <button class="btn btn-outline-inmo me-2" type="submit">
                <i class="bi bi-floppy2"></i> Guardar
              </button>
              <button class="btn btn-outline-inmo me-2" type="submit">
                <i class="bi bi-x-circle-fill"></i> Cancelar
              </button>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>

  
  