<app-menuinmueble></app-menuinmueble>
         <br>
      <br>
      <br>
      <br>
       <br>
       <br>
       <br>
       <br> 
   
  
  

  
   <div class="d-flex justify-content-center">
  <div class="Precio-container"   >
    <button (click)="toggleTestadoAnuncio()" class="buttonnavbar" mat-stroked-button>Estado del Anuncio<img class="navarrow"></button>
    <ul *ngIf="showTipoAnuncio" class="dropdown-Precio">
      <ul class="content-Precio">
        <section class="example-section" [formGroup]="toppings">
          <mat-radio-group>
            <p>  <mat-radio-button color="primary"  (click)="estadoAnuncion(1)" value="1">Borrador</mat-radio-button> </p>
            <p>  <mat-radio-button color="primary"  (click)="estadoAnuncion(2)"value="2">Publicación Pendiente</mat-radio-button> </p>
            <p>  <mat-radio-button color="primary"  (click)="estadoAnuncion(3)"value="3">Publicado</mat-radio-button> </p>
            <p>  <mat-radio-button color="primary"  (click)="estadoAnuncion(4)"value="4">No Publicado</mat-radio-button> </p>
            <p>  <mat-radio-button color="primary"  (click)="estadoAnuncion(5)"value="5">Publicación Pausada</mat-radio-button> </p>

          </mat-radio-group>
          </section>
      </ul>
    </ul>
  </div>
  <div class="Precio-container">
    <button (click)="toggleEstadoAnuncio()" class="buttonnavbar" mat-stroked-button>Tipo del Anuncio<img class="navarrow"></button>
      <ul *ngIf="showEstadoAnuncio" class="dropdown-Recamaras">
        <ul class="content-Precio">
          
          <section class="example-section" [formGroup]="toppings">

            <mat-radio-group>
             <p>  <mat-radio-button color="primary" (click)="tipoAnuncios(1)" value="1">Compra</mat-radio-button> </p>
              <br>
              <p> <mat-radio-button color="primary" (click)="tipoAnuncios(2)" value="2">Renta</mat-radio-button> </p>
              <br>
              <p> <mat-radio-button color="primary"  (click)="tipoAnuncios(3)"value="3">Desarrollo</mat-radio-button> </p>
              <br>
              <p>  <mat-radio-button color="primary" (click)="tipoAnuncios(4)" value="4">Remate</mat-radio-button> </p>
            </mat-radio-group> 
             </section>
        </ul>
      </ul>
  </div>
  



  <div class="Precio-container">
    <button (click)="togglePropiedad()" class="buttonnavbar" mat-stroked-button>Tipo de Inmueble<img class="navarrow"></button>
      <ul *ngIf="showPropiedad" class="dropdown-Recamaras">
        <ul class="content-Precio">
          
          <section class="example-section" [formGroup]="toppings">

            <mat-radio-group>
             <p>  <mat-radio-button color="primary" (click)="TipoInmueble(1)" value="1">Casa</mat-radio-button> </p>
              <br>
              <p> <mat-radio-button color="primary" (click)="TipoInmueble(2)" value="2">Departamento</mat-radio-button> </p>
              <br>
              <p> <mat-radio-button color="primary"  (click)="TipoInmueble(3)"value="3"> casa en condominio</mat-radio-button> </p>
              <br>
              <p>  <mat-radio-button color="primary" (click)="TipoInmueble(4)" value="4">Oficina</mat-radio-button> </p>
              <p>  <mat-radio-button color="primary" (click)="TipoInmueble(5)" value="4">local comercial</mat-radio-button> </p>
              <p>  <mat-radio-button color="primary" (click)="TipoInmueble(6)" value="4">bodega comercial</mat-radio-button> </p>
              <p>  <mat-radio-button color="primary" (click)="TipoInmueble(7)" value="4">terreno / lote</mat-radio-button> </p>
             <p>  <mat-radio-button color="primary" (click)="TipoInmueble(8)" value="4">nave industrial</mat-radio-button> </p>
            
            </mat-radio-group> 
             </section>
        </ul>
      </ul>
  </div>

  <!-- <div class="Precio-container">
    <button (click)="togglePropiedad()" class="buttonnavbar" mat-stroked-button>Tipo de Propiedad<img class="navarrow"></button>
      <ul *ngIf="showPropiedad" class="dropdown-Recamaras">
        <ul class="content-Precio">
          <mat-form-field >
            <mat-label>Tipo de inmueble</mat-label>
      
              <mat-select formControlName="pId_Tipo_Inmueble" (ngModelChange)="TipoInmueble($event)">
                <mat-option *ngFor="let inmo of inmuebles" value="{{ inmo.Id_Tipo_Inmueble}}">{{ inmo.Tipo_Inmueble }}
              </mat-option>
                 </mat-select>
                   </mat-form-field>
            
      
         
        </ul>
      </ul>
  </div> -->


  </div>
  



  


  
  <br>
 <br>
 <br>
 <br>
 

  
  

  
  
  
<div class="row justify-content-center align-items-center">
   
 
    <div class="col-sm-3 align-items-center align-middle p-5">
    
      
    </div>
    <div class="col-sm-9">
      <nav class="nav">
      
         <!-- <a class="nav-link disabled" (click)="toggleTabla()"  tabindex="-1" aria-disabled="true" >
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <i class="bi bi-basket3"></i> Mis compras disponibles</a> -->
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
            <br>
            <br>
            <br>
        
            
            <button class="btn btn-light btn-grande" (click)="toggleTabla()">    <i class="bi bi-basket3"></i> &nbsp;&nbsp;&nbsp; Mis compras disponibles
            </button>
  <table class="table mt-3" *ngIf="mostrarTabla">
   <thead>
     <tr>
       <th scope="col">Tipo de Plan</th>
       <th scope="col">Plan</th>
       <th scope="col">Disponible</th>
       <th scope="col">En uso</th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <th scope="row">Simple</th>
       <td>Venta</td>
       <td>1</td>
       <td>0</td>
     </tr>
     <tr>
       <th scope="row"></th>
       <td></td>
       <td></td>
       <td></td>
     </tr>
     <!-- Agrega más filas según sea necesario -->
   </tbody>
 </table>
       </nav>
    
      <div  class="cointainer p-4">
      <form>
        <div  class="row justify-content-center align-items-center mb-2">
          <div class="col"><input class="form-check-input me-2" type="checkbox" id="autoSizingCheck">
            <label class="form-check-label me-2" for="autoSizingCheck"> Seleccionar Todo</label>
          </div>
          <div class="col">
            <h6><span class="label label-default">() Inmuebles Seleccionados</span></h6>
          </div>
          <div class="col">
            <div class="input-group">
            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Titulo del Anuncio">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="bi bi-search"></i>
              </div>
            </div>
          </div>
          </div>
          <div class="col">
            <select class="form-control">
              <option selected>Lo Más Recientes</option>
              <option>Lo Más Vistos</option>
              <option>Lo Más Antiguos</option>
            </select></div>
          </div>
      </form>

     
    </div>
  </div>
  <div   class="row justify-content-left align-items-center">
    <div    class="col-sm-3 align-items-center align-middle p-5 color-back"> 

      <div   class="h6"><span class="label label-default"></span></div>
      <div  class="form-check">
        <!-- <section class="example-section" [formGroup]="toppings">
         <p><mat-checkbox color="primary" formControlName="pepperoni">Publicado</mat-checkbox></p>
          <p><mat-checkbox color="primary" formControlName="extracheese">Borrador</mat-checkbox></p>
        
        </section> -->
      </div>
     
      <div class="p-2"></div>
      <div  class="h6">
        <span class="label label-default"></span></div>
 
      <div  class="form-check">
       <!-- <section class="example-section" [formGroup]="toppings">
          <p><mat-checkbox   color="primary"  formControlName="pepperoni">Compra</mat-checkbox></p>
           <p><mat-checkbox  color="primary" formControlName="extracheese">Renta</mat-checkbox></p>
           <p><mat-checkbox  color="primary" formControlName="extracheese">Desarrollo</mat-checkbox></p>
           <p><mat-checkbox color="primary" formControlName="extracheese">Remate</mat-checkbox></p>
         </section> -->
      </div>
    
      <div class="p-2"></div>
      <div class="h6"><span class="label label-default"></span></div>
      <div class="form-check">
        <!-- <mat-form-field >
          <mat-label>Tipo de inmueble</mat-label>

            <mat-select formControlName="pId_Tipo_Inmueble">
              <mat-option *ngFor="let inmo of inmuebles" value="{{ inmo.Id_Tipo_Inmueble}}">{{ inmo.Tipo_Inmueble
              }}
            </mat-option>
               </mat-select>
                 </mat-form-field> -->
        <!-- <mat-form-field>
          <mat-label>Tipo de Propiedad</mat-label>
          <mat-select [(value)]="opcionSeleccionada">
            <mat-option *ngFor="let opcion of opciones" [value]="opcion">{{ opcion }}</mat-option>
          </mat-select>
        </mat-form-field> -->
      </div>
      
    </div>
    <div   class="col-sm-9">
      <div *ngFor="let inmueble of inmuebles1" class="card rounded-start rounded-end">
        <div class="row no-gutters">
          <div  class="col-sm-4">
            <img class="card-img" [src]="inmueble.Picture1" width="100%" height="100% object-fit: cover;">
          </div>
          <div class="col-sm-4">
            <div class="card-body">
              <h5 class="card-title">{{ inmueble.Nombre_Publicacion }}</h5>
              <p class="card-text gap-2">{{ inmueble.Descripcion_Publicacion }}</p>
              <p class="card-text">{{ inmueble.Estatus_Publicacion }}</p>
            </div>
          </div>
          <div class="col-sm-4" style="display: flex; align-items: center; justify-content: center;">
            <!-- Botones y acciones -->
            <button type="button" class="btn" style="background-color: #38B6E3 ; color: #ffffff;"  (click)="openDialog(inmueble)">
              <i class="bi bi-heart"></i>&nbsp;&nbsp;
              Me gusta</button>
          </div>
        </div>
        <hr>
        <div class="row align-items-center">
          <div class="col-md-3">
            <p>Id: {{ inmueble.Id_Inmueble }}</p>
          </div>
          <div class="col-md-5">
            <p>Creado: {{ inmueble.Nombre_Usuario }}</p>
          </div>
          <div class="col-md-4 d-flex justify-content-end align-items-center">
            <button type="button" class="btn btn-light" (click)="InforInmu(inmueble)"><i class="bi bi-pencil-square"></i></button>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>