.nav-link.disabled {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  // border: 1px solid #6c757d;
  border-radius: 0.25rem;
}
.mat-dialog-container {
  max-width: 800px; /* ajusta el ancho máximo según tus necesidades */
  max-height: 80vh; /* ajusta la altura máxima según tus necesidades */
}
/* styles.scss o styles.css */

// .example-section {
//   h4 {
//     color: red; // Cambia el color del título
//   }

//   mat-checkbox {
//     border-color: blue; // Cambia el color del borde de la casilla de verificación
//     color: green; // Cambia el color del texto de la casilla de verificación

//     &.mat-checkbox-checked {
//       background-color: yellow; // Cambia el color de fondo cuando la casilla está marcada
//     }
//   }
// }
/* styles.scss o styles.css */

// .example-section {
//   h4 {
//     color: red; // Cambia el color del título
//   }

//   mat-checkbox {
//     border-color: blue; // Cambia el color del borde de la casilla de verificación
//     color: green; // Cambia el color del texto de la casilla de verificación

//     &:not(.mat-checkbox-checked) {
//       background-color: transparent; // Color de fondo cuando no está marcada
//     }

//     &.mat-checkbox-checked {
//       background-color: yellow; // Cambia el color de fondo cuando la casilla está marcada
//     }
//   }
// }
/* styles.scss o styles.css */

.example-section {
  h4 {
    color: red; // Cambia el color del título
  }

  mat-checkbox {
   
    color: #38B6E3; // Cambia el color del texto de la casilla de verificación
    background-color: transparent; // Color de fondo predeterminado

   

    .mat-checkbox-background {
      &.mat-checkbox-checked {
        background-color: transparent; // Anula el color de fondo cuando la casilla está marcada
      }
    }
  }
}

#anuncioContainer {
  position: fixed;
  top: 90px;
  left: 0;
  width: 10%;
  z-index: 1000; /* Ajusta según sea necesario para que esté por encima de otros elementos */
 
  padding: 20px; /* Ajusta según sea necesario para el espacio alrededor del contenido */
}

.navbar {
  position: fixed;
  width: 100%;
  display: block;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding:25px;
  margin-top: 80px;

}
.buttonnavbar{
  width: auto;
  height: 40px;
  margin-right: 30px;
  color: #264D5E;
  border-color: #264D5E;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 5px;
}
.buttonnavbar:hover{
  background-color: #264D5E;
  color: #ffffff; 
}

.buttonnavbar:hover .navarrow,
.buttonnavbar:hover .filter,
.buttonnavbar:hover .backarrow,
.buttonnavbar:hover .lupa {
  filter: brightness(100);
}










.producto h1 {
  color: #162f39;
  font-size: 30px;
  text-align: left;
}

.ListResult h2 {
  color: #003453;
  font-size: 30px;
  margin-top: 0px;
  margin-left: 20px;

}

.producto h3 {
  color: #33383b;
  font-size: 20px;
  text-align: left;
}

.producto h4 {
  color: #2285ab;
  font-size: 20px;

  text-align: left;
}

.h4filtros {  
  margin-top: 25px;
  font-weight: 450;

}




/* Estilo de los iconos de los botones */
.lupa, .filter, .VR, .navarrow,  
.multi, .planos, .backarrow{
  background-size: cover;
  width: 27px;
  height: 27px;
}
.navarrow{
  background: url('https://api.iconify.design/ic/baseline-keyboard-arrow-down.svg?color=%23264d5e') no-repeat center center / contain;
  content: url('https://api.iconify.design/ic/baseline-keyboard-arrow-down.svg?color=%23264d5e');
  transition: color 0.3s;
}


.lupa {
  background: url('https://api.iconify.design/heroicons/map-pin.svg?color=%23264d5e') no-repeat center center / contain;
  content: url('https://api.iconify.design/heroicons/map-pin.svg?color=%23264d5e');
  transition: color 0.3s;
}


.filter {
  background: url('https://api.iconify.design/mi/filter.svg?color=%23264d5e') no-repeat center center / contain;
  content: url('https://api.iconify.design/mi/filter.svg?color=%23264d5e');
  transition: color 0.3s;
}

.VR {
  background: url('https://api.iconify.design/fluent-mdl2/video-360-generic.svg?color=%23264d5e') no-repeat center center / contain;
  content: url('https://api.iconify.design/fluent-mdl2/video-360-generic.svg?color=%23264d5e');
}





.content-right {
  display: flex;
  justify-content: right;
  align-items: right;
}

.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-back {
  background-color: #8ec3d9;
}




.dropdown-Precio  {
  height: auto;
  width: auto;
  border-radius: 5px;
  background-color: #fff; 
  border: 1px solid #ccc; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  z-index: 1;
  position: absolute; 
  top: 105%; 
  left: 0%;
  padding: 0%;
}





ul.content-Precio{
  padding: 15px;
}

.dropdown-Recamaras  {
  height: auto;
  width: auto;
  border-radius: 5px;
  background-color: #fff; 
  border: 1px solid #ccc; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  z-index: 1;
  position: absolute; 
  padding-left: 2px;
  top: 105%; /* Alinear el borde superior de la lista con el borde inferior del botón */
  left: 0%;
}



.filters-container {
  position: relative;
  display: inline-block;
}
.Precio-container {
  position: relative;
  display: inline-block;
}
ul.in {
  display: block; 
}
.content-advancedfilters{
  max-height: 450px;
  overflow-y: auto; 
  list-style: none;
  padding-right: 25px;
  padding-left: 25px;
}
.content-Precio{
  overflow-y: auto; 
  list-style: none;

}

.limpiarFiltros{
  padding: 8px;
  background-color: none;
  border-radius: 5px;
 }

 .content-Inmueble {
  padding: 8px 12px;
  text-decoration: none;
  color: #333;
  display: block;
}

.content-Inmueble:hover {
  background-color: #dcdcdc;

}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.container1{
  padding-top: 230px;
  padding-left: 25px;
  padding-right: 25px;
 }









.my-form {
  border: 1px solid #ccc;  /* Puedes ajustar el grosor y el color del borde según tus preferencias */
  border-radius: 5px;      /* Puedes ajustar el radio de la esquina según tus preferencias */
  padding: 10px;           /* Puedes ajustar el relleno según tus preferencias */
}











