<app-menuinmueble></app-menuinmueble>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-4">
             <p>Duis commodo odio nec justo sagittis, sit amet vehicula justo dapibus. Fusce ultricies ligula in justo facilisis, eu cursus elit aliquet.</p>
        </div>
         <div class="col-lg-8">
            <!-- <div class="container mt-5"></div> -->
            <!-- <button class="btn btn-primary btn-lg" (click)="toggleTabla()">Mostrar Tabla</button> -->
             <!-- <button class="btn btn-primary" (click)="toggleTabla()">Mostrar Tabla</button> -->
            <!-- <button class="btn btn-primary" style="font-size: 20px;" (click)="toggleTabla()">Mostrar Tabla</button> -->
<!-- 
            <div class="d-flex align-items-center"> -->
             <button class="btn btn-primary btn-grande" (click)="toggleTabla()">Mostrar Tabla</button>
            <!-- </div> -->
            <!-- <button>
            Productos disponibles</button> -->
            <table class="table mt-3" *ngIf="mostrarTabla">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Edad</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>John Doe</td>
                    <td>25</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jane Doe</td>
                    <td>30</td>
                  </tr>
                  <!-- Agrega más filas según sea necesario -->
                </tbody>
              </table>
         </div>
        <!-- </div> -->
     
     
        <!-- <div class="col-lg-8"> -->
        <!-- Contenido de la primera columna (más grande) -->
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget felis vel libero vulputate bibendum.</p>
      </div>
      <div class="col-lg-4"> -->
        <!-- Contenido de la segunda columna -->
        <!-- <p>Duis commodo odio nec justo sagittis, sit amet vehicula justo dapibus. Fusce ultricies ligula in justo facilisis, eu cursus elit aliquet.</p>
      </div>
    </div> -->
  </div>
