<app-menuinmueble></app-menuinmueble>

<br>
 <br>
 <br>
 <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  
<div class="row justify-content-center align-items-center">
   
 
    <div class="col-sm-3 align-items-center align-middle p-5">
    
      
    </div>
    <div class="col-sm-9">
      <nav class="nav">
      
         <!-- <a class="nav-link disabled" (click)="toggleTabla()"  tabindex="-1" aria-disabled="true" >
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <i class="bi bi-basket3"></i> Mis compras disponibles</a> -->
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <button class="btn btn-light btn-grande" (click)="toggleTabla()">    <i class="bi bi-basket3"></i> &nbsp;&nbsp;&nbsp; Mis compras disponibles
            </button>
  <table class="table mt-3" *ngIf="mostrarTabla">
   <thead>
     <tr>
       <th scope="col">Tipo de Plan</th>
       <th scope="col">Plan</th>
       <th scope="col">Disponible</th>
       <th scope="col">En uso</th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <th scope="row">Simple</th>
       <td>Venta</td>
       <td>1</td>
       <td>0</td>
     </tr>
     <tr>
       <th scope="row"></th>
       <td></td>
       <td></td>
       <td></td>
     </tr>
     <!-- Agrega más filas según sea necesario -->
   </tbody>
 </table>
       </nav>

      <div class="cointainer p-4">
      <form>
        <div class="row justify-content-center align-items-center mb-2">
          <div class="col"><input class="form-check-input me-2" type="checkbox" id="autoSizingCheck">
            <label class="form-check-label me-2" for="autoSizingCheck"> Seleccionar Todo</label>
          </div>
          <div class="col">
            <h6><span class="label label-default">() Inmuebles Seleccionados</span></h6>
          </div>
          <div class="col">
            <div class="input-group">
            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Titulo del Anuncio">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="bi bi-search"></i>
              </div>
            </div>
          </div>
          </div>
          <div class="col">
            <select class="form-control">
              <option selected>Lo Más Recientes</option>
              <option>Lo Más Vistos</option>
              <option>Lo Más Antiguos</option>
            </select></div>
          </div>
      </form>

     
    </div>
  </div>
  <div class="row justify-content-left align-items-center">
    <div class="col-sm-3 align-items-center align-middle p-5 color-back">
      <div class="h6"><span class="label label-default">Estado del Anuncio</span></div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
        <label class="form-check-label" for="flexRadioDefault2"> Publicado </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
        <label class="form-check-label" for="flexRadioDefault2"> Borrador </label>
      </div>
      <div class="p-2"></div>
      <div class="h6"><span class="label label-default">Tipo del Anuncio</span></div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
        <label class="form-check-label" for="flexRadioDefault2"> Compra </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
        <label class="form-check-label" for="flexRadioDefault2"> Renta </label>
      </div>
      <div class="p-2"></div>
      <div class="h6"><span class="label label-default">Tipo de Propiedad</span></div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
        <label class="form-check-label" for="flexRadioDefault2"> Casa </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
        <label class="form-check-label" for="flexRadioDefault2"> Departamento </label>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="card rounded-start rounded-end">
        <div class="row no-gutters">
            <div class="col-sm-4">
                <img class="card-img" src="../assets/img/casa.jpeg" width="100%" height="100%">
            </div>
            <div class="col-sm-4">
                <div class="card-body">
                    <h5 class="card-title">Titulo Anuncio</h5>
                    <p class="card-text gap-2">Descripción Básica</p>
                    <p class="card-text">Estatus del Inmueble</p>
                    <!-- <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                      <div class="progress-bar bg-info text-dark" style="width: 50%">50%</div>
                    </div> -->
                </div>
            </div>
            <div class="col-sm-4 " style="display: flex;
            align-items: center;
            justify-content: center;">
              <div class="d-grid gap-2">
                <button class="btn btn-primary" disabled type="button">Visualizaciones</button>
                <button class="btn btn-primary" disabled type="button">Interesados</button>
              </div>
              
            </div>
           
        </div>
        <hr>
    </div>
    </div>
  </div>