<section class="vh-100">
    <div class="container-fluid">
         <div class="row">
             <div class="col-sm-6 text-black">
                 <div class="px-5 ms-xl-4">
                    <a  class="navbar-brand" (click)="home()" ><img class="me-4" src="assets/img/logo.png" width="100px" height="100px"  ></a>
                     <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
                    
                 </div>
                 <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
                     <form  [formGroup]="formRegistro" style="width: 23rem;">
                         <h1 class="display-1" > Registro</h1>
                          <div class="form-outline mb-4">

                            <input matInput formControlName="p_nombres" type="text" id="nombres" name="nombres" ngModel required class="form-control"  aria-describedby="nombresHelp" placeholder="Nombres:" required>
                           </div>
                          <div class="form-outline mb-4">

                            <input  matInput formControlName="p_a_paterno" type="text" id="apellido_paterno" name="apellido_paterno" ngModel required    class="form-control"  aria-describedby="apellidoHelp" placeholder="Apellido Paterno:" required>

                          </div>
                          <div class="form-outline mb-4">

                            <input  matInput formControlName="p_a_materno" type="text" id="apellido_materno" name="apellido_materno" ngModel required    class="form-control"  aria-describedby="apellidoHelp" placeholder="Apellido Materno:" required>
                        </div>
                        <div class="form-outline mb-4">
                            <input  matInput formControlName="p_nom_usuario" type="text" id="usuario" name="usuario" required class="form-control"  aria-describedby="UsuarioHelp" placeholder="Usuario:" required >
                        </div>

                        <div class="form-outline mb-4">
                          <input matInput formControlName="p_contrasena" type="password" id="contraseña" class="form-control" placeholder="Contraseña" required>
                          
                          <!-- Verifica que formulario.get('p_contrasena') no sea nulo antes de acceder a .hasError() -->
                          <div *ngIf="formRegistro.get('p_contrasena')?.hasError('required')">
                            La contraseña es requerida.
                          </div>
                          <div *ngIf="formRegistro.get('p_contrasena')?.hasError('minLength')">
                            La contraseña debe tener al menos 8 caracteres.
                          </div>
                          <div *ngIf="formRegistro.get('p_contrasena')?.hasError('requireNumber')">
                            La contraseña debe contener al menos un número.
                          </div>
                          <div *ngIf="formRegistro.get('p_contrasena')?.hasError('requireLetter')">
                            La contraseña debe contener al menos una letra.
                          </div>
                          <div *ngIf="formRegistro.get('p_contrasena')?.hasError('requireUppercase')">
                            La contraseña debe contener al menos una letra mayúscula.
                          </div>
                        </div>
                        <div class="form-outline mb-4">
                          <input matInput formControlName="p_correo" type="email" id="correo" class="form-control" placeholder="Correo electrónico" required>
                          <div *ngIf="formRegistro.get('p_correo')?.hasError('required')">
                            El correo electrónico es requerido.
                          </div>
                          <div *ngIf="formRegistro.get('p_correo')?.hasError('email')">
                            Ingresa una dirección de correo electrónico válida.
                          </div>
                        </div>
                          
                         <!-- <div class="form-outline mb-4">
                            <input  matInput formControlName="p_tel_fijo"   type="tel" id="telefono_fijo" name="telefono_fijo" class="form-control" aria-describedby="telefonoHelp" placeholder="Telefono" required>
                         </div> -->
                         <div class="form-outline mb-4">
                          <input matInput formControlName="p_tel_fijo" type="tel" id="telefono" class="form-control" placeholder="Número de teléfono" maxlength="10" required>
                          <div *ngIf="formRegistro.get('p_tel_fijo')?.hasError('required')">
                            El número de teléfono es requerido.
                          </div>
                          <div *ngIf="formRegistro.get('p_tel_fijo')?.hasError('invalidPhone')">
                            Ingresa un número de teléfono válido con 10 dígitos.
                          </div>
                        </div>
                      

                          <!-- <div class="form-outline mb-4" >
                            <input  matInput formControlName="p_cel" type="tel" id="celular" name="celular" class="form-control" aria-describedby="celularHelp" placeholder="Celular" required >

                          </div> -->

                          <div class="form-outline mb-4">
                            <input matInput formControlName="p_cel" type="tel" id="telefono" class="form-control" placeholder="Celular" maxlength="10" required>
                            <div *ngIf="formRegistro.get('p_cel')?.hasError('required')">
                              El número de teléfono es requerido.
                            </div>
                            <div *ngIf="formRegistro.get('p_cel')?.hasError('invalidPhone')">
                              Ingresa un número de teléfono válido con 10 dígitos.
                            </div>
                          </div>
                          <br>
              
                
 
                <div class="pt-1 mb-4">
               <button style="margin-right: 15px;" class="btn" style="background-color: #264D5E ; color: #ffffff;" type="submit" (click)="Registro()">Iniciar</button>

               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               <button  style="margin-right: 15px;" type="button" class="btn" style="background-color: red ; color: #ffffff;" type="button" (click)="home()">Cancelar</button>
             </div>
                     </form>
                 </div>
             </div>
             <div class="col-sm-6 px-0 d-none d-sm-block">
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
           <img src="assets/img/casita.png" class="object-fit-contain border rounded" alt="...">
             </div>
         </div>
     </div>
    
 </section>
 
 
 
 

