
.contact{
    padding: 4%;
    height: 400px;
}
.col-md-3{
    background:#264D5E ;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    color: white;
}
.contact-info{
    margin-top:10%;
}
.contact-info img{
    margin-bottom: 15%;
}
.contact-info h2{
    margin-bottom: 10%;
}
.col-md-9{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form label{
    font-weight:600;
}
.contact-form button{
    background: #575A5C;
    color: #fff;
    font-weight: 600;
    width: 25%;
}
.contact-form button:focus{
    box-shadow:none;
}
@media (max-width: 767px) {
    /* Agrega estilos para pantallas más pequeñas */
    .col-md-3,
    .col-md-9 {
        width: 100%; /* Ajusta el ancho al 100% en pantallas más pequeñas */
        border-radius: 0; /* Elimina la redondez de los bordes */
        padding: 4%; /* Puedes ajustar esto según sea necesario */
    }

    .contact-form button {
        width: 100%; /* Ajusta el ancho del botón al 100% en pantallas más pequeñas */
    }
 }