.like-input {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.like-input label {
    margin-right: 10px;
}

.like-input input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
}

.like-icon {
    color: #3498db;
    font-size: 24px;
    margin-left: 5px;
}