<app-menu></app-menu>



    <video class="object-fit-cover container-video"  loop autoplay >


        <source src="https://inmobiliaria.arvispace.com/recursos/videos/VideoInmobewiseWeb.mp4" type="video/mp4">

       

    </video>


<app-buscador></app-buscador>
<br>
<br>
<app-atajos></app-atajos>
<app-descarga></app-descarga>

<div *ngIf="showCookiePopup" class="cookie-popup">
        <p>Este sitio web utiliza cookies. Al continuar utilizando este sitio, aceptas su uso.</p>
        <button class="cssbutton" mat-raised-button       (click)="acceptCookies()">Aceptar cookies</button>
      </div>
<app-footer></app-footer>