<p>web works!</p>

<div class="row">

    <div class="col-sm-6 col-md-8 contenedorbusca" style="background-color:red;">
        <img class="imagacomo"src="http://localhost/Multimedia/Imagenes/3.jpg">
    </div>

    <div class="col-sm-6 col-md-12 contenedorbusca2">

        <section>
          <div class="example-label">Flat</div>
          <div class="example-button-row">
            <button mat-flat-button> <mat-icon>search</mat-icon>  Basic</button>
           
          </div>
        </section>

        <button type="button" (click)="openLogin()">Login</button>


        


    </div>
</div>
 